In [1]:

import numpy as np
import pandas as pd


from sklearn.preprocessing import OneHotEncoder as onehot

from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_train = pd.read_csv("springleaf-marketing-response/train.csv.zip")

In [77]:
df_traincp = df_train.copy()

In [ ]:
df_traincp.shape
print()
df_traincp.head()
print()
df_traincp.dtypes.value_counts()
print()
df_traincp.describe()
print()
df_traincp.info()

In [48]:
df_traincp.drop('ID', axis = 'columns', inplace=True)

In [67]:
df_traincp['target'].value_counts()

0    111458
1     33773
Name: target, dtype: int64

In [72]:
df_traincp.replace([np.inf, -np.inf], np.nan)

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,2,H,224,0,4300,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
1,4,H,7,53,4448,B,1.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
2,5,H,116,3,3464,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
3,7,H,240,300,3200,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,RCC,0
4,8,R,72,261,2000,N,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,290457,H,276,144,3000,C,2.0,3.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145227,290458,R,39,414,2821,C,3.0,1.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0
145228,290459,R,103,31,2604,B,1.0,1.0,False,False,...,98,98,998,999999998,998,998,9998,9998,BRANCH,0
145229,290461,H,78,12,4325,C,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,1
145230,290463,H,228,120,18500,B,0.0,0.0,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0

In [75]:
df_train.shape

(145231, 1934)

In [73]:
print("--Current memory usage (MB) --\n")
df_traincp.memory_usage().sum()/1000000

--Current memory usage (MB) --

2247.01416

In [76]:
for column in df_traincp:
    if df_traincp[column].dtypes == 'int64':
        print("int:", column)
        df_traincp[column]=df_traincp[column].astype('uint8')
    elif df_traincp[column].dtypes == 'float64':
        print("float:", column)
        df_traincp[column]=df_traincp[column].astype('uint8')
df_traincp.dtypes.value_counts()

int: ID
int: VAR_0002
int: VAR_0003
int: VAR_0004
float: VAR_0006

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [12]:
print("--Revised memory usage (MB) --\n")
df_traincp.memory_usage().sum()/1000000

--Revised memory usage (MB) --

605.90386

In [ ]:
#df1_train=df_train
#df1_train

In [74]:
for column in df_traincp:
    column
    print("No. of unique values:", df_traincp[column].nunique())
    print("No.of Null Values:", df_traincp[column].isnull().sum())
    
    if df_traincp[column].nunique()==1:
        df_traincp.drop(column, axis='columns', inplace=True)
    elif df_traincp[column].isnull().sum()/len(df_traincp[column])>=0.6:
        df_traincp.drop(column, axis='columns', inplace=True)

'ID'

No. of unique values: 145231
No.of Null Values: 0

'VAR_0001'

No. of unique values: 3
No.of Null Values: 0

'VAR_0002'

No. of unique values: 820
No.of Null Values: 0

'VAR_0003'

No. of unique values: 588
No.of Null Values: 0

'VAR_0004'

No. of unique values: 7935
No.of Null Values: 0

'VAR_0005'

No. of unique values: 4
No.of Null Values: 0

'VAR_0006'

No. of unique values: 37
No.of Null Values: 56

'VAR_0007'

No. of unique values: 35
No.of Null Values: 56

'VAR_0008'

No. of unique values: 1
No.of Null Values: 56

'VAR_0009'

No. of unique values: 1
No.of Null Values: 56

'VAR_0010'

No. of unique values: 1
No.of Null Values: 56

'VAR_0011'

No. of unique values: 1
No.of Null Values: 56

'VAR_0012'

No. of unique values: 1
No.of Null Values: 56

'VAR_0013'

No. of unique values: 37
No.of Null Values: 56

'VAR_0014'

No. of unique values: 37
No.of Null Values: 56

'VAR_0015'

No. of unique values: 26
No.of Null Values: 56

'VAR_0016'

No. of unique values: 29
No.of Null Values: 56

'VAR_0017'

No. of unique values: 25
No.of Null Values: 56

'VAR_0018'

No. of unique values: 1
No.of Null Values: 56

'VAR_0019'

No. of unique values: 1
No.of Null Values: 56

'VAR_0020'

No. of unique values: 1
No.of Null Values: 56

'VAR_0021'

No. of unique values: 1
No.of Null Values: 56

'VAR_0022'

No. of unique values: 1
No.of Null Values: 56

'VAR_0023'

No. of unique values: 1
No.of Null Values: 56

'VAR_0024'

No. of unique values: 1
No.of Null Values: 56

'VAR_0025'

No. of unique values: 1
No.of Null Values: 56

'VAR_0026'

No. of unique values: 1
No.of Null Values: 56

'VAR_0027'

No. of unique values: 1
No.of Null Values: 56

'VAR_0028'

No. of unique values: 1
No.of Null Values: 56

'VAR_0029'

No. of unique values: 1
No.of Null Values: 56

'VAR_0030'

No. of unique values: 1
No.of Null Values: 56

'VAR_0031'

No. of unique values: 1
No.of Null Values: 56

'VAR_0032'

No. of unique values: 1
No.of Null Values: 56

'VAR_0033'

No. of unique values: 25
No.of Null Values: 56

'VAR_0034'

No. of unique values: 32
No.of Null Values: 56

'VAR_0035'

No. of unique values: 33
No.of Null Values: 56

'VAR_0036'

No. of unique values: 23
No.of Null Values: 56

'VAR_0037'

No. of unique values: 18
No.of Null Values: 56

'VAR_0038'

No. of unique values: 1
No.of Null Values: 56

'VAR_0039'

No. of unique values: 1
No.of Null Values: 56

'VAR_0040'

No. of unique values: 1
No.of Null Values: 56

'VAR_0041'

No. of unique values: 1
No.of Null Values: 56

'VAR_0042'

No. of unique values: 1
No.of Null Values: 56

'VAR_0043'

No. of unique values: 1
No.of Null Values: 56

'VAR_0044'

No. of unique values: 1
No.of Null Values: 56

'VAR_0045'

No. of unique values: 5
No.of Null Values: 56

'VAR_0046'

No. of unique values: 8
No.of Null Values: 56

'VAR_0047'

No. of unique values: 12
No.of Null Values: 56

'VAR_0048'

No. of unique values: 14
No.of Null Values: 56

'VAR_0049'

No. of unique values: 28
No.of Null Values: 56

'VAR_0050'

No. of unique values: 38
No.of Null Values: 56

'VAR_0051'

No. of unique values: 40
No.of Null Values: 56

'VAR_0052'

No. of unique values: 9
No.of Null Values: 56

'VAR_0053'

No. of unique values: 11
No.of Null Values: 56

'VAR_0054'

No. of unique values: 13
No.of Null Values: 56

'VAR_0055'

No. of unique values: 15
No.of Null Values: 56

'VAR_0056'

No. of unique values: 21
No.of Null Values: 56

'VAR_0057'

No. of unique values: 24
No.of Null Values: 56

'VAR_0058'

No. of unique values: 25
No.of Null Values: 56

'VAR_0059'

No. of unique values: 40
No.of Null Values: 56

'VAR_0060'

No. of unique values: 60
No.of Null Values: 56

'VAR_0061'

No. of unique values: 79
No.of Null Values: 56

'VAR_0062'

No. of unique values: 92
No.of Null Values: 56

'VAR_0063'

No. of unique values: 152
No.of Null Values: 56

'VAR_0064'

No. of unique values: 173
No.of Null Values: 56

'VAR_0065'

No. of unique values: 185
No.of Null Values: 56

'VAR_0066'

No. of unique values: 116
No.of Null Values: 56

'VAR_0067'

No. of unique values: 202
No.of Null Values: 56

'VAR_0068'

No. of unique values: 260
No.of Null Values: 56

'VAR_0069'

No. of unique values: 301
No.of Null Values: 56

'VAR_0070'

No. of unique values: 470
No.of Null Values: 56

'VAR_0071'

No. of unique values: 596
No.of Null Values: 56

'VAR_0072'

No. of unique values: 668
No.of Null Values: 56

'VAR_0073'

No. of unique values: 1458
No.of Null Values: 101127

'VAR_0074'

No. of unique values: 4564
No.of Null Values: 101127

'VAR_0075'

No. of unique values: 2371
No.of Null Values: 56

'VAR_0076'

No. of unique values: 116
No.of Null Values: 56

'VAR_0077'

No. of unique values: 205
No.of Null Values: 56

'VAR_0078'

No. of unique values: 266
No.of Null Values: 56

'VAR_0079'

No. of unique values: 308
No.of Null Values: 56

'VAR_0080'

No. of unique values: 480
No.of Null Values: 56

'VAR_0081'

No. of unique values: 592
No.of Null Values: 56

'VAR_0082'

No. of unique values: 681
No.of Null Values: 56

'VAR_0083'

No. of unique values: 116
No.of Null Values: 56

'VAR_0084'

No. of unique values: 204
No.of Null Values: 56

'VAR_0085'

No. of unique values: 263
No.of Null Values: 56

'VAR_0086'

No. of unique values: 312
No.of Null Values: 56

'VAR_0087'

No. of unique values: 478
No.of Null Values: 56

'VAR_0088'

No. of unique values: 615
No.of Null Values: 56

'VAR_0089'

No. of unique values: 685
No.of Null Values: 56

'VAR_0090'

No. of unique values: 3
No.of Null Values: 91

'VAR_0091'

No. of unique values: 3
No.of Null Values: 91

'VAR_0092'

No. of unique values: 4
No.of Null Values: 91

'VAR_0093'

No. of unique values: 6
No.of Null Values: 91

'VAR_0094'

No. of unique values: 6
No.of Null Values: 91

'VAR_0095'

No. of unique values: 7
No.of Null Values: 91

'VAR_0096'

No. of unique values: 7
No.of Null Values: 91

'VAR_0097'

No. of unique values: 10
No.of Null Values: 91

'VAR_0098'

No. of unique values: 2
No.of Null Values: 91

'VAR_0099'

No. of unique values: 3
No.of Null Values: 91

'VAR_0100'

No. of unique values: 5
No.of Null Values: 91

'VAR_0101'

No. of unique values: 7
No.of Null Values: 91

'VAR_0102'

No. of unique values: 8
No.of Null Values: 91

'VAR_0103'

No. of unique values: 10
No.of Null Values: 91

'VAR_0104'

No. of unique values: 12
No.of Null Values: 91

'VAR_0105'

No. of unique values: 15
No.of Null Values: 91

'VAR_0106'

No. of unique values: 2
No.of Null Values: 91

'VAR_0107'

No. of unique values: 3
No.of Null Values: 91

'VAR_0108'

No. of unique values: 4
No.of Null Values: 91

'VAR_0109'

No. of unique values: 7
No.of Null Values: 91

'VAR_0110'

No. of unique values: 8
No.of Null Values: 91

'VAR_0111'

No. of unique values: 9
No.of Null Values: 91

'VAR_0112'

No. of unique values: 9
No.of Null Values: 91

'VAR_0113'

No. of unique values: 12
No.of Null Values: 91

'VAR_0114'

No. of unique values: 2
No.of Null Values: 91

'VAR_0115'

No. of unique values: 3
No.of Null Values: 91

'VAR_0116'

No. of unique values: 4
No.of Null Values: 91

'VAR_0117'

No. of unique values: 7
No.of Null Values: 91

'VAR_0118'

No. of unique values: 11
No.of Null Values: 91

'VAR_0119'

No. of unique values: 14
No.of Null Values: 91

'VAR_0120'

No. of unique values: 15
No.of Null Values: 91

'VAR_0121'

No. of unique values: 19
No.of Null Values: 91

'VAR_0122'

No. of unique values: 3
No.of Null Values: 91

'VAR_0123'

No. of unique values: 4
No.of Null Values: 91

'VAR_0124'

No. of unique values: 4
No.of Null Values: 91

'VAR_0125'

No. of unique values: 8
No.of Null Values: 91

'VAR_0126'

No. of unique values: 9
No.of Null Values: 91

'VAR_0127'

No. of unique values: 11
No.of Null Values: 91

'VAR_0128'

No. of unique values: 12
No.of Null Values: 91

'VAR_0129'

No. of unique values: 16
No.of Null Values: 91

'VAR_0130'

No. of unique values: 2
No.of Null Values: 91

'VAR_0131'

No. of unique values: 4
No.of Null Values: 91

'VAR_0132'

No. of unique values: 7
No.of Null Values: 91

'VAR_0133'

No. of unique values: 16
No.of Null Values: 91

'VAR_0134'

No. of unique values: 25
No.of Null Values: 91

'VAR_0135'

No. of unique values: 35
No.of Null Values: 91

'VAR_0136'

No. of unique values: 40
No.of Null Values: 91

'VAR_0137'

No. of unique values: 57
No.of Null Values: 91

'VAR_0138'

No. of unique values: 2
No.of Null Values: 91

'VAR_0139'

No. of unique values: 3
No.of Null Values: 91

'VAR_0140'

No. of unique values: 5
No.of Null Values: 91

'VAR_0141'

No. of unique values: 10
No.of Null Values: 91

'VAR_0142'

No. of unique values: 13
No.of Null Values: 91

'VAR_0143'

No. of unique values: 17
No.of Null Values: 91

'VAR_0144'

No. of unique values: 19
No.of Null Values: 91

'VAR_0145'

No. of unique values: 23
No.of Null Values: 91

'VAR_0146'

No. of unique values: 5
No.of Null Values: 89

'VAR_0147'

No. of unique values: 570
No.of Null Values: 89

'VAR_0148'

No. of unique values: 7
No.of Null Values: 89

'VAR_0149'

No. of unique values: 418
No.of Null Values: 89

'VAR_0150'

No. of unique values: 4
No.of Null Values: 89

'VAR_0151'

No. of unique values: 12
No.of Null Values: 89

'VAR_0152'

No. of unique values: 13
No.of Null Values: 89

'VAR_0153'

No. of unique values: 4
No.of Null Values: 89

'VAR_0154'

No. of unique values: 1662
No.of Null Values: 89

'VAR_0155'

No. of unique values: 700
No.of Null Values: 89

'VAR_0156'

No. of unique values: 730
No.of Null Values: 139361

'VAR_0157'

No. of unique values: 424
No.of Null Values: 144311

'VAR_0158'

No. of unique values: 407
No.of Null Values: 143142

'VAR_0159'

No. of unique values: 650
No.of Null Values: 139361

'VAR_0160'

No. of unique values: 7
No.of Null Values: 89

'VAR_0161'

No. of unique values: 65
No.of Null Values: 89

'VAR_0162'

No. of unique values: 8
No.of Null Values: 89

'VAR_0163'

No. of unique values: 4
No.of Null Values: 89

'VAR_0164'

No. of unique values: 1602
No.of Null Values: 89

'VAR_0165'

No. of unique values: 591
No.of Null Values: 89

'VAR_0166'

No. of unique values: 2145
No.of Null Values: 131001

'VAR_0167'

No. of unique values: 853
No.of Null Values: 142664

'VAR_0168'

No. of unique values: 1645
No.of Null Values: 134506

'VAR_0169'

No. of unique values: 1908
No.of Null Values: 131001

'VAR_0170'

No. of unique values: 8
No.of Null Values: 89

'VAR_0171'

No. of unique values: 65
No.of Null Values: 89

'VAR_0172'

No. of unique values: 13
No.of Null Values: 89

'VAR_0173'

No. of unique values: 4
No.of Null Values: 89

'VAR_0174'

No. of unique values: 2245
No.of Null Values: 89

'VAR_0175'

No. of unique values: 1074
No.of Null Values: 89

'VAR_0176'

No. of unique values: 2163
No.of Null Values: 127699

'VAR_0177'

No. of unique values: 945
No.of Null Values: 141873

'VAR_0178'

No. of unique values: 1648
No.of Null Values: 133158

'VAR_0179'

No. of unique values: 1875
No.of Null Values: 127699

'VAR_0180'

No. of unique values: 2
No.of Null Values: 89

'VAR_0181'

No. of unique values: 2
No.of Null Values: 89

'VAR_0182'

No. of unique values: 2
No.of Null Values: 89

'VAR_0183'

No. of unique values: 3
No.of Null Values: 89

'VAR_0184'

No. of unique values: 5
No.of Null Values: 89

'VAR_0185'

No. of unique values: 5
No.of Null Values: 89

'VAR_0186'

No. of unique values: 5
No.of Null Values: 89

'VAR_0187'

No. of unique values: 9
No.of Null Values: 89

'VAR_0188'

No. of unique values: 1
No.of Null Values: 89

'VAR_0189'

No. of unique values: 1
No.of Null Values: 89

'VAR_0190'

No. of unique values: 1
No.of Null Values: 89

'VAR_0191'

No. of unique values: 2
No.of Null Values: 89

'VAR_0192'

No. of unique values: 3
No.of Null Values: 89

'VAR_0193'

No. of unique values: 4
No.of Null Values: 89

'VAR_0194'

No. of unique values: 4
No.of Null Values: 89

'VAR_0195'

No. of unique values: 5
No.of Null Values: 89

'VAR_0196'

No. of unique values: 1
No.of Null Values: 56

'VAR_0197'

No. of unique values: 1
No.of Null Values: 56

'VAR_0198'

No. of unique values: 85
No.of Null Values: 56

'VAR_0199'

No. of unique values: 1
No.of Null Values: 56

'VAR_0200'

No. of unique values: 12385
No.of Null Values: 60

'VAR_0201'

No. of unique values: 40
No.of Null Values: 56

'VAR_0202'

No. of unique values: 1
No.of Null Values: 56

'VAR_0203'

No. of unique values: 1
No.of Null Values: 56

'VAR_0204'

No. of unique values: 1192
No.of Null Values: 56

'VAR_0205'

No. of unique values: 750
No.of Null Values: 142974

'VAR_0206'

No. of unique values: 503
No.of Null Values: 142903

'VAR_0207'

No. of unique values: 0
No.of Null Values: 145231

'VAR_0208'

No. of unique values: 392
No.of Null Values: 125775

'VAR_0209'

No. of unique values: 1108
No.of Null Values: 135844

'VAR_0210'

No. of unique values: 392
No.of Null Values: 125775

'VAR_0211'

No. of unique values: 392
No.of Null Values: 125775

'VAR_0212'

No. of unique values: 128761
No.of Null Values: 12550

'VAR_0213'

No. of unique values: 0
No.of Null Values: 145231

'VAR_0214'

No. of unique values: 12
No.of Null Values: 145219

'VAR_0215'

No. of unique values: 1
No.of Null Values: 56

'VAR_0216'

No. of unique values: 1
No.of Null Values: 56

'VAR_0217'

No. of unique values: 397
No.of Null Values: 56

'VAR_0219'

No. of unique values: 5
No.of Null Values: 56

'VAR_0220'

No. of unique values: 8
No.of Null Values: 56

'VAR_0221'

No. of unique values: 1
No.of Null Values: 56

'VAR_0222'

No. of unique values: 1
No.of Null Values: 56

'VAR_0223'

No. of unique values: 1
No.of Null Values: 56

'VAR_0224'

No. of unique values: 358
No.of Null Values: 56

'VAR_0225'

No. of unique values: 413
No.of Null Values: 56

'VAR_0226'

No. of unique values: 2
No.of Null Values: 56

'VAR_0227'

No. of unique values: 145171
No.of Null Values: 56

'VAR_0228'

No. of unique values: 145171
No.of Null Values: 56

'VAR_0229'

No. of unique values: 1
No.of Null Values: 56

'VAR_0230'

No. of unique values: 2
No.of Null Values: 56

'VAR_0231'

No. of unique values: 19
No.of Null Values: 56

'VAR_0232'

No. of unique values: 2
No.of Null Values: 56

'VAR_0233'

No. of unique values: 632
No.of Null Values: 56

'VAR_0234'

No. of unique values: 669
No.of Null Values: 56

'VAR_0235'

No. of unique values: 652
No.of Null Values: 56

'VAR_0236'

No. of unique values: 2
No.of Null Values: 56

'VAR_0237'

No. of unique values: 45
No.of Null Values: 56

'VAR_0238'

No. of unique values: 685
No.of Null Values: 56

'VAR_0239'

No. of unique values: 1
No.of Null Values: 56

'VAR_0241'

No. of unique values: 16646
No.of Null Values: 56

'VAR_0242'

No. of unique values: 668
No.of Null Values: 918

'VAR_0243'

No. of unique values: 132
No.of Null Values: 918

'VAR_0244'

No. of unique values: 2
No.of Null Values: 918

'VAR_0245'

No. of unique values: 12
No.of Null Values: 918

'VAR_0246'

No. of unique values: 1
No.of Null Values: 918

'VAR_0247'

No. of unique values: 2
No.of Null Values: 918

'VAR_0248'

No. of unique values: 3
No.of Null Values: 918

'VAR_0249'

No. of unique values: 4
No.of Null Values: 918

'VAR_0250'

No. of unique values: 4
No.of Null Values: 918

'VAR_0251'

No. of unique values: 4
No.of Null Values: 918

'VAR_0252'

No. of unique values: 3
No.of Null Values: 918

'VAR_0253'

No. of unique values: 8
No.of Null Values: 918

'VAR_0254'

No. of unique values: 92
No.of Null Values: 918

'VAR_0255'

No. of unique values: 92
No.of Null Values: 918

'VAR_0256'

No. of unique values: 22
No.of Null Values: 918

'VAR_0257'

No. of unique values: 52
No.of Null Values: 918

'VAR_0258'

No. of unique values: 8
No.of Null Values: 918

'VAR_0259'

No. of unique values: 4
No.of Null Values: 918

'VAR_0260'

No. of unique values: 9
No.of Null Values: 918

'VAR_0261'

No. of unique values: 5
No.of Null Values: 918

'VAR_0262'

No. of unique values: 23
No.of Null Values: 918

'VAR_0263'

No. of unique values: 51
No.of Null Values: 918

'VAR_0264'

No. of unique values: 4
No.of Null Values: 918

'VAR_0265'

No. of unique values: 4
No.of Null Values: 918

'VAR_0266'

No. of unique values: 59
No.of Null Values: 918

'VAR_0267'

No. of unique values: 45
No.of Null Values: 918

'VAR_0268'

No. of unique values: 7
No.of Null Values: 918

'VAR_0269'

No. of unique values: 5
No.of Null Values: 918

'VAR_0270'

No. of unique values: 43
No.of Null Values: 918

'VAR_0271'

No. of unique values: 3
No.of Null Values: 918

'VAR_0272'

No. of unique values: 757
No.of Null Values: 918

'VAR_0273'

No. of unique values: 729
No.of Null Values: 918

'VAR_0274'

No. of unique values: 57
No.of Null Values: 918

'VAR_0275'

No. of unique values: 3
No.of Null Values: 918

'VAR_0276'

No. of unique values: 3
No.of Null Values: 918

'VAR_0277'

No. of unique values: 3
No.of Null Values: 918

'VAR_0278'

No. of unique values: 7
No.of Null Values: 918

'VAR_0279'

No. of unique values: 636
No.of Null Values: 918

'VAR_0280'

No. of unique values: 190
No.of Null Values: 918

'VAR_0281'

No. of unique values: 3
No.of Null Values: 918

'VAR_0282'

No. of unique values: 636
No.of Null Values: 918

'VAR_0283'

No. of unique values: 7
No.of Null Values: 918

'VAR_0284'

No. of unique values: 5
No.of Null Values: 918

'VAR_0285'

No. of unique values: 3
No.of Null Values: 918

'VAR_0286'

No. of unique values: 3
No.of Null Values: 918

'VAR_0287'

No. of unique values: 3
No.of Null Values: 918

'VAR_0288'

No. of unique values: 692
No.of Null Values: 918

'VAR_0289'

No. of unique values: 5135
No.of Null Values: 918

'VAR_0290'

No. of unique values: 4
No.of Null Values: 918

'VAR_0291'

No. of unique values: 3
No.of Null Values: 918

'VAR_0292'

No. of unique values: 3
No.of Null Values: 918

'VAR_0293'

No. of unique values: 41175
No.of Null Values: 918

'VAR_0294'

No. of unique values: 18
No.of Null Values: 918

'VAR_0295'

No. of unique values: 31113
No.of Null Values: 918

'VAR_0296'

No. of unique values: 40598
No.of Null Values: 918

'VAR_0297'

No. of unique values: 38862
No.of Null Values: 918

'VAR_0298'

No. of unique values: 32647
No.of Null Values: 918

'VAR_0299'

No. of unique values: 579
No.of Null Values: 918

'VAR_0300'

No. of unique values: 620
No.of Null Values: 918

'VAR_0301'

No. of unique values: 619
No.of Null Values: 918

'VAR_0302'

No. of unique values: 630
No.of Null Values: 918

'VAR_0303'

No. of unique values: 203
No.of Null Values: 918

'VAR_0304'

No. of unique values: 629
No.of Null Values: 918

'VAR_0305'

No. of unique values: 8
No.of Null Values: 918

'VAR_0306'

No. of unique values: 3
No.of Null Values: 918

'VAR_0307'

No. of unique values: 3
No.of Null Values: 918

'VAR_0308'

No. of unique values: 3
No.of Null Values: 918

'VAR_0309'

No. of unique values: 688
No.of Null Values: 918

'VAR_0310'

No. of unique values: 5021
No.of Null Values: 918

'VAR_0311'

No. of unique values: 4
No.of Null Values: 918

'VAR_0312'

No. of unique values: 3
No.of Null Values: 918

'VAR_0313'

No. of unique values: 39591
No.of Null Values: 918

'VAR_0314'

No. of unique values: 18
No.of Null Values: 918

'VAR_0315'

No. of unique values: 29816
No.of Null Values: 918

'VAR_0316'

No. of unique values: 38547
No.of Null Values: 918

'VAR_0317'

No. of unique values: 36978
No.of Null Values: 918

'VAR_0318'

No. of unique values: 31303
No.of Null Values: 918

'VAR_0319'

No. of unique values: 582
No.of Null Values: 918

'VAR_0320'

No. of unique values: 619
No.of Null Values: 918

'VAR_0321'

No. of unique values: 615
No.of Null Values: 918

'VAR_0322'

No. of unique values: 562
No.of Null Values: 918

'VAR_0323'

No. of unique values: 368
No.of Null Values: 918

'VAR_0324'

No. of unique values: 543
No.of Null Values: 918

'VAR_0325'

No. of unique values: 9
No.of Null Values: 918

'VAR_0326'

No. of unique values: 3
No.of Null Values: 918

'VAR_0327'

No. of unique values: 3
No.of Null Values: 918

'VAR_0328'

No. of unique values: 3
No.of Null Values: 918

'VAR_0329'

No. of unique values: 690
No.of Null Values: 918

'VAR_0330'

No. of unique values: 4338
No.of Null Values: 918

'VAR_0331'

No. of unique values: 32940
No.of Null Values: 918

'VAR_0332'

No. of unique values: 18
No.of Null Values: 918

'VAR_0333'

No. of unique values: 24087
No.of Null Values: 918

'VAR_0334'

No. of unique values: 30008
No.of Null Values: 918

'VAR_0335'

No. of unique values: 588
No.of Null Values: 918

'VAR_0336'

No. of unique values: 606
No.of Null Values: 918

'VAR_0337'

No. of unique values: 620
No.of Null Values: 918

'VAR_0338'

No. of unique values: 2810
No.of Null Values: 918

'VAR_0339'

No. of unique values: 3
No.of Null Values: 918

'VAR_0340'

No. of unique values: 22535
No.of Null Values: 918

'VAR_0341'

No. of unique values: 540
No.of Null Values: 918

'VAR_0342'

No. of unique values: 50
No.of Null Values: 918

'VAR_0343'

No. of unique values: 7
No.of Null Values: 918

'VAR_0344'

No. of unique values: 2
No.of Null Values: 918

'VAR_0345'

No. of unique values: 3
No.of Null Values: 918

'VAR_0346'

No. of unique values: 3
No.of Null Values: 918

'VAR_0347'

No. of unique values: 3
No.of Null Values: 918

'VAR_0348'

No. of unique values: 3
No.of Null Values: 918

'VAR_0349'

No. of unique values: 9
No.of Null Values: 918

'VAR_0350'

No. of unique values: 8
No.of Null Values: 927

'VAR_0351'

No. of unique values: 7
No.of Null Values: 918

'VAR_0352'

No. of unique values: 4
No.of Null Values: 918

'VAR_0353'

No. of unique values: 4
No.of Null Values: 918

'VAR_0354'

No. of unique values: 4
No.of Null Values: 918

'VAR_0355'

No. of unique values: 7
No.of Null Values: 918

'VAR_0356'

No. of unique values: 7
No.of Null Values: 918

'VAR_0357'

No. of unique values: 9
No.of Null Values: 918

'VAR_0358'

No. of unique values: 12
No.of Null Values: 918

'VAR_0359'

No. of unique values: 15
No.of Null Values: 918

'VAR_0360'

No. of unique values: 24
No.of Null Values: 918

'VAR_0361'

No. of unique values: 191
No.of Null Values: 918

'VAR_0362'

No. of unique values: 2
No.of Null Values: 918

'VAR_0363'

No. of unique values: 23
No.of Null Values: 918

'VAR_0364'

No. of unique values: 22326
No.of Null Values: 918

'VAR_0365'

No. of unique values: 26
No.of Null Values: 918

'VAR_0366'

No. of unique values: 621
No.of Null Values: 918

'VAR_0367'

No. of unique values: 588
No.of Null Values: 918

'VAR_0368'

No. of unique values: 253
No.of Null Values: 918

'VAR_0369'

No. of unique values: 3463
No.of Null Values: 918

'VAR_0370'

No. of unique values: 493
No.of Null Values: 918

'VAR_0371'

No. of unique values: 4
No.of Null Values: 918

'VAR_0372'

No. of unique values: 4
No.of Null Values: 918

'VAR_0373'

No. of unique values: 5
No.of Null Values: 918

'VAR_0374'

No. of unique values: 7
No.of Null Values: 918

'VAR_0375'

No. of unique values: 9
No.of Null Values: 918

'VAR_0376'

No. of unique values: 14
No.of Null Values: 918

'VAR_0377'

No. of unique values: 3
No.of Null Values: 918

'VAR_0378'

No. of unique values: 4
No.of Null Values: 918

'VAR_0379'

No. of unique values: 5
No.of Null Values: 918

'VAR_0380'

No. of unique values: 5
No.of Null Values: 918

'VAR_0381'

No. of unique values: 6
No.of Null Values: 918

'VAR_0382'

No. of unique values: 11
No.of Null Values: 918

'VAR_0383'

No. of unique values: 2
No.of Null Values: 918

'VAR_0384'

No. of unique values: 2
No.of Null Values: 918

'VAR_0385'

No. of unique values: 21
No.of Null Values: 918

'VAR_0386'

No. of unique values: 3
No.of Null Values: 918

'VAR_0387'

No. of unique values: 4
No.of Null Values: 918

'VAR_0388'

No. of unique values: 6
No.of Null Values: 918

'VAR_0389'

No. of unique values: 8
No.of Null Values: 918

'VAR_0390'

No. of unique values: 10
No.of Null Values: 918

'VAR_0391'

No. of unique values: 17
No.of Null Values: 918

'VAR_0392'

No. of unique values: 2
No.of Null Values: 918

'VAR_0393'

No. of unique values: 5
No.of Null Values: 918

'VAR_0394'

No. of unique values: 1
No.of Null Values: 918

'VAR_0395'

No. of unique values: 2
No.of Null Values: 918

'VAR_0396'

No. of unique values: 3
No.of Null Values: 918

'VAR_0397'

No. of unique values: 3
No.of Null Values: 918

'VAR_0398'

No. of unique values: 3
No.of Null Values: 918

'VAR_0399'

No. of unique values: 3
No.of Null Values: 918

'VAR_0400'

No. of unique values: 7
No.of Null Values: 918

'VAR_0401'

No. of unique values: 3
No.of Null Values: 918

'VAR_0402'

No. of unique values: 3
No.of Null Values: 918

'VAR_0403'

No. of unique values: 536
No.of Null Values: 918

'VAR_0404'

No. of unique values: 1823
No.of Null Values: 918

'VAR_0405'

No. of unique values: 6
No.of Null Values: 918

'VAR_0406'

No. of unique values: 69
No.of Null Values: 918

'VAR_0407'

No. of unique values: 31
No.of Null Values: 918

'VAR_0408'

No. of unique values: 104
No.of Null Values: 918

'VAR_0409'

No. of unique values: 11
No.of Null Values: 918

'VAR_0410'

No. of unique values: 86
No.of Null Values: 918

'VAR_0411'

No. of unique values: 2
No.of Null Values: 918

'VAR_0412'

No. of unique values: 3
No.of Null Values: 918

'VAR_0413'

No. of unique values: 5
No.of Null Values: 918

'VAR_0414'

No. of unique values: 6
No.of Null Values: 918

'VAR_0415'

No. of unique values: 7
No.of Null Values: 918

'VAR_0416'

No. of unique values: 11
No.of Null Values: 918

'VAR_0417'

No. of unique values: 51
No.of Null Values: 918

'VAR_0418'

No. of unique values: 43
No.of Null Values: 918

'VAR_0419'

No. of unique values: 86
No.of Null Values: 918

'VAR_0420'

No. of unique values: 4
No.of Null Values: 918

'VAR_0421'

No. of unique values: 9
No.of Null Values: 918

'VAR_0422'

No. of unique values: 13
No.of Null Values: 918

'VAR_0423'

No. of unique values: 18
No.of Null Values: 918

'VAR_0424'

No. of unique values: 26
No.of Null Values: 918

'VAR_0425'

No. of unique values: 36
No.of Null Values: 918

'VAR_0426'

No. of unique values: 26
No.of Null Values: 918

'VAR_0427'

No. of unique values: 86
No.of Null Values: 918

'VAR_0428'

No. of unique values: 3
No.of Null Values: 918

'VAR_0429'

No. of unique values: 6
No.of Null Values: 918

'VAR_0430'

No. of unique values: 9
No.of Null Values: 918

'VAR_0431'

No. of unique values: 11
No.of Null Values: 918

'VAR_0432'

No. of unique values: 16
No.of Null Values: 918

'VAR_0433'

No. of unique values: 25
No.of Null Values: 918

'VAR_0434'

No. of unique values: 11796
No.of Null Values: 918

'VAR_0435'

No. of unique values: 2261
No.of Null Values: 918

'VAR_0436'

No. of unique values: 3894
No.of Null Values: 918

'VAR_0437'

No. of unique values: 85
No.of Null Values: 918

'VAR_0438'

No. of unique values: 1
No.of Null Values: 918

'VAR_0439'

No. of unique values: 8269
No.of Null Values: 918

'VAR_0440'

No. of unique values: 4043
No.of Null Values: 918

'VAR_0441'

No. of unique values: 384
No.of Null Values: 918

'VAR_0442'

No. of unique values: 5971
No.of Null Values: 918

'VAR_0443'

No. of unique values: 978
No.of Null Values: 918

'VAR_0444'

No. of unique values: 2832
No.of Null Values: 918

'VAR_0445'

No. of unique values: 6
No.of Null Values: 918

'VAR_0446'

No. of unique values: 1
No.of Null Values: 918

'VAR_0447'

No. of unique values: 3587
No.of Null Values: 918

'VAR_0448'

No. of unique values: 1663
No.of Null Values: 918

'VAR_0449'

No. of unique values: 25
No.of Null Values: 918

'VAR_0450'

No. of unique values: 11
No.of Null Values: 918

'VAR_0451'

No. of unique values: 30
No.of Null Values: 918

'VAR_0452'

No. of unique values: 9
No.of Null Values: 918

'VAR_0453'

No. of unique values: 20
No.of Null Values: 918

'VAR_0454'

No. of unique values: 25
No.of Null Values: 918

'VAR_0455'

No. of unique values: 14
No.of Null Values: 918

'VAR_0456'

No. of unique values: 8
No.of Null Values: 918

'VAR_0457'

No. of unique values: 11
No.of Null Values: 918

'VAR_0458'

No. of unique values: 26
No.of Null Values: 918

'VAR_0459'

No. of unique values: 2
No.of Null Values: 918

'VAR_0460'

No. of unique values: 6
No.of Null Values: 918

'VAR_0461'

No. of unique values: 13
No.of Null Values: 918

'VAR_0462'

No. of unique values: 11
No.of Null Values: 918

'VAR_0463'

No. of unique values: 3
No.of Null Values: 918

'VAR_0464'

No. of unique values: 6
No.of Null Values: 918

'VAR_0465'

No. of unique values: 104
No.of Null Values: 918

'VAR_0466'

No. of unique values: 2
No.of Null Values: 918

'VAR_0467'

No. of unique values: 4
No.of Null Values: 918

'VAR_0468'

No. of unique values: 2
No.of Null Values: 918

'VAR_0469'

No. of unique values: 3
No.of Null Values: 918

'VAR_0470'

No. of unique values: 3
No.of Null Values: 918

'VAR_0471'

No. of unique values: 3
No.of Null Values: 918

'VAR_0472'

No. of unique values: 4
No.of Null Values: 918

'VAR_0473'

No. of unique values: 6
No.of Null Values: 918

'VAR_0474'

No. of unique values: 38
No.of Null Values: 918

'VAR_0475'

No. of unique values: 86
No.of Null Values: 918

'VAR_0476'

No. of unique values: 4
No.of Null Values: 918

'VAR_0477'

No. of unique values: 7
No.of Null Values: 918

'VAR_0478'

No. of unique values: 13
No.of Null Values: 918

'VAR_0479'

No. of unique values: 17
No.of Null Values: 918

'VAR_0480'

No. of unique values: 23
No.of Null Values: 918

'VAR_0481'

No. of unique values: 32
No.of Null Values: 918

'VAR_0482'

No. of unique values: 8
No.of Null Values: 918

'VAR_0483'

No. of unique values: 11
No.of Null Values: 918

'VAR_0484'

No. of unique values: 7
No.of Null Values: 918

'VAR_0485'

No. of unique values: 7
No.of Null Values: 918

'VAR_0486'

No. of unique values: 7
No.of Null Values: 918

'VAR_0487'

No. of unique values: 7
No.of Null Values: 918

'VAR_0488'

No. of unique values: 7
No.of Null Values: 918

'VAR_0489'

No. of unique values: 9
No.of Null Values: 918

'VAR_0490'

No. of unique values: 2
No.of Null Values: 918

'VAR_0491'

No. of unique values: 8
No.of Null Values: 918

'VAR_0492'

No. of unique values: 131
No.of Null Values: 918

'VAR_0493'

No. of unique values: 608
No.of Null Values: 918

'VAR_0494'

No. of unique values: 7
No.of Null Values: 918

'VAR_0495'

No. of unique values: 3
No.of Null Values: 918

'VAR_0496'

No. of unique values: 4
No.of Null Values: 918

'VAR_0497'

No. of unique values: 4
No.of Null Values: 918

'VAR_0498'

No. of unique values: 6
No.of Null Values: 918

'VAR_0499'

No. of unique values: 9
No.of Null Values: 918

'VAR_0500'

No. of unique values: 9
No.of Null Values: 918

'VAR_0501'

No. of unique values: 17
No.of Null Values: 918

'VAR_0502'

No. of unique values: 2
No.of Null Values: 918

'VAR_0503'

No. of unique values: 2
No.of Null Values: 918

'VAR_0504'

No. of unique values: 2
No.of Null Values: 918

'VAR_0505'

No. of unique values: 2
No.of Null Values: 918

'VAR_0506'

No. of unique values: 23
No.of Null Values: 918

'VAR_0507'

No. of unique values: 3
No.of Null Values: 918

'VAR_0508'

No. of unique values: 4
No.of Null Values: 918

'VAR_0509'

No. of unique values: 11
No.of Null Values: 918

'VAR_0510'

No. of unique values: 16
No.of Null Values: 918

'VAR_0511'

No. of unique values: 21
No.of Null Values: 918

'VAR_0512'

No. of unique values: 23
No.of Null Values: 918

'VAR_0513'

No. of unique values: 3
No.of Null Values: 918

'VAR_0514'

No. of unique values: 156
No.of Null Values: 918

'VAR_0515'

No. of unique values: 98
No.of Null Values: 918

'VAR_0516'

No. of unique values: 258
No.of Null Values: 918

'VAR_0517'

No. of unique values: 210
No.of Null Values: 918

'VAR_0518'

No. of unique values: 3
No.of Null Values: 918

'VAR_0519'

No. of unique values: 7
No.of Null Values: 918

'VAR_0520'

No. of unique values: 3
No.of Null Values: 918

'VAR_0521'

No. of unique values: 3
No.of Null Values: 918

'VAR_0522'

No. of unique values: 3
No.of Null Values: 918

'VAR_0523'

No. of unique values: 3
No.of Null Values: 918

'VAR_0524'

No. of unique values: 3
No.of Null Values: 918

'VAR_0525'

No. of unique values: 5
No.of Null Values: 918

'VAR_0526'

No. of unique values: 2
No.of Null Values: 917

'VAR_0527'

No. of unique values: 1
No.of Null Values: 918

'VAR_0528'

No. of unique values: 1
No.of Null Values: 918

'VAR_0529'

No. of unique values: 2
No.of Null Values: 917

'VAR_0530'

No. of unique values: 1
No.of Null Values: 918

'VAR_0531'

No. of unique values: 13
No.of Null Values: 917

'VAR_0532'

No. of unique values: 13
No.of Null Values: 0

'VAR_0533'

No. of unique values: 11
No.of Null Values: 0

'VAR_0534'

No. of unique values: 16
No.of Null Values: 0

'VAR_0535'

No. of unique values: 32
No.of Null Values: 0

'VAR_0536'

No. of unique values: 43
No.of Null Values: 0

'VAR_0537'

No. of unique values: 27
No.of Null Values: 0

'VAR_0538'

No. of unique values: 12
No.of Null Values: 0

'VAR_0539'

No. of unique values: 22
No.of Null Values: 0

'VAR_0540'

No. of unique values: 86
No.of Null Values: 0

'VAR_0541'

No. of unique values: 64229
No.of Null Values: 0

'VAR_0542'

No. of unique values: 14744
No.of Null Values: 0

'VAR_0543'

No. of unique values: 81073
No.of Null Values: 0

'VAR_0544'

No. of unique values: 6162
No.of Null Values: 0

'VAR_0545'

No. of unique values: 8
No.of Null Values: 0

'VAR_0546'

No. of unique values: 8
No.of Null Values: 0

'VAR_0547'

No. of unique values: 8
No.of Null Values: 0

'VAR_0548'

No. of unique values: 8
No.of Null Values: 0

'VAR_0549'

No. of unique values: 8
No.of Null Values: 0

'VAR_0550'

No. of unique values: 216
No.of Null Values: 0

'VAR_0551'

No. of unique values: 114
No.of Null Values: 0

'VAR_0552'

No. of unique values: 81
No.of Null Values: 0

'VAR_0553'

No. of unique values: 75
No.of Null Values: 0

'VAR_0554'

No. of unique values: 349
No.of Null Values: 0

'VAR_0555'

No. of unique values: 87
No.of Null Values: 0

'VAR_0556'

No. of unique values: 86
No.of Null Values: 0

'VAR_0557'

No. of unique values: 85
No.of Null Values: 0

'VAR_0558'

No. of unique values: 86
No.of Null Values: 0

'VAR_0559'

No. of unique values: 83
No.of Null Values: 0

'VAR_0560'

No. of unique values: 83
No.of Null Values: 0

'VAR_0561'

No. of unique values: 179
No.of Null Values: 0

'VAR_0562'

No. of unique values: 17
No.of Null Values: 0

'VAR_0563'

No. of unique values: 2
No.of Null Values: 0

'VAR_0564'

No. of unique values: 9
No.of Null Values: 0

'VAR_0565'

No. of unique values: 17
No.of Null Values: 0

'VAR_0566'

No. of unique values: 2
No.of Null Values: 0

'VAR_0567'

No. of unique values: 2
No.of Null Values: 0

'VAR_0568'

No. of unique values: 19
No.of Null Values: 0

'VAR_0569'

No. of unique values: 14
No.of Null Values: 0

'VAR_0570'

No. of unique values: 84
No.of Null Values: 0

'VAR_0571'

No. of unique values: 7163
No.of Null Values: 0

'VAR_0572'

No. of unique values: 19
No.of Null Values: 0

'VAR_0573'

No. of unique values: 171
No.of Null Values: 0

'VAR_0574'

No. of unique values: 221
No.of Null Values: 0

'VAR_0575'

No. of unique values: 1377
No.of Null Values: 0

'VAR_0576'

No. of unique values: 1302
No.of Null Values: 0

'VAR_0577'

No. of unique values: 1069
No.of Null Values: 0

'VAR_0578'

No. of unique values: 227
No.of Null Values: 0

'VAR_0579'

No. of unique values: 364
No.of Null Values: 0

'VAR_0580'

No. of unique values: 25
No.of Null Values: 0

'VAR_0581'

No. of unique values: 30
No.of Null Values: 0

'VAR_0582'

No. of unique values: 30
No.of Null Values: 0

'VAR_0583'

No. of unique values: 10261
No.of Null Values: 0

'VAR_0584'

No. of unique values: 3127
No.of Null Values: 0

'VAR_0585'

No. of unique values: 15087
No.of Null Values: 0

'VAR_0586'

No. of unique values: 3248
No.of Null Values: 0

'VAR_0587'

No. of unique values: 443
No.of Null Values: 0

'VAR_0588'

No. of unique values: 760
No.of Null Values: 0

'VAR_0589'

No. of unique values: 104
No.of Null Values: 0

'VAR_0590'

No. of unique values: 27
No.of Null Values: 0

'VAR_0591'

No. of unique values: 105
No.of Null Values: 0

'VAR_0592'

No. of unique values: 105
No.of Null Values: 0

'VAR_0593'

No. of unique values: 104
No.of Null Values: 0

'VAR_0594'

No. of unique values: 55
No.of Null Values: 0

'VAR_0595'

No. of unique values: 55
No.of Null Values: 0

'VAR_0596'

No. of unique values: 557
No.of Null Values: 0

'VAR_0597'

No. of unique values: 424
No.of Null Values: 0

'VAR_0598'

No. of unique values: 1015
No.of Null Values: 0

'VAR_0599'

No. of unique values: 2903
No.of Null Values: 0

'VAR_0600'

No. of unique values: 932
No.of Null Values: 0

'VAR_0601'

No. of unique values: 215
No.of Null Values: 0

'VAR_0602'

No. of unique values: 243
No.of Null Values: 0

'VAR_0603'

No. of unique values: 9
No.of Null Values: 0

'VAR_0604'

No. of unique values: 48
No.of Null Values: 0

'VAR_0605'

No. of unique values: 23
No.of Null Values: 0

'VAR_0606'

No. of unique values: 9
No.of Null Values: 0

'VAR_0607'

No. of unique values: 2658
No.of Null Values: 0

'VAR_0608'

No. of unique values: 3508
No.of Null Values: 0

'VAR_0609'

No. of unique values: 16738
No.of Null Values: 0

'VAR_0610'

No. of unique values: 3706
No.of Null Values: 0

'VAR_0611'

No. of unique values: 418
No.of Null Values: 0

'VAR_0612'

No. of unique values: 768
No.of Null Values: 0

'VAR_0613'

No. of unique values: 568
No.of Null Values: 0

'VAR_0614'

No. of unique values: 908
No.of Null Values: 0

'VAR_0615'

No. of unique values: 88
No.of Null Values: 0

'VAR_0616'

No. of unique values: 36
No.of Null Values: 0

'VAR_0617'

No. of unique values: 66
No.of Null Values: 0

'VAR_0618'

No. of unique values: 44
No.of Null Values: 0

'VAR_0619'

No. of unique values: 14
No.of Null Values: 0

'VAR_0620'

No. of unique values: 32
No.of Null Values: 0

'VAR_0621'

No. of unique values: 14
No.of Null Values: 0

'VAR_0622'

No. of unique values: 15
No.of Null Values: 0

'VAR_0623'

No. of unique values: 63
No.of Null Values: 0

'VAR_0624'

No. of unique values: 14
No.of Null Values: 0

'VAR_0625'

No. of unique values: 31
No.of Null Values: 0

'VAR_0626'

No. of unique values: 14
No.of Null Values: 0

'VAR_0627'

No. of unique values: 38
No.of Null Values: 0

'VAR_0628'

No. of unique values: 6514
No.of Null Values: 0

'VAR_0629'

No. of unique values: 5482
No.of Null Values: 0

'VAR_0630'

No. of unique values: 4100
No.of Null Values: 0

'VAR_0631'

No. of unique values: 3028
No.of Null Values: 0

'VAR_0632'

No. of unique values: 87
No.of Null Values: 0

'VAR_0633'

No. of unique values: 85
No.of Null Values: 0

'VAR_0634'

No. of unique values: 86
No.of Null Values: 0

'VAR_0635'

No. of unique values: 86
No.of Null Values: 0

'VAR_0636'

No. of unique values: 83
No.of Null Values: 0

'VAR_0637'

No. of unique values: 5
No.of Null Values: 0

'VAR_0638'

No. of unique values: 7
No.of Null Values: 0

'VAR_0639'

No. of unique values: 5
No.of Null Values: 0

'VAR_0640'

No. of unique values: 5
No.of Null Values: 0

'VAR_0641'

No. of unique values: 767
No.of Null Values: 0

'VAR_0642'

No. of unique values: 441
No.of Null Values: 0

'VAR_0643'

No. of unique values: 820
No.of Null Values: 0

'VAR_0644'

No. of unique values: 183
No.of Null Values: 0

'VAR_0645'

No. of unique values: 181
No.of Null Values: 0

'VAR_0646'

No. of unique values: 37
No.of Null Values: 0

'VAR_0647'

No. of unique values: 10
No.of Null Values: 0

'VAR_0648'

No. of unique values: 34779
No.of Null Values: 0

'VAR_0649'

No. of unique values: 29698
No.of Null Values: 0

'VAR_0650'

No. of unique values: 2104
No.of Null Values: 0

'VAR_0651'

No. of unique values: 1712
No.of Null Values: 0

'VAR_0652'

No. of unique values: 34433
No.of Null Values: 0

'VAR_0653'

No. of unique values: 1680
No.of Null Values: 0

'VAR_0654'

No. of unique values: 1469
No.of Null Values: 0

'VAR_0655'

No. of unique values: 2865
No.of Null Values: 0

'VAR_0656'

No. of unique values: 568
No.of Null Values: 0

'VAR_0657'

No. of unique values: 17
No.of Null Values: 0

'VAR_0658'

No. of unique values: 17
No.of Null Values: 0

'VAR_0659'

No. of unique values: 37295
No.of Null Values: 0

'VAR_0660'

No. of unique values: 20719
No.of Null Values: 0

'VAR_0661'

No. of unique values: 363
No.of Null Values: 0

'VAR_0662'

No. of unique values: 8
No.of Null Values: 0

'VAR_0663'

No. of unique values: 9
No.of Null Values: 0

'VAR_0664'

No. of unique values: 7
No.of Null Values: 0

'VAR_0665'

No. of unique values: 7
No.of Null Values: 0

'VAR_0666'

No. of unique values: 9
No.of Null Values: 0

'VAR_0667'

No. of unique values: 7
No.of Null Values: 0

'VAR_0668'

No. of unique values: 7
No.of Null Values: 0

'VAR_0669'

No. of unique values: 3681
No.of Null Values: 0

'VAR_0670'

No. of unique values: 2605
No.of Null Values: 0

'VAR_0671'

No. of unique values: 3681
No.of Null Values: 0

'VAR_0672'

No. of unique values: 2605
No.of Null Values: 0

'VAR_0673'

No. of unique values: 3301
No.of Null Values: 0

'VAR_0674'

No. of unique values: 1701
No.of Null Values: 0

'VAR_0675'

No. of unique values: 1970
No.of Null Values: 0

'VAR_0676'

No. of unique values: 1547
No.of Null Values: 0

'VAR_0677'

No. of unique values: 3462
No.of Null Values: 0

'VAR_0678'

No. of unique values: 10
No.of Null Values: 0

'VAR_0679'

No. of unique values: 10
No.of Null Values: 0

'VAR_0680'

No. of unique values: 271
No.of Null Values: 0

'VAR_0681'

No. of unique values: 331
No.of Null Values: 0

'VAR_0682'

No. of unique values: 307
No.of Null Values: 0

'VAR_0683'

No. of unique values: 430
No.of Null Values: 0

'VAR_0684'

No. of unique values: 96
No.of Null Values: 0

'VAR_0685'

No. of unique values: 41
No.of Null Values: 0

'VAR_0686'

No. of unique values: 29
No.of Null Values: 0

'VAR_0687'

No. of unique values: 973
No.of Null Values: 0

'VAR_0688'

No. of unique values: 840
No.of Null Values: 0

'VAR_0689'

No. of unique values: 13
No.of Null Values: 0

'VAR_0690'

No. of unique values: 18
No.of Null Values: 0

'VAR_0691'

No. of unique values: 1816
No.of Null Values: 0

'VAR_0692'

No. of unique values: 322
No.of Null Values: 0

'VAR_0693'

No. of unique values: 645
No.of Null Values: 0

'VAR_0694'

No. of unique values: 105
No.of Null Values: 0

'VAR_0695'

No. of unique values: 105
No.of Null Values: 0

'VAR_0696'

No. of unique values: 45
No.of Null Values: 0

'VAR_0697'

No. of unique values: 44
No.of Null Values: 0

'VAR_0698'

No. of unique values: 15142
No.of Null Values: 0

'VAR_0699'

No. of unique values: 9935
No.of Null Values: 0

'VAR_0700'

No. of unique values: 382
No.of Null Values: 0

'VAR_0701'

No. of unique values: 125
No.of Null Values: 0

'VAR_0702'

No. of unique values: 4335
No.of Null Values: 0

'VAR_0703'

No. of unique values: 8
No.of Null Values: 0

'VAR_0704'

No. of unique values: 36937
No.of Null Values: 0

'VAR_0705'

No. of unique values: 9074
No.of Null Values: 0

'VAR_0706'

No. of unique values: 9155
No.of Null Values: 0

'VAR_0707'

No. of unique values: 269
No.of Null Values: 0

'VAR_0708'

No. of unique values: 84
No.of Null Values: 0

'VAR_0709'

No. of unique values: 35
No.of Null Values: 0

'VAR_0710'

No. of unique values: 13
No.of Null Values: 0

'VAR_0711'

No. of unique values: 31
No.of Null Values: 0

'VAR_0712'

No. of unique values: 103
No.of Null Values: 0

'VAR_0713'

No. of unique values: 49
No.of Null Values: 0

'VAR_0714'

No. of unique values: 16
No.of Null Values: 0

'VAR_0715'

No. of unique values: 41
No.of Null Values: 0

'VAR_0716'

No. of unique values: 111
No.of Null Values: 0

'VAR_0717'

No. of unique values: 56
No.of Null Values: 0

'VAR_0718'

No. of unique values: 16
No.of Null Values: 0

'VAR_0719'

No. of unique values: 51
No.of Null Values: 0

'VAR_0720'

No. of unique values: 52
No.of Null Values: 0

'VAR_0721'

No. of unique values: 69
No.of Null Values: 0

'VAR_0722'

No. of unique values: 82
No.of Null Values: 0

'VAR_0723'

No. of unique values: 42
No.of Null Values: 0

'VAR_0724'

No. of unique values: 24
No.of Null Values: 0

'VAR_0725'

No. of unique values: 38
No.of Null Values: 0

'VAR_0726'

No. of unique values: 42
No.of Null Values: 0

'VAR_0727'

No. of unique values: 24
No.of Null Values: 0

'VAR_0728'

No. of unique values: 38
No.of Null Values: 0

'VAR_0729'

No. of unique values: 17
No.of Null Values: 0

'VAR_0730'

No. of unique values: 23
No.of Null Values: 0

'VAR_0731'

No. of unique values: 17
No.of Null Values: 0

'VAR_0732'

No. of unique values: 2
No.of Null Values: 0

'VAR_0733'

No. of unique values: 2
No.of Null Values: 0

'VAR_0734'

No. of unique values: 10
No.of Null Values: 0

'VAR_0735'

No. of unique values: 6
No.of Null Values: 0

'VAR_0736'

No. of unique values: 2
No.of Null Values: 0

'VAR_0737'

No. of unique values: 2
No.of Null Values: 0

'VAR_0738'

No. of unique values: 23
No.of Null Values: 0

'VAR_0739'

No. of unique values: 2
No.of Null Values: 0

'VAR_0740'

No. of unique values: 2
No.of Null Values: 0

'VAR_0741'

No. of unique values: 2
No.of Null Values: 0

'VAR_0742'

No. of unique values: 22
No.of Null Values: 0

'VAR_0743'

No. of unique values: 14
No.of Null Values: 0

'VAR_0744'

No. of unique values: 18
No.of Null Values: 0

'VAR_0745'

No. of unique values: 5
No.of Null Values: 0

'VAR_0746'

No. of unique values: 8
No.of Null Values: 0

'VAR_0747'

No. of unique values: 15
No.of Null Values: 0

'VAR_0748'

No. of unique values: 22
No.of Null Values: 0

'VAR_0749'

No. of unique values: 18
No.of Null Values: 0

'VAR_0750'

No. of unique values: 20
No.of Null Values: 0

'VAR_0751'

No. of unique values: 33
No.of Null Values: 0

'VAR_0752'

No. of unique values: 35
No.of Null Values: 0

'VAR_0753'

No. of unique values: 21
No.of Null Values: 0

'VAR_0754'

No. of unique values: 11
No.of Null Values: 0

'VAR_0755'

No. of unique values: 8
No.of Null Values: 0

'VAR_0756'

No. of unique values: 18
No.of Null Values: 0

'VAR_0757'

No. of unique values: 261
No.of Null Values: 0

'VAR_0758'

No. of unique values: 30
No.of Null Values: 0

'VAR_0759'

No. of unique values: 10
No.of Null Values: 0

'VAR_0760'

No. of unique values: 14
No.of Null Values: 0

'VAR_0761'

No. of unique values: 10
No.of Null Values: 0

'VAR_0762'

No. of unique values: 8
No.of Null Values: 0

'VAR_0763'

No. of unique values: 6
No.of Null Values: 0

'VAR_0764'

No. of unique values: 29
No.of Null Values: 0

'VAR_0765'

No. of unique values: 7
No.of Null Values: 0

'VAR_0766'

No. of unique values: 19
No.of Null Values: 0

'VAR_0767'

No. of unique values: 8
No.of Null Values: 0

'VAR_0768'

No. of unique values: 45
No.of Null Values: 0

'VAR_0769'

No. of unique values: 13
No.of Null Values: 0

'VAR_0770'

No. of unique values: 25
No.of Null Values: 0

'VAR_0771'

No. of unique values: 14
No.of Null Values: 0

'VAR_0772'

No. of unique values: 10
No.of Null Values: 0

'VAR_0773'

No. of unique values: 7
No.of Null Values: 0

'VAR_0774'

No. of unique values: 44
No.of Null Values: 0

'VAR_0775'

No. of unique values: 8
No.of Null Values: 0

'VAR_0776'

No. of unique values: 25
No.of Null Values: 0

'VAR_0777'

No. of unique values: 9
No.of Null Values: 0

'VAR_0778'

No. of unique values: 79
No.of Null Values: 0

'VAR_0779'

No. of unique values: 7
No.of Null Values: 0

'VAR_0780'

No. of unique values: 15
No.of Null Values: 0

'VAR_0781'

No. of unique values: 38
No.of Null Values: 0

'VAR_0782'

No. of unique values: 19
No.of Null Values: 0

'VAR_0783'

No. of unique values: 13
No.of Null Values: 0

'VAR_0784'

No. of unique values: 8
No.of Null Values: 0

'VAR_0785'

No. of unique values: 75
No.of Null Values: 0

'VAR_0786'

No. of unique values: 10
No.of Null Values: 0

'VAR_0787'

No. of unique values: 30
No.of Null Values: 0

'VAR_0788'

No. of unique values: 14
No.of Null Values: 0

'VAR_0789'

No. of unique values: 7
No.of Null Values: 0

'VAR_0790'

No. of unique values: 43
No.of Null Values: 0

'VAR_0791'

No. of unique values: 38
No.of Null Values: 0

'VAR_0792'

No. of unique values: 76
No.of Null Values: 0

'VAR_0793'

No. of unique values: 77
No.of Null Values: 0

'VAR_0794'

No. of unique values: 76
No.of Null Values: 0

'VAR_0795'

No. of unique values: 27
No.of Null Values: 0

'VAR_0796'

No. of unique values: 38
No.of Null Values: 0

'VAR_0797'

No. of unique values: 23
No.of Null Values: 0

'VAR_0798'

No. of unique values: 11
No.of Null Values: 0

'VAR_0799'

No. of unique values: 5
No.of Null Values: 0

'VAR_0800'

No. of unique values: 29
No.of Null Values: 0

'VAR_0801'

No. of unique values: 36
No.of Null Values: 0

'VAR_0802'

No. of unique values: 21
No.of Null Values: 0

'VAR_0803'

No. of unique values: 9
No.of Null Values: 0

'VAR_0804'

No. of unique values: 5
No.of Null Values: 0

'VAR_0805'

No. of unique values: 26
No.of Null Values: 0

'VAR_0806'

No. of unique values: 34
No.of Null Values: 0

'VAR_0807'

No. of unique values: 18
No.of Null Values: 0

'VAR_0808'

No. of unique values: 8
No.of Null Values: 0

'VAR_0809'

No. of unique values: 4
No.of Null Values: 0

'VAR_0810'

No. of unique values: 23
No.of Null Values: 0

'VAR_0811'

No. of unique values: 123
No.of Null Values: 0

'VAR_0812'

No. of unique values: 66
No.of Null Values: 0

'VAR_0813'

No. of unique values: 50
No.of Null Values: 0

'VAR_0814'

No. of unique values: 56
No.of Null Values: 0

'VAR_0815'

No. of unique values: 31
No.of Null Values: 0

'VAR_0816'

No. of unique values: 25
No.of Null Values: 0

'VAR_0817'

No. of unique values: 17
No.of Null Values: 0

'VAR_0818'

No. of unique values: 26
No.of Null Values: 0

'VAR_0819'

No. of unique values: 19
No.of Null Values: 0

'VAR_0820'

No. of unique values: 31
No.of Null Values: 0

'VAR_0821'

No. of unique values: 40
No.of Null Values: 0

'VAR_0822'

No. of unique values: 72
No.of Null Values: 0

'VAR_0823'

No. of unique values: 130
No.of Null Values: 0

'VAR_0824'

No. of unique values: 50
No.of Null Values: 0

'VAR_0825'

No. of unique values: 59
No.of Null Values: 0

'VAR_0826'

No. of unique values: 34
No.of Null Values: 0

'VAR_0827'

No. of unique values: 23
No.of Null Values: 0

'VAR_0828'

No. of unique values: 14
No.of Null Values: 0

'VAR_0829'

No. of unique values: 120
No.of Null Values: 0

'VAR_0830'

No. of unique values: 32
No.of Null Values: 0

'VAR_0831'

No. of unique values: 69
No.of Null Values: 0

'VAR_0832'

No. of unique values: 29
No.of Null Values: 0

'VAR_0833'

No. of unique values: 12
No.of Null Values: 0

'VAR_0834'

No. of unique values: 61
No.of Null Values: 0

'VAR_0835'

No. of unique values: 119
No.of Null Values: 0

'VAR_0836'

No. of unique values: 114
No.of Null Values: 0

'VAR_0837'

No. of unique values: 14
No.of Null Values: 0

'VAR_0838'

No. of unique values: 18
No.of Null Values: 0

'VAR_0839'

No. of unique values: 30
No.of Null Values: 0

'VAR_0840'

No. of unique values: 0
No.of Null Values: 145231

'VAR_0841'

No. of unique values: 18
No.of Null Values: 0

'VAR_0842'

No. of unique values: 20
No.of Null Values: 0

'VAR_0843'

No. of unique values: 33
No.of Null Values: 0

'VAR_0844'

No. of unique values: 35
No.of Null Values: 0

'VAR_0845'

No. of unique values: 40
No.of Null Values: 0

'VAR_0846'

No. of unique values: 30
No.of Null Values: 0

'VAR_0847'

No. of unique values: 1
No.of Null Values: 0

'VAR_0848'

No. of unique values: 27
No.of Null Values: 0

'VAR_0849'

No. of unique values: 27
No.of Null Values: 0

'VAR_0850'

No. of unique values: 27
No.of Null Values: 0

'VAR_0851'

No. of unique values: 27
No.of Null Values: 0

'VAR_0852'

No. of unique values: 27
No.of Null Values: 0

'VAR_0853'

No. of unique values: 166
No.of Null Values: 0

'VAR_0854'

No. of unique values: 93
No.of Null Values: 0

'VAR_0855'

No. of unique values: 85
No.of Null Values: 0

'VAR_0856'

No. of unique values: 85
No.of Null Values: 0

'VAR_0857'

No. of unique values: 85
No.of Null Values: 0

'VAR_0858'

No. of unique values: 114
No.of Null Values: 0

'VAR_0859'

No. of unique values: 220
No.of Null Values: 0

'VAR_0860'

No. of unique values: 635
No.of Null Values: 0

'VAR_0861'

No. of unique values: 583
No.of Null Values: 0

'VAR_0862'

No. of unique values: 382
No.of Null Values: 0

'VAR_0863'

No. of unique values: 369
No.of Null Values: 0

'VAR_0864'

No. of unique values: 612
No.of Null Values: 0

'VAR_0865'

No. of unique values: 292
No.of Null Values: 0

'VAR_0866'

No. of unique values: 291
No.of Null Values: 0

'VAR_0867'

No. of unique values: 454
No.of Null Values: 0

'VAR_0868'

No. of unique values: 634
No.of Null Values: 0

'VAR_0869'

No. of unique values: 256
No.of Null Values: 0

'VAR_0870'

No. of unique values: 168
No.of Null Values: 0

'VAR_0871'

No. of unique values: 324
No.of Null Values: 0

'VAR_0872'

No. of unique values: 528
No.of Null Values: 0

'VAR_0873'

No. of unique values: 271
No.of Null Values: 0

'VAR_0874'

No. of unique values: 232
No.of Null Values: 0

'VAR_0875'

No. of unique values: 296
No.of Null Values: 0

'VAR_0876'

No. of unique values: 203
No.of Null Values: 0

'VAR_0877'

No. of unique values: 97
No.of Null Values: 0

'VAR_0878'

No. of unique values: 94
No.of Null Values: 0

'VAR_0879'

No. of unique values: 98
No.of Null Values: 0

'VAR_0880'

No. of unique values: 220
No.of Null Values: 0

'VAR_0881'

No. of unique values: 253
No.of Null Values: 0

'VAR_0882'

No. of unique values: 237
No.of Null Values: 0

'VAR_0883'

No. of unique values: 144
No.of Null Values: 0

'VAR_0884'

No. of unique values: 271
No.of Null Values: 0

'VAR_0885'

No. of unique values: 95
No.of Null Values: 0

'VAR_0886'

No. of unique values: 100
No.of Null Values: 0

'VAR_0887'

No. of unique values: 34970
No.of Null Values: 0

'VAR_0888'

No. of unique values: 8528
No.of Null Values: 0

'VAR_0889'

No. of unique values: 3339
No.of Null Values: 0

'VAR_0890'

No. of unique values: 4300
No.of Null Values: 0

'VAR_0891'

No. of unique values: 37973
No.of Null Values: 0

'VAR_0892'

No. of unique values: 8224
No.of Null Values: 0

'VAR_0893'

No. of unique values: 28632
No.of Null Values: 0

'VAR_0894'

No. of unique values: 8541
No.of Null Values: 0

'VAR_0895'

No. of unique values: 9244
No.of Null Values: 0

'VAR_0896'

No. of unique values: 17623
No.of Null Values: 0

'VAR_0897'

No. of unique values: 5021
No.of Null Values: 0

'VAR_0898'

No. of unique values: 22120
No.of Null Values: 0

'VAR_0899'

No. of unique values: 82419
No.of Null Values: 0

'VAR_0900'

No. of unique values: 16332
No.of Null Values: 0

'VAR_0901'

No. of unique values: 7462
No.of Null Values: 0

'VAR_0902'

No. of unique values: 37293
No.of Null Values: 0

'VAR_0903'

No. of unique values: 5060
No.of Null Values: 0

'VAR_0904'

No. of unique values: 1710
No.of Null Values: 0

'VAR_0905'

No. of unique values: 21999
No.of Null Values: 0

'VAR_0906'

No. of unique values: 23866
No.of Null Values: 0

'VAR_0907'

No. of unique values: 24040
No.of Null Values: 0

'VAR_0908'

No. of unique values: 36610
No.of Null Values: 0

'VAR_0909'

No. of unique values: 5777
No.of Null Values: 0

'VAR_0910'

No. of unique values: 3778
No.of Null Values: 0

'VAR_0911'

No. of unique values: 57
No.of Null Values: 0

'VAR_0912'

No. of unique values: 7791
No.of Null Values: 0

'VAR_0913'

No. of unique values: 10125
No.of Null Values: 0

'VAR_0914'

No. of unique values: 33
No.of Null Values: 0

'VAR_0915'

No. of unique values: 74
No.of Null Values: 0

'VAR_0916'

No. of unique values: 77
No.of Null Values: 0

'VAR_0917'

No. of unique values: 18476
No.of Null Values: 0

'VAR_0918'

No. of unique values: 23480
No.of Null Values: 0

'VAR_0919'

No. of unique values: 22525
No.of Null Values: 0

'VAR_0920'

No. of unique values: 29157
No.of Null Values: 0

'VAR_0921'

No. of unique values: 31270
No.of Null Values: 0

'VAR_0922'

No. of unique values: 651
No.of Null Values: 0

'VAR_0923'

No. of unique values: 3
No.of Null Values: 0

'VAR_0924'

No. of unique values: 2
No.of Null Values: 0

'VAR_0925'

No. of unique values: 51
No.of Null Values: 0

'VAR_0926'

No. of unique values: 31
No.of Null Values: 0

'VAR_0927'

No. of unique values: 12
No.of Null Values: 0

'VAR_0928'

No. of unique values: 9
No.of Null Values: 0

'VAR_0929'

No. of unique values: 85
No.of Null Values: 0

'VAR_0930'

No. of unique values: 161
No.of Null Values: 0

'VAR_0931'

No. of unique values: 29888
No.of Null Values: 0

'VAR_0932'

No. of unique values: 10
No.of Null Values: 0

'VAR_0933'

No. of unique values: 11
No.of Null Values: 0

'VAR_0934'

No. of unique values: 1161
No.of Null Values: 0

'VAR_0935'

No. of unique values: 151
No.of Null Values: 0

'VAR_0936'

No. of unique values: 128
No.of Null Values: 0

'VAR_0937'

No. of unique values: 11318
No.of Null Values: 0

'VAR_0938'

No. of unique values: 155
No.of Null Values: 0

'VAR_0939'

No. of unique values: 80
No.of Null Values: 0

'VAR_0940'

No. of unique values: 30
No.of Null Values: 0

'VAR_0941'

No. of unique values: 9
No.of Null Values: 0

'VAR_0942'

No. of unique values: 87
No.of Null Values: 0

'VAR_0943'

No. of unique values: 507
No.of Null Values: 0

'VAR_0944'

No. of unique values: 1413
No.of Null Values: 0

'VAR_0945'

No. of unique values: 50
No.of Null Values: 0

'VAR_0946'

No. of unique values: 11846
No.of Null Values: 0

'VAR_0947'

No. of unique values: 10
No.of Null Values: 0

'VAR_0948'

No. of unique values: 9
No.of Null Values: 0

'VAR_0949'

No. of unique values: 85
No.of Null Values: 0

'VAR_0950'

No. of unique values: 31745
No.of Null Values: 0

'VAR_0951'

No. of unique values: 35805
No.of Null Values: 0

'VAR_0952'

No. of unique values: 38
No.of Null Values: 0

'VAR_0953'

No. of unique values: 9
No.of Null Values: 0

'VAR_0954'

No. of unique values: 86
No.of Null Values: 0

'VAR_0955'

No. of unique values: 86
No.of Null Values: 0

'VAR_0956'

No. of unique values: 85
No.of Null Values: 0

'VAR_0957'

No. of unique values: 155
No.of Null Values: 0

'VAR_0958'

No. of unique values: 106
No.of Null Values: 0

'VAR_0959'

No. of unique values: 33
No.of Null Values: 0

'VAR_0960'

No. of unique values: 10
No.of Null Values: 0

'VAR_0961'

No. of unique values: 85
No.of Null Values: 0

'VAR_0962'

No. of unique values: 71
No.of Null Values: 0

'VAR_0963'

No. of unique values: 69
No.of Null Values: 0

'VAR_0964'

No. of unique values: 9269
No.of Null Values: 0

'VAR_0965'

No. of unique values: 9
No.of Null Values: 0

'VAR_0966'

No. of unique values: 86
No.of Null Values: 0

'VAR_0967'

No. of unique values: 9
No.of Null Values: 0

'VAR_0968'

No. of unique values: 27755
No.of Null Values: 0

'VAR_0969'

No. of unique values: 49
No.of Null Values: 0

'VAR_0970'

No. of unique values: 25981
No.of Null Values: 0

'VAR_0971'

No. of unique values: 8
No.of Null Values: 0

'VAR_0972'

No. of unique values: 9
No.of Null Values: 0

'VAR_0973'

No. of unique values: 28
No.of Null Values: 0

'VAR_0974'

No. of unique values: 20
No.of Null Values: 0

'VAR_0975'

No. of unique values: 18
No.of Null Values: 0

'VAR_0976'

No. of unique values: 37337
No.of Null Values: 0

'VAR_0977'

No. of unique values: 34334
No.of Null Values: 0

'VAR_0978'

No. of unique values: 3302
No.of Null Values: 0

'VAR_0979'

No. of unique values: 3747
No.of Null Values: 0

'VAR_0980'

No. of unique values: 3760
No.of Null Values: 0

'VAR_0981'

No. of unique values: 460
No.of Null Values: 0

'VAR_0982'

No. of unique values: 574
No.of Null Values: 0

'VAR_0983'

No. of unique values: 91
No.of Null Values: 0

'VAR_0984'

No. of unique values: 63
No.of Null Values: 0

'VAR_0985'

No. of unique values: 91
No.of Null Values: 0

'VAR_0986'

No. of unique values: 9
No.of Null Values: 0

'VAR_0987'

No. of unique values: 18
No.of Null Values: 0

'VAR_0988'

No. of unique values: 24
No.of Null Values: 0

'VAR_0989'

No. of unique values: 92
No.of Null Values: 0

'VAR_0990'

No. of unique values: 62
No.of Null Values: 0

'VAR_0991'

No. of unique values: 67
No.of Null Values: 0

'VAR_0992'

No. of unique values: 75
No.of Null Values: 0

'VAR_0993'

No. of unique values: 91
No.of Null Values: 0

'VAR_0994'

No. of unique values: 4
No.of Null Values: 0

'VAR_0995'

No. of unique values: 5
No.of Null Values: 0

'VAR_0996'

No. of unique values: 55
No.of Null Values: 0

'VAR_0997'

No. of unique values: 60
No.of Null Values: 0

'VAR_0998'

No. of unique values: 66
No.of Null Values: 0

'VAR_0999'

No. of unique values: 22
No.of Null Values: 0

'VAR_1000'

No. of unique values: 51
No.of Null Values: 0

'VAR_1001'

No. of unique values: 51
No.of Null Values: 0

'VAR_1002'

No. of unique values: 22
No.of Null Values: 0

'VAR_1003'

No. of unique values: 26
No.of Null Values: 0

'VAR_1004'

No. of unique values: 31
No.of Null Values: 0

'VAR_1005'

No. of unique values: 35
No.of Null Values: 0

'VAR_1006'

No. of unique values: 47
No.of Null Values: 0

'VAR_1007'

No. of unique values: 42
No.of Null Values: 0

'VAR_1008'

No. of unique values: 90
No.of Null Values: 0

'VAR_1009'

No. of unique values: 18
No.of Null Values: 0

'VAR_1010'

No. of unique values: 9
No.of Null Values: 0

'VAR_1011'

No. of unique values: 91
No.of Null Values: 0

'VAR_1012'

No. of unique values: 4
No.of Null Values: 0

'VAR_1013'

No. of unique values: 4
No.of Null Values: 0

'VAR_1014'

No. of unique values: 55
No.of Null Values: 0

'VAR_1015'

No. of unique values: 29
No.of Null Values: 0

'VAR_1016'

No. of unique values: 58
No.of Null Values: 0

'VAR_1017'

No. of unique values: 26
No.of Null Values: 0

'VAR_1018'

No. of unique values: 64
No.of Null Values: 0

'VAR_1019'

No. of unique values: 52
No.of Null Values: 0

'VAR_1020'

No. of unique values: 37
No.of Null Values: 0

'VAR_1021'

No. of unique values: 28
No.of Null Values: 0

'VAR_1022'

No. of unique values: 47
No.of Null Values: 0

'VAR_1023'

No. of unique values: 64
No.of Null Values: 0

'VAR_1024'

No. of unique values: 14
No.of Null Values: 0

'VAR_1025'

No. of unique values: 15
No.of Null Values: 0

'VAR_1026'

No. of unique values: 26
No.of Null Values: 0

'VAR_1027'

No. of unique values: 29
No.of Null Values: 0

'VAR_1028'

No. of unique values: 77
No.of Null Values: 0

'VAR_1029'

No. of unique values: 32
No.of Null Values: 0

'VAR_1030'

No. of unique values: 40
No.of Null Values: 0

'VAR_1031'

No. of unique values: 53
No.of Null Values: 0

'VAR_1032'

No. of unique values: 76
No.of Null Values: 0

'VAR_1033'

No. of unique values: 30
No.of Null Values: 0

'VAR_1034'

No. of unique values: 38
No.of Null Values: 0

'VAR_1035'

No. of unique values: 53
No.of Null Values: 0

'VAR_1036'

No. of unique values: 77
No.of Null Values: 0

'VAR_1037'

No. of unique values: 30
No.of Null Values: 0

'VAR_1038'

No. of unique values: 38
No.of Null Values: 0

'VAR_1039'

No. of unique values: 52
No.of Null Values: 0

'VAR_1040'

No. of unique values: 77
No.of Null Values: 0

'VAR_1041'

No. of unique values: 15
No.of Null Values: 0

'VAR_1042'

No. of unique values: 18
No.of Null Values: 0

'VAR_1043'

No. of unique values: 47
No.of Null Values: 0

'VAR_1044'

No. of unique values: 74
No.of Null Values: 0

'VAR_1045'

No. of unique values: 29
No.of Null Values: 0

'VAR_1046'

No. of unique values: 37
No.of Null Values: 0

'VAR_1047'

No. of unique values: 52
No.of Null Values: 0

'VAR_1048'

No. of unique values: 79
No.of Null Values: 0

'VAR_1049'

No. of unique values: 42
No.of Null Values: 0

'VAR_1050'

No. of unique values: 5
No.of Null Values: 0

'VAR_1051'

No. of unique values: 5
No.of Null Values: 0

'VAR_1052'

No. of unique values: 22
No.of Null Values: 0

'VAR_1053'

No. of unique values: 22
No.of Null Values: 0

'VAR_1054'

No. of unique values: 40
No.of Null Values: 0

'VAR_1055'

No. of unique values: 6
No.of Null Values: 0

'VAR_1056'

No. of unique values: 18
No.of Null Values: 0

'VAR_1057'

No. of unique values: 17
No.of Null Values: 0

'VAR_1058'

No. of unique values: 17
No.of Null Values: 0

'VAR_1059'

No. of unique values: 17
No.of Null Values: 0

'VAR_1060'

No. of unique values: 18
No.of Null Values: 0

'VAR_1061'

No. of unique values: 17
No.of Null Values: 0

'VAR_1062'

No. of unique values: 17
No.of Null Values: 0

'VAR_1063'

No. of unique values: 17
No.of Null Values: 0

'VAR_1064'

No. of unique values: 24
No.of Null Values: 0

'VAR_1065'

No. of unique values: 22
No.of Null Values: 0

'VAR_1066'

No. of unique values: 23
No.of Null Values: 0

'VAR_1067'

No. of unique values: 24
No.of Null Values: 0

'VAR_1068'

No. of unique values: 27
No.of Null Values: 0

'VAR_1069'

No. of unique values: 24
No.of Null Values: 0

'VAR_1070'

No. of unique values: 25
No.of Null Values: 0

'VAR_1071'

No. of unique values: 27
No.of Null Values: 0

'VAR_1072'

No. of unique values: 48
No.of Null Values: 0

'VAR_1073'

No. of unique values: 26
No.of Null Values: 0

'VAR_1074'

No. of unique values: 49
No.of Null Values: 0

'VAR_1075'

No. of unique values: 73
No.of Null Values: 0

'VAR_1076'

No. of unique values: 35
No.of Null Values: 0

'VAR_1077'

No. of unique values: 52
No.of Null Values: 0

'VAR_1078'

No. of unique values: 78
No.of Null Values: 0

'VAR_1079'

No. of unique values: 99
No.of Null Values: 0

'VAR_1080'

No. of unique values: 28
No.of Null Values: 0

'VAR_1081'

No. of unique values: 75383
No.of Null Values: 0

'VAR_1082'

No. of unique values: 75972
No.of Null Values: 0

'VAR_1083'

No. of unique values: 9538
No.of Null Values: 0

'VAR_1084'

No. of unique values: 4668
No.of Null Values: 0

'VAR_1085'

No. of unique values: 8151
No.of Null Values: 0

'VAR_1086'

No. of unique values: 8105
No.of Null Values: 0

'VAR_1087'

No. of unique values: 79850
No.of Null Values: 0

'VAR_1088'

No. of unique values: 38228
No.of Null Values: 0

'VAR_1089'

No. of unique values: 25275
No.of Null Values: 0

'VAR_1090'

No. of unique values: 2490
No.of Null Values: 0

'VAR_1091'

No. of unique values: 2120
No.of Null Values: 0

'VAR_1092'

No. of unique values: 4733
No.of Null Values: 0

'VAR_1093'

No. of unique values: 4714
No.of Null Values: 0

'VAR_1094'

No. of unique values: 5210
No.of Null Values: 0

'VAR_1095'

No. of unique values: 5209
No.of Null Values: 0

'VAR_1096'

No. of unique values: 5402
No.of Null Values: 0

'VAR_1097'

No. of unique values: 5402
No.of Null Values: 0

'VAR_1098'

No. of unique values: 8
No.of Null Values: 0

'VAR_1099'

No. of unique values: 8
No.of Null Values: 0

'VAR_1100'

No. of unique values: 8
No.of Null Values: 0

'VAR_1101'

No. of unique values: 7
No.of Null Values: 0

'VAR_1102'

No. of unique values: 8
No.of Null Values: 0

'VAR_1103'

No. of unique values: 8
No.of Null Values: 0

'VAR_1104'

No. of unique values: 8
No.of Null Values: 0

'VAR_1105'

No. of unique values: 8
No.of Null Values: 0

'VAR_1106'

No. of unique values: 9
No.of Null Values: 0

'VAR_1107'

No. of unique values: 9
No.of Null Values: 0

'VAR_1108'

No. of unique values: 11
No.of Null Values: 0

'VAR_1109'

No. of unique values: 11
No.of Null Values: 0

'VAR_1110'

No. of unique values: 222
No.of Null Values: 0

'VAR_1111'

No. of unique values: 135
No.of Null Values: 0

'VAR_1112'

No. of unique values: 185
No.of Null Values: 0

'VAR_1113'

No. of unique values: 211
No.of Null Values: 0

'VAR_1114'

No. of unique values: 299
No.of Null Values: 0

'VAR_1115'

No. of unique values: 105
No.of Null Values: 0

'VAR_1116'

No. of unique values: 101
No.of Null Values: 0

'VAR_1117'

No. of unique values: 101
No.of Null Values: 0

'VAR_1118'

No. of unique values: 101
No.of Null Values: 0

'VAR_1119'

No. of unique values: 101
No.of Null Values: 0

'VAR_1120'

No. of unique values: 101
No.of Null Values: 0

'VAR_1121'

No. of unique values: 101
No.of Null Values: 0

'VAR_1122'

No. of unique values: 101
No.of Null Values: 0

'VAR_1123'

No. of unique values: 101
No.of Null Values: 0

'VAR_1124'

No. of unique values: 101
No.of Null Values: 0

'VAR_1125'

No. of unique values: 101
No.of Null Values: 0

'VAR_1126'

No. of unique values: 102
No.of Null Values: 0

'VAR_1127'

No. of unique values: 99
No.of Null Values: 0

'VAR_1128'

No. of unique values: 101
No.of Null Values: 0

'VAR_1129'

No. of unique values: 102
No.of Null Values: 0

'VAR_1130'

No. of unique values: 6266
No.of Null Values: 0

'VAR_1131'

No. of unique values: 1904
No.of Null Values: 0

'VAR_1132'

No. of unique values: 129
No.of Null Values: 0

'VAR_1133'

No. of unique values: 180
No.of Null Values: 0

'VAR_1134'

No. of unique values: 85
No.of Null Values: 0

'VAR_1135'

No. of unique values: 85
No.of Null Values: 0

'VAR_1136'

No. of unique values: 86
No.of Null Values: 0

'VAR_1137'

No. of unique values: 85
No.of Null Values: 0

'VAR_1138'

No. of unique values: 84
No.of Null Values: 0

'VAR_1139'

No. of unique values: 86
No.of Null Values: 0

'VAR_1140'

No. of unique values: 84
No.of Null Values: 0

'VAR_1141'

No. of unique values: 84
No.of Null Values: 0

'VAR_1142'

No. of unique values: 85
No.of Null Values: 0

'VAR_1143'

No. of unique values: 149
No.of Null Values: 0

'VAR_1144'

No. of unique values: 651
No.of Null Values: 0

'VAR_1145'

No. of unique values: 647
No.of Null Values: 0

'VAR_1146'

No. of unique values: 551
No.of Null Values: 0

'VAR_1147'

No. of unique values: 639
No.of Null Values: 0

'VAR_1148'

No. of unique values: 277
No.of Null Values: 0

'VAR_1149'

No. of unique values: 312
No.of Null Values: 0

'VAR_1150'

No. of unique values: 375
No.of Null Values: 0

'VAR_1151'

No. of unique values: 86
No.of Null Values: 0

'VAR_1152'

No. of unique values: 86
No.of Null Values: 0

'VAR_1153'

No. of unique values: 86
No.of Null Values: 0

'VAR_1154'

No. of unique values: 254
No.of Null Values: 0

'VAR_1155'

No. of unique values: 30
No.of Null Values: 0

'VAR_1156'

No. of unique values: 120
No.of Null Values: 0

'VAR_1157'

No. of unique values: 210
No.of Null Values: 0

'VAR_1158'

No. of unique values: 29
No.of Null Values: 0

'VAR_1159'

No. of unique values: 117
No.of Null Values: 0

'VAR_1160'

No. of unique values: 206
No.of Null Values: 0

'VAR_1161'

No. of unique values: 30
No.of Null Values: 0

'VAR_1162'

No. of unique values: 2
No.of Null Values: 0

'VAR_1163'

No. of unique values: 2
No.of Null Values: 0

'VAR_1164'

No. of unique values: 2
No.of Null Values: 0

'VAR_1165'

No. of unique values: 2
No.of Null Values: 0

'VAR_1166'

No. of unique values: 16
No.of Null Values: 0

'VAR_1167'

No. of unique values: 30
No.of Null Values: 0

'VAR_1168'

No. of unique values: 22
No.of Null Values: 0

'VAR_1169'

No. of unique values: 167
No.of Null Values: 0

'VAR_1170'

No. of unique values: 183
No.of Null Values: 0

'VAR_1171'

No. of unique values: 120
No.of Null Values: 0

'VAR_1172'

No. of unique values: 118
No.of Null Values: 0

'VAR_1173'

No. of unique values: 121
No.of Null Values: 0

'VAR_1174'

No. of unique values: 4310
No.of Null Values: 0

'VAR_1175'

No. of unique values: 3
No.of Null Values: 0

'VAR_1176'

No. of unique values: 3
No.of Null Values: 0

'VAR_1177'

No. of unique values: 21
No.of Null Values: 0

'VAR_1178'

No. of unique values: 49
No.of Null Values: 0

'VAR_1179'

No. of unique values: 75062
No.of Null Values: 0

'VAR_1180'

No. of unique values: 75583
No.of Null Values: 0

'VAR_1181'

No. of unique values: 71090
No.of Null Values: 0

'VAR_1182'

No. of unique values: 5334
No.of Null Values: 0

'VAR_1183'

No. of unique values: 4649
No.of Null Values: 0

'VAR_1184'

No. of unique values: 645
No.of Null Values: 0

'VAR_1185'

No. of unique values: 34
No.of Null Values: 0

'VAR_1186'

No. of unique values: 10
No.of Null Values: 0

'VAR_1187'

No. of unique values: 5
No.of Null Values: 0

'VAR_1188'

No. of unique values: 8
No.of Null Values: 0

'VAR_1189'

No. of unique values: 9
No.of Null Values: 0

'VAR_1190'

No. of unique values: 10
No.of Null Values: 0

'VAR_1191'

No. of unique values: 35
No.of Null Values: 0

'VAR_1192'

No. of unique values: 19
No.of Null Values: 0

'VAR_1193'

No. of unique values: 13
No.of Null Values: 0

'VAR_1194'

No. of unique values: 11
No.of Null Values: 0

'VAR_1195'

No. of unique values: 12
No.of Null Values: 0

'VAR_1196'

No. of unique values: 10
No.of Null Values: 0

'VAR_1197'

No. of unique values: 10
No.of Null Values: 0

'VAR_1198'

No. of unique values: 11
No.of Null Values: 0

'VAR_1199'

No. of unique values: 33954
No.of Null Values: 0

'VAR_1200'

No. of unique values: 36325
No.of Null Values: 0

'VAR_1201'

No. of unique values: 36967
No.of Null Values: 0

'VAR_1202'

No. of unique values: 30630
No.of Null Values: 0

'VAR_1203'

No. of unique values: 29201
No.of Null Values: 0

'VAR_1204'

No. of unique values: 2000
No.of Null Values: 0

'VAR_1205'

No. of unique values: 10
No.of Null Values: 0

'VAR_1206'

No. of unique values: 8
No.of Null Values: 0

'VAR_1207'

No. of unique values: 10
No.of Null Values: 0

'VAR_1208'

No. of unique values: 229
No.of Null Values: 0

'VAR_1209'

No. of unique values: 86
No.of Null Values: 0

'VAR_1210'

No. of unique values: 291
No.of Null Values: 0

'VAR_1211'

No. of unique values: 233
No.of Null Values: 0

'VAR_1212'

No. of unique values: 17
No.of Null Values: 0

'VAR_1213'

No. of unique values: 5
No.of Null Values: 0

'VAR_1214'

No. of unique values: 30
No.of Null Values: 0

'VAR_1215'

No. of unique values: 2234
No.of Null Values: 0

'VAR_1216'

No. of unique values: 65
No.of Null Values: 0

'VAR_1217'

No. of unique values: 34
No.of Null Values: 0

'VAR_1218'

No. of unique values: 8
No.of Null Values: 0

'VAR_1219'

No. of unique values: 49
No.of Null Values: 0

'VAR_1220'

No. of unique values: 33643
No.of Null Values: 0

'VAR_1221'

No. of unique values: 20976
No.of Null Values: 0

'VAR_1222'

No. of unique values: 148
No.of Null Values: 0

'VAR_1223'

No. of unique values: 137
No.of Null Values: 0

'VAR_1224'

No. of unique values: 31
No.of Null Values: 0

'VAR_1225'

No. of unique values: 11
No.of Null Values: 0

'VAR_1226'

No. of unique values: 30
No.of Null Values: 0

'VAR_1227'

No. of unique values: 17345
No.of Null Values: 0

'VAR_1228'

No. of unique values: 19013
No.of Null Values: 0

'VAR_1229'

No. of unique values: 59
No.of Null Values: 0

'VAR_1230'

No. of unique values: 5
No.of Null Values: 0

'VAR_1231'

No. of unique values: 31
No.of Null Values: 0

'VAR_1232'

No. of unique values: 11
No.of Null Values: 0

'VAR_1233'

No. of unique values: 58
No.of Null Values: 0

'VAR_1234'

No. of unique values: 31
No.of Null Values: 0

'VAR_1235'

No. of unique values: 26
No.of Null Values: 0

'VAR_1236'

No. of unique values: 30
No.of Null Values: 0

'VAR_1237'

No. of unique values: 27
No.of Null Values: 0

'VAR_1238'

No. of unique values: 33
No.of Null Values: 0

'VAR_1239'

No. of unique values: 11
No.of Null Values: 0

'VAR_1240'

No. of unique values: 86
No.of Null Values: 0

'VAR_1241'

No. of unique values: 18416
No.of Null Values: 0

'VAR_1242'

No. of unique values: 288
No.of Null Values: 0

'VAR_1243'

No. of unique values: 20076
No.of Null Values: 0

'VAR_1244'

No. of unique values: 2589
No.of Null Values: 0

'VAR_1245'

No. of unique values: 1565
No.of Null Values: 0

'VAR_1246'

No. of unique values: 2496
No.of Null Values: 0

'VAR_1247'

No. of unique values: 2315
No.of Null Values: 0

'VAR_1248'

No. of unique values: 8977
No.of Null Values: 0

'VAR_1249'

No. of unique values: 600
No.of Null Values: 0

'VAR_1250'

No. of unique values: 639
No.of Null Values: 0

'VAR_1251'

No. of unique values: 1279
No.of Null Values: 0

'VAR_1252'

No. of unique values: 1909
No.of Null Values: 0

'VAR_1253'

No. of unique values: 9
No.of Null Values: 0

'VAR_1254'

No. of unique values: 9
No.of Null Values: 0

'VAR_1255'

No. of unique values: 9
No.of Null Values: 0

'VAR_1256'

No. of unique values: 10
No.of Null Values: 0

'VAR_1257'

No. of unique values: 10
No.of Null Values: 0

'VAR_1258'

No. of unique values: 165
No.of Null Values: 0

'VAR_1259'

No. of unique values: 362
No.of Null Values: 0

'VAR_1260'

No. of unique values: 86
No.of Null Values: 0

'VAR_1261'

No. of unique values: 86
No.of Null Values: 0

'VAR_1262'

No. of unique values: 86
No.of Null Values: 0

'VAR_1263'

No. of unique values: 85
No.of Null Values: 0

'VAR_1264'

No. of unique values: 87
No.of Null Values: 0

'VAR_1265'

No. of unique values: 615
No.of Null Values: 0

'VAR_1266'

No. of unique values: 395
No.of Null Values: 0

'VAR_1267'

No. of unique values: 59
No.of Null Values: 0

'VAR_1268'

No. of unique values: 30
No.of Null Values: 0

'VAR_1269'

No. of unique values: 29
No.of Null Values: 0

'VAR_1270'

No. of unique values: 11
No.of Null Values: 0

'VAR_1271'

No. of unique values: 12
No.of Null Values: 0

'VAR_1272'

No. of unique values: 14
No.of Null Values: 0

'VAR_1273'

No. of unique values: 28
No.of Null Values: 0

'VAR_1274'

No. of unique values: 56
No.of Null Values: 0

'VAR_1275'

No. of unique values: 33
No.of Null Values: 0

'VAR_1276'

No. of unique values: 34
No.of Null Values: 0

'VAR_1277'

No. of unique values: 35
No.of Null Values: 0

'VAR_1278'

No. of unique values: 28
No.of Null Values: 0

'VAR_1279'

No. of unique values: 18
No.of Null Values: 0

'VAR_1280'

No. of unique values: 22
No.of Null Values: 0

'VAR_1281'

No. of unique values: 24
No.of Null Values: 0

'VAR_1282'

No. of unique values: 28
No.of Null Values: 0

'VAR_1283'

No. of unique values: 18
No.of Null Values: 0

'VAR_1284'

No. of unique values: 21
No.of Null Values: 0

'VAR_1285'

No. of unique values: 24
No.of Null Values: 0

'VAR_1286'

No. of unique values: 28
No.of Null Values: 0

'VAR_1287'

No. of unique values: 18
No.of Null Values: 0

'VAR_1288'

No. of unique values: 20
No.of Null Values: 0

'VAR_1289'

No. of unique values: 25
No.of Null Values: 0

'VAR_1290'

No. of unique values: 26
No.of Null Values: 0

'VAR_1291'

No. of unique values: 14
No.of Null Values: 0

'VAR_1292'

No. of unique values: 11
No.of Null Values: 0

'VAR_1293'

No. of unique values: 32
No.of Null Values: 0

'VAR_1294'

No. of unique values: 31
No.of Null Values: 0

'VAR_1295'

No. of unique values: 29
No.of Null Values: 0

'VAR_1296'

No. of unique values: 29
No.of Null Values: 0

'VAR_1297'

No. of unique values: 31
No.of Null Values: 0

'VAR_1298'

No. of unique values: 30
No.of Null Values: 0

'VAR_1299'

No. of unique values: 29
No.of Null Values: 0

'VAR_1300'

No. of unique values: 26
No.of Null Values: 0

'VAR_1301'

No. of unique values: 17
No.of Null Values: 0

'VAR_1302'

No. of unique values: 20
No.of Null Values: 0

'VAR_1303'

No. of unique values: 11
No.of Null Values: 0

'VAR_1304'

No. of unique values: 31
No.of Null Values: 0

'VAR_1305'

No. of unique values: 11
No.of Null Values: 0

'VAR_1306'

No. of unique values: 13
No.of Null Values: 0

'VAR_1307'

No. of unique values: 25
No.of Null Values: 0

'VAR_1308'

No. of unique values: 32
No.of Null Values: 0

'VAR_1309'

No. of unique values: 48
No.of Null Values: 0

'VAR_1310'

No. of unique values: 37
No.of Null Values: 0

'VAR_1311'

No. of unique values: 55
No.of Null Values: 0

'VAR_1312'

No. of unique values: 18085
No.of Null Values: 0

'VAR_1313'

No. of unique values: 19764
No.of Null Values: 0

'VAR_1314'

No. of unique values: 12914
No.of Null Values: 0

'VAR_1315'

No. of unique values: 7598
No.of Null Values: 0

'VAR_1316'

No. of unique values: 7971
No.of Null Values: 0

'VAR_1317'

No. of unique values: 2934
No.of Null Values: 0

'VAR_1318'

No. of unique values: 2245
No.of Null Values: 0

'VAR_1319'

No. of unique values: 3104
No.of Null Values: 0

'VAR_1320'

No. of unique values: 6919
No.of Null Values: 0

'VAR_1321'

No. of unique values: 12520
No.of Null Values: 0

'VAR_1322'

No. of unique values: 12448
No.of Null Values: 0

'VAR_1323'

No. of unique values: 1800
No.of Null Values: 0

'VAR_1324'

No. of unique values: 9
No.of Null Values: 0

'VAR_1325'

No. of unique values: 9
No.of Null Values: 0

'VAR_1326'

No. of unique values: 10
No.of Null Values: 0

'VAR_1327'

No. of unique values: 273
No.of Null Values: 0

'VAR_1328'

No. of unique values: 232
No.of Null Values: 0

'VAR_1329'

No. of unique values: 301
No.of Null Values: 0

'VAR_1330'

No. of unique values: 291
No.of Null Values: 0

'VAR_1331'

No. of unique values: 273
No.of Null Values: 0

'VAR_1332'

No. of unique values: 232
No.of Null Values: 0

'VAR_1333'

No. of unique values: 97
No.of Null Values: 0

'VAR_1334'

No. of unique values: 103
No.of Null Values: 0

'VAR_1335'

No. of unique values: 358
No.of Null Values: 0

'VAR_1336'

No. of unique values: 609
No.of Null Values: 0

'VAR_1337'

No. of unique values: 389
No.of Null Values: 0

'VAR_1338'

No. of unique values: 19
No.of Null Values: 0

'VAR_1339'

No. of unique values: 31
No.of Null Values: 0

'VAR_1340'

No. of unique values: 10
No.of Null Values: 0

'VAR_1341'

No. of unique values: 3800
No.of Null Values: 0

'VAR_1342'

No. of unique values: 4200
No.of Null Values: 0

'VAR_1343'

No. of unique values: 337
No.of Null Values: 0

'VAR_1344'

No. of unique values: 353
No.of Null Values: 0

'VAR_1345'

No. of unique values: 27
No.of Null Values: 0

'VAR_1346'

No. of unique values: 11
No.of Null Values: 0

'VAR_1347'

No. of unique values: 13
No.of Null Values: 0

'VAR_1348'

No. of unique values: 52
No.of Null Values: 0

'VAR_1349'

No. of unique values: 26
No.of Null Values: 0

'VAR_1350'

No. of unique values: 24
No.of Null Values: 0

'VAR_1351'

No. of unique values: 16
No.of Null Values: 0

'VAR_1352'

No. of unique values: 29
No.of Null Values: 0

'VAR_1353'

No. of unique values: 17107
No.of Null Values: 0

'VAR_1354'

No. of unique values: 18751
No.of Null Values: 0

'VAR_1355'

No. of unique values: 6947
No.of Null Values: 0

'VAR_1356'

No. of unique values: 2747
No.of Null Values: 0

'VAR_1357'

No. of unique values: 1688
No.of Null Values: 0

'VAR_1358'

No. of unique values: 273
No.of Null Values: 0

'VAR_1359'

No. of unique values: 82
No.of Null Values: 0

'VAR_1360'

No. of unique values: 53
No.of Null Values: 0

'VAR_1361'

No. of unique values: 47
No.of Null Values: 0

'VAR_1362'

No. of unique values: 26
No.of Null Values: 0

'VAR_1363'

No. of unique values: 79
No.of Null Values: 0

'VAR_1364'

No. of unique values: 36
No.of Null Values: 0

'VAR_1365'

No. of unique values: 37
No.of Null Values: 0

'VAR_1366'

No. of unique values: 35
No.of Null Values: 0

'VAR_1367'

No. of unique values: 36
No.of Null Values: 0

'VAR_1368'

No. of unique values: 31
No.of Null Values: 0

'VAR_1369'

No. of unique values: 44
No.of Null Values: 0

'VAR_1370'

No. of unique values: 97
No.of Null Values: 0

'VAR_1371'

No. of unique values: 20879
No.of Null Values: 0

'VAR_1372'

No. of unique values: 22615
No.of Null Values: 0

'VAR_1373'

No. of unique values: 17678
No.of Null Values: 0

'VAR_1374'

No. of unique values: 18647
No.of Null Values: 0

'VAR_1375'

No. of unique values: 1409
No.of Null Values: 0

'VAR_1376'

No. of unique values: 1963
No.of Null Values: 0

'VAR_1377'

No. of unique values: 9
No.of Null Values: 0

'VAR_1378'

No. of unique values: 8
No.of Null Values: 0

'VAR_1379'

No. of unique values: 10
No.of Null Values: 0

'VAR_1380'

No. of unique values: 306
No.of Null Values: 0

'VAR_1381'

No. of unique values: 344
No.of Null Values: 0

'VAR_1382'

No. of unique values: 86
No.of Null Values: 0

'VAR_1383'

No. of unique values: 86
No.of Null Values: 0

'VAR_1384'

No. of unique values: 649
No.of Null Values: 0

'VAR_1385'

No. of unique values: 378
No.of Null Values: 0

'VAR_1386'

No. of unique values: 73
No.of Null Values: 0

'VAR_1387'

No. of unique values: 48
No.of Null Values: 0

'VAR_1388'

No. of unique values: 71
No.of Null Values: 0

'VAR_1389'

No. of unique values: 41
No.of Null Values: 0

'VAR_1390'

No. of unique values: 12624
No.of Null Values: 0

'VAR_1391'

No. of unique values: 86
No.of Null Values: 0

'VAR_1392'

No. of unique values: 60
No.of Null Values: 0

'VAR_1393'

No. of unique values: 15
No.of Null Values: 0

'VAR_1394'

No. of unique values: 9
No.of Null Values: 0

'VAR_1395'

No. of unique values: 59
No.of Null Values: 0

'VAR_1396'

No. of unique values: 11
No.of Null Values: 0

'VAR_1397'

No. of unique values: 51
No.of Null Values: 0

'VAR_1398'

No. of unique values: 19744
No.of Null Values: 0

'VAR_1399'

No. of unique values: 17471
No.of Null Values: 0

'VAR_1400'

No. of unique values: 8
No.of Null Values: 0

'VAR_1401'

No. of unique values: 10
No.of Null Values: 0

'VAR_1402'

No. of unique values: 85
No.of Null Values: 0

'VAR_1403'

No. of unique values: 362
No.of Null Values: 0

'VAR_1404'

No. of unique values: 68
No.of Null Values: 0

'VAR_1405'

No. of unique values: 10
No.of Null Values: 0

'VAR_1406'

No. of unique values: 9
No.of Null Values: 0

'VAR_1407'

No. of unique values: 9
No.of Null Values: 0

'VAR_1408'

No. of unique values: 10
No.of Null Values: 0

'VAR_1409'

No. of unique values: 70
No.of Null Values: 0

'VAR_1410'

No. of unique values: 36
No.of Null Values: 0

'VAR_1411'

No. of unique values: 14
No.of Null Values: 0

'VAR_1412'

No. of unique values: 11
No.of Null Values: 0

'VAR_1413'

No. of unique values: 13
No.of Null Values: 0

'VAR_1414'

No. of unique values: 10
No.of Null Values: 0

'VAR_1415'

No. of unique values: 12
No.of Null Values: 0

'VAR_1416'

No. of unique values: 9
No.of Null Values: 0

'VAR_1417'

No. of unique values: 11
No.of Null Values: 0

'VAR_1418'

No. of unique values: 8055
No.of Null Values: 0

'VAR_1419'

No. of unique values: 8810
No.of Null Values: 0

'VAR_1420'

No. of unique values: 7959
No.of Null Values: 0

'VAR_1421'

No. of unique values: 8198
No.of Null Values: 0

'VAR_1422'

No. of unique values: 9
No.of Null Values: 0

'VAR_1423'

No. of unique values: 10
No.of Null Values: 0

'VAR_1424'

No. of unique values: 272
No.of Null Values: 0

'VAR_1425'

No. of unique values: 319
No.of Null Values: 0

'VAR_1426'

No. of unique values: 272
No.of Null Values: 0

'VAR_1427'

No. of unique values: 2
No.of Null Values: 0

'VAR_1428'

No. of unique values: 1
No.of Null Values: 0

'VAR_1429'

No. of unique values: 14
No.of Null Values: 0

'VAR_1430'

No. of unique values: 5
No.of Null Values: 0

'VAR_1431'

No. of unique values: 8
No.of Null Values: 0

'VAR_1432'

No. of unique values: 5
No.of Null Values: 0

'VAR_1433'

No. of unique values: 8
No.of Null Values: 0

'VAR_1434'

No. of unique values: 8
No.of Null Values: 0

'VAR_1435'

No. of unique values: 8
No.of Null Values: 0

'VAR_1436'

No. of unique values: 396
No.of Null Values: 0

'VAR_1437'

No. of unique values: 3741
No.of Null Values: 0

'VAR_1438'

No. of unique values: 1086
No.of Null Values: 0

'VAR_1439'

No. of unique values: 1045
No.of Null Values: 0

'VAR_1440'

No. of unique values: 1083
No.of Null Values: 0

'VAR_1441'

No. of unique values: 2270
No.of Null Values: 0

'VAR_1442'

No. of unique values: 928
No.of Null Values: 0

'VAR_1443'

No. of unique values: 9
No.of Null Values: 0

'VAR_1444'

No. of unique values: 131
No.of Null Values: 0

'VAR_1445'

No. of unique values: 62
No.of Null Values: 0

'VAR_1446'

No. of unique values: 275
No.of Null Values: 0

'VAR_1447'

No. of unique values: 292
No.of Null Values: 0

'VAR_1448'

No. of unique values: 275
No.of Null Values: 0

'VAR_1449'

No. of unique values: 19
No.of Null Values: 0

'VAR_1450'

No. of unique values: 17
No.of Null Values: 0

'VAR_1451'

No. of unique values: 23913
No.of Null Values: 0

'VAR_1452'

No. of unique values: 24415
No.of Null Values: 0

'VAR_1453'

No. of unique values: 1835
No.of Null Values: 0

'VAR_1454'

No. of unique values: 298
No.of Null Values: 0

'VAR_1455'

No. of unique values: 348
No.of Null Values: 0

'VAR_1456'

No. of unique values: 86
No.of Null Values: 0

'VAR_1457'

No. of unique values: 37
No.of Null Values: 0

'VAR_1458'

No. of unique values: 9
No.of Null Values: 0

'VAR_1459'

No. of unique values: 12
No.of Null Values: 0

'VAR_1460'

No. of unique values: 16
No.of Null Values: 0

'VAR_1461'

No. of unique values: 20
No.of Null Values: 0

'VAR_1462'

No. of unique values: 88
No.of Null Values: 0

'VAR_1463'

No. of unique values: 39
No.of Null Values: 0

'VAR_1464'

No. of unique values: 43
No.of Null Values: 0

'VAR_1465'

No. of unique values: 48
No.of Null Values: 0

'VAR_1466'

No. of unique values: 11
No.of Null Values: 0

'VAR_1467'

No. of unique values: 16
No.of Null Values: 0

'VAR_1468'

No. of unique values: 26
No.of Null Values: 0

'VAR_1469'

No. of unique values: 23
No.of Null Values: 0

'VAR_1470'

No. of unique values: 39
No.of Null Values: 0

'VAR_1471'

No. of unique values: 27
No.of Null Values: 0

'VAR_1472'

No. of unique values: 31
No.of Null Values: 0

'VAR_1473'

No. of unique values: 36
No.of Null Values: 0

'VAR_1474'

No. of unique values: 38
No.of Null Values: 0

'VAR_1475'

No. of unique values: 27
No.of Null Values: 0

'VAR_1476'

No. of unique values: 30
No.of Null Values: 0

'VAR_1477'

No. of unique values: 35
No.of Null Values: 0

'VAR_1478'

No. of unique values: 38
No.of Null Values: 0

'VAR_1479'

No. of unique values: 27
No.of Null Values: 0

'VAR_1480'

No. of unique values: 30
No.of Null Values: 0

'VAR_1481'

No. of unique values: 34
No.of Null Values: 0

'VAR_1482'

No. of unique values: 36
No.of Null Values: 0

'VAR_1483'

No. of unique values: 32
No.of Null Values: 0

'VAR_1484'

No. of unique values: 51
No.of Null Values: 0

'VAR_1485'

No. of unique values: 31
No.of Null Values: 0

'VAR_1486'

No. of unique values: 40
No.of Null Values: 0

'VAR_1487'

No. of unique values: 74
No.of Null Values: 0

'VAR_1488'

No. of unique values: 98
No.of Null Values: 0

'VAR_1489'

No. of unique values: 44818
No.of Null Values: 0

'VAR_1490'

No. of unique values: 4874
No.of Null Values: 0

'VAR_1491'

No. of unique values: 1736
No.of Null Values: 0

'VAR_1492'

No. of unique values: 3216
No.of Null Values: 0

'VAR_1493'

No. of unique values: 2619
No.of Null Values: 0

'VAR_1494'

No. of unique values: 50377
No.of Null Values: 0

'VAR_1495'

No. of unique values: 45298
No.of Null Values: 0

'VAR_1496'

No. of unique values: 37532
No.of Null Values: 0

'VAR_1497'

No. of unique values: 31946
No.of Null Values: 0

'VAR_1498'

No. of unique values: 1353
No.of Null Values: 0

'VAR_1499'

No. of unique values: 1052
No.of Null Values: 0

'VAR_1500'

No. of unique values: 1831
No.of Null Values: 0

'VAR_1501'

No. of unique values: 2005
No.of Null Values: 0

'VAR_1502'

No. of unique values: 2570
No.of Null Values: 0

'VAR_1503'

No. of unique values: 910
No.of Null Values: 0

'VAR_1504'

No. of unique values: 1109
No.of Null Values: 0

'VAR_1505'

No. of unique values: 10
No.of Null Values: 0

'VAR_1506'

No. of unique values: 8
No.of Null Values: 0

'VAR_1507'

No. of unique values: 10
No.of Null Values: 0

'VAR_1508'

No. of unique values: 10
No.of Null Values: 0

'VAR_1509'

No. of unique values: 10
No.of Null Values: 0

'VAR_1510'

No. of unique values: 10
No.of Null Values: 0

'VAR_1511'

No. of unique values: 10
No.of Null Values: 0

'VAR_1512'

No. of unique values: 231
No.of Null Values: 0

'VAR_1513'

No. of unique values: 99
No.of Null Values: 0

'VAR_1514'

No. of unique values: 98
No.of Null Values: 0

'VAR_1515'

No. of unique values: 101
No.of Null Values: 0

'VAR_1516'

No. of unique values: 99
No.of Null Values: 0

'VAR_1517'

No. of unique values: 98
No.of Null Values: 0

'VAR_1518'

No. of unique values: 101
No.of Null Values: 0

'VAR_1519'

No. of unique values: 101
No.of Null Values: 0

'VAR_1520'

No. of unique values: 101
No.of Null Values: 0

'VAR_1521'

No. of unique values: 100
No.of Null Values: 0

'VAR_1522'

No. of unique values: 99
No.of Null Values: 0

'VAR_1523'

No. of unique values: 276
No.of Null Values: 0

'VAR_1524'

No. of unique values: 338
No.of Null Values: 0

'VAR_1525'

No. of unique values: 86
No.of Null Values: 0

'VAR_1526'

No. of unique values: 86
No.of Null Values: 0

'VAR_1527'

No. of unique values: 86
No.of Null Values: 0

'VAR_1528'

No. of unique values: 85
No.of Null Values: 0

'VAR_1529'

No. of unique values: 85
No.of Null Values: 0

'VAR_1530'

No. of unique values: 427
No.of Null Values: 0

'VAR_1531'

No. of unique values: 293
No.of Null Values: 0

'VAR_1532'

No. of unique values: 16
No.of Null Values: 0

'VAR_1533'

No. of unique values: 5
No.of Null Values: 0

'VAR_1534'

No. of unique values: 7
No.of Null Values: 0

'VAR_1535'

No. of unique values: 10
No.of Null Values: 0

'VAR_1536'

No. of unique values: 26
No.of Null Values: 0

'VAR_1537'

No. of unique values: 19
No.of Null Values: 0

'VAR_1538'

No. of unique values: 5
No.of Null Values: 0

'VAR_1539'

No. of unique values: 7
No.of Null Values: 0

'VAR_1540'

No. of unique values: 12
No.of Null Values: 0

'VAR_1541'

No. of unique values: 26
No.of Null Values: 0

'VAR_1542'

No. of unique values: 18
No.of Null Values: 0

'VAR_1543'

No. of unique values: 7
No.of Null Values: 0

'VAR_1544'

No. of unique values: 9
No.of Null Values: 0

'VAR_1545'

No. of unique values: 12
No.of Null Values: 0

'VAR_1546'

No. of unique values: 17
No.of Null Values: 0

'VAR_1547'

No. of unique values: 5
No.of Null Values: 0

'VAR_1548'

No. of unique values: 7
No.of Null Values: 0

'VAR_1549'

No. of unique values: 10
No.of Null Values: 0

'VAR_1550'

No. of unique values: 26
No.of Null Values: 0

'VAR_1551'

No. of unique values: 17
No.of Null Values: 0

'VAR_1552'

No. of unique values: 5
No.of Null Values: 0

'VAR_1553'

No. of unique values: 7
No.of Null Values: 0

'VAR_1554'

No. of unique values: 11
No.of Null Values: 0

'VAR_1555'

No. of unique values: 26
No.of Null Values: 0

'VAR_1556'

No. of unique values: 14
No.of Null Values: 0

'VAR_1557'

No. of unique values: 4
No.of Null Values: 0

'VAR_1558'

No. of unique values: 6
No.of Null Values: 0

'VAR_1559'

No. of unique values: 10
No.of Null Values: 0

'VAR_1560'

No. of unique values: 26
No.of Null Values: 0

'VAR_1561'

No. of unique values: 28
No.of Null Values: 0

'VAR_1562'

No. of unique values: 4
No.of Null Values: 0

'VAR_1563'

No. of unique values: 5
No.of Null Values: 0

'VAR_1564'

No. of unique values: 9
No.of Null Values: 0

'VAR_1565'

No. of unique values: 12
No.of Null Values: 0

'VAR_1566'

No. of unique values: 18
No.of Null Values: 0

'VAR_1567'

No. of unique values: 84
No.of Null Values: 0

'VAR_1568'

No. of unique values: 13
No.of Null Values: 0

'VAR_1569'

No. of unique values: 16
No.of Null Values: 0

'VAR_1570'

No. of unique values: 23
No.of Null Values: 0

'VAR_1571'

No. of unique values: 35
No.of Null Values: 0

'VAR_1572'

No. of unique values: 48
No.of Null Values: 0

'VAR_1573'

No. of unique values: 26
No.of Null Values: 0

'VAR_1574'

No. of unique values: 31
No.of Null Values: 0

'VAR_1575'

No. of unique values: 120
No.of Null Values: 0

'VAR_1576'

No. of unique values: 211
No.of Null Values: 0

'VAR_1577'

No. of unique values: 31
No.of Null Values: 0

'VAR_1578'

No. of unique values: 119
No.of Null Values: 0

'VAR_1579'

No. of unique values: 209
No.of Null Values: 0

'VAR_1580'

No. of unique values: 182
No.of Null Values: 0

'VAR_1581'

No. of unique values: 34382
No.of Null Values: 0

'VAR_1582'

No. of unique values: 2932
No.of Null Values: 0

'VAR_1583'

No. of unique values: 37
No.of Null Values: 0

'VAR_1584'

No. of unique values: 5
No.of Null Values: 0

'VAR_1585'

No. of unique values: 17
No.of Null Values: 0

'VAR_1586'

No. of unique values: 6
No.of Null Values: 0

'VAR_1587'

No. of unique values: 8
No.of Null Values: 0

'VAR_1588'

No. of unique values: 9
No.of Null Values: 0

'VAR_1589'

No. of unique values: 32
No.of Null Values: 0

'VAR_1590'

No. of unique values: 4
No.of Null Values: 0

'VAR_1591'

No. of unique values: 17
No.of Null Values: 0

'VAR_1592'

No. of unique values: 17
No.of Null Values: 0

'VAR_1593'

No. of unique values: 17
No.of Null Values: 0

'VAR_1594'

No. of unique values: 9
No.of Null Values: 0

'VAR_1595'

No. of unique values: 7
No.of Null Values: 0

'VAR_1596'

No. of unique values: 8
No.of Null Values: 0

'VAR_1597'

No. of unique values: 10
No.of Null Values: 0

'VAR_1598'

No. of unique values: 21
No.of Null Values: 0

'VAR_1599'

No. of unique values: 12
No.of Null Values: 0

'VAR_1600'

No. of unique values: 14
No.of Null Values: 0

'VAR_1601'

No. of unique values: 14
No.of Null Values: 0

'VAR_1602'

No. of unique values: 21
No.of Null Values: 0

'VAR_1603'

No. of unique values: 10
No.of Null Values: 0

'VAR_1604'

No. of unique values: 13
No.of Null Values: 0

'VAR_1605'

No. of unique values: 14
No.of Null Values: 0

'VAR_1606'

No. of unique values: 20
No.of Null Values: 0

'VAR_1607'

No. of unique values: 10
No.of Null Values: 0

'VAR_1608'

No. of unique values: 12
No.of Null Values: 0

'VAR_1609'

No. of unique values: 13
No.of Null Values: 0

'VAR_1610'

No. of unique values: 18
No.of Null Values: 0

'VAR_1611'

No. of unique values: 31
No.of Null Values: 0

'VAR_1612'

No. of unique values: 41
No.of Null Values: 0

'VAR_1613'

No. of unique values: 22
No.of Null Values: 0

'VAR_1614'

No. of unique values: 32
No.of Null Values: 0

'VAR_1615'

No. of unique values: 38
No.of Null Values: 0

'VAR_1616'

No. of unique values: 59
No.of Null Values: 0

'VAR_1617'

No. of unique values: 37107
No.of Null Values: 0

'VAR_1618'

No. of unique values: 37212
No.of Null Values: 0

'VAR_1619'

No. of unique values: 2654
No.of Null Values: 0

'VAR_1620'

No. of unique values: 1122
No.of Null Values: 0

'VAR_1621'

No. of unique values: 2628
No.of Null Values: 0

'VAR_1622'

No. of unique values: 739
No.of Null Values: 0

'VAR_1623'

No. of unique values: 22753
No.of Null Values: 0

'VAR_1624'

No. of unique values: 27215
No.of Null Values: 0

'VAR_1625'

No. of unique values: 20792
No.of Null Values: 0

'VAR_1626'

No. of unique values: 20986
No.of Null Values: 0

'VAR_1627'

No. of unique values: 1826
No.of Null Values: 0

'VAR_1628'

No. of unique values: 987
No.of Null Values: 0

'VAR_1629'

No. of unique values: 2511
No.of Null Values: 0

'VAR_1630'

No. of unique values: 683
No.of Null Values: 0

'VAR_1631'

No. of unique values: 3724
No.of Null Values: 0

'VAR_1632'

No. of unique values: 10
No.of Null Values: 0

'VAR_1633'

No. of unique values: 8
No.of Null Values: 0

'VAR_1634'

No. of unique values: 10
No.of Null Values: 0

'VAR_1635'

No. of unique values: 10
No.of Null Values: 0

'VAR_1636'

No. of unique values: 10
No.of Null Values: 0

'VAR_1637'

No. of unique values: 10
No.of Null Values: 0

'VAR_1638'

No. of unique values: 10
No.of Null Values: 0

'VAR_1639'

No. of unique values: 59
No.of Null Values: 0

'VAR_1640'

No. of unique values: 72
No.of Null Values: 0

'VAR_1641'

No. of unique values: 58
No.of Null Values: 0

'VAR_1642'

No. of unique values: 60
No.of Null Values: 0

'VAR_1643'

No. of unique values: 60
No.of Null Values: 0

'VAR_1644'

No. of unique values: 74
No.of Null Values: 0

'VAR_1645'

No. of unique values: 76
No.of Null Values: 0

'VAR_1646'

No. of unique values: 76
No.of Null Values: 0

'VAR_1647'

No. of unique values: 69
No.of Null Values: 0

'VAR_1648'

No. of unique values: 418
No.of Null Values: 0

'VAR_1649'

No. of unique values: 86
No.of Null Values: 0

'VAR_1650'

No. of unique values: 86
No.of Null Values: 0

'VAR_1651'

No. of unique values: 85
No.of Null Values: 0

'VAR_1652'

No. of unique values: 85
No.of Null Values: 0

'VAR_1653'

No. of unique values: 86
No.of Null Values: 0

'VAR_1654'

No. of unique values: 461
No.of Null Values: 0

'VAR_1655'

No. of unique values: 424
No.of Null Values: 0

'VAR_1656'

No. of unique values: 11
No.of Null Values: 0

'VAR_1657'

No. of unique values: 14
No.of Null Values: 0

'VAR_1658'

No. of unique values: 17
No.of Null Values: 0

'VAR_1659'

No. of unique values: 19
No.of Null Values: 0

'VAR_1660'

No. of unique values: 10
No.of Null Values: 0

'VAR_1661'

No. of unique values: 31
No.of Null Values: 0

'VAR_1662'

No. of unique values: 16
No.of Null Values: 0

'VAR_1663'

No. of unique values: 6
No.of Null Values: 0

'VAR_1664'

No. of unique values: 26
No.of Null Values: 0

'VAR_1665'

No. of unique values: 19
No.of Null Values: 0

'VAR_1666'

No. of unique values: 13
No.of Null Values: 0

'VAR_1667'

No. of unique values: 18
No.of Null Values: 0

'VAR_1668'

No. of unique values: 12
No.of Null Values: 0

'VAR_1669'

No. of unique values: 13
No.of Null Values: 0

'VAR_1670'

No. of unique values: 13
No.of Null Values: 0

'VAR_1671'

No. of unique values: 6
No.of Null Values: 0

'VAR_1672'

No. of unique values: 7
No.of Null Values: 0

'VAR_1673'

No. of unique values: 7
No.of Null Values: 0

'VAR_1674'

No. of unique values: 8
No.of Null Values: 0

'VAR_1675'

No. of unique values: 7
No.of Null Values: 0

'VAR_1676'

No. of unique values: 7
No.of Null Values: 0

'VAR_1677'

No. of unique values: 7
No.of Null Values: 0

'VAR_1678'

No. of unique values: 8
No.of Null Values: 0

'VAR_1679'

No. of unique values: 6
No.of Null Values: 0

'VAR_1680'

No. of unique values: 6
No.of Null Values: 0

'VAR_1681'

No. of unique values: 7
No.of Null Values: 0

'VAR_1682'

No. of unique values: 7
No.of Null Values: 0

'VAR_1683'

No. of unique values: 7
No.of Null Values: 0

'VAR_1684'

No. of unique values: 60
No.of Null Values: 0

'VAR_1685'

No. of unique values: 34978
No.of Null Values: 0

'VAR_1686'

No. of unique values: 1856
No.of Null Values: 0

'VAR_1687'

No. of unique values: 212
No.of Null Values: 0

'VAR_1688'

No. of unique values: 302
No.of Null Values: 0

'VAR_1689'

No. of unique values: 384
No.of Null Values: 0

'VAR_1690'

No. of unique values: 35703
No.of Null Values: 0

'VAR_1691'

No. of unique values: 20900
No.of Null Values: 0

'VAR_1692'

No. of unique values: 901
No.of Null Values: 0

'VAR_1693'

No. of unique values: 1070
No.of Null Values: 0

'VAR_1694'

No. of unique values: 1218
No.of Null Values: 0

'VAR_1695'

No. of unique values: 1447
No.of Null Values: 0

'VAR_1696'

No. of unique values: 1793
No.of Null Values: 0

'VAR_1697'

No. of unique values: 1998
No.of Null Values: 0

'VAR_1698'

No. of unique values: 2124
No.of Null Values: 0

'VAR_1699'

No. of unique values: 2462
No.of Null Values: 0

'VAR_1700'

No. of unique values: 18355
No.of Null Values: 0

'VAR_1701'

No. of unique values: 3430
No.of Null Values: 0

'VAR_1702'

No. of unique values: 8
No.of Null Values: 0

'VAR_1703'

No. of unique values: 9
No.of Null Values: 0

'VAR_1704'

No. of unique values: 9
No.of Null Values: 0

'VAR_1705'

No. of unique values: 9
No.of Null Values: 0

'VAR_1706'

No. of unique values: 9
No.of Null Values: 0

'VAR_1707'

No. of unique values: 9
No.of Null Values: 0

'VAR_1708'

No. of unique values: 10
No.of Null Values: 0

'VAR_1709'

No. of unique values: 154
No.of Null Values: 0

'VAR_1710'

No. of unique values: 86
No.of Null Values: 0

'VAR_1711'

No. of unique values: 84
No.of Null Values: 0

'VAR_1712'

No. of unique values: 433
No.of Null Values: 0

'VAR_1713'

No. of unique values: 11
No.of Null Values: 0

'VAR_1714'

No. of unique values: 11
No.of Null Values: 0

'VAR_1715'

No. of unique values: 16941
No.of Null Values: 0

'VAR_1716'

No. of unique values: 11287
No.of Null Values: 0

'VAR_1717'

No. of unique values: 2349
No.of Null Values: 0

'VAR_1718'

No. of unique values: 3152
No.of Null Values: 0

'VAR_1719'

No. of unique values: 421
No.of Null Values: 0

'VAR_1720'

No. of unique values: 447
No.of Null Values: 0

'VAR_1721'

No. of unique values: 14
No.of Null Values: 0

'VAR_1722'

No. of unique values: 7
No.of Null Values: 0

'VAR_1723'

No. of unique values: 5
No.of Null Values: 0

'VAR_1724'

No. of unique values: 13
No.of Null Values: 0

'VAR_1725'

No. of unique values: 8
No.of Null Values: 0

'VAR_1726'

No. of unique values: 8
No.of Null Values: 0

'VAR_1727'

No. of unique values: 8
No.of Null Values: 0

'VAR_1728'

No. of unique values: 8
No.of Null Values: 0

'VAR_1729'

No. of unique values: 39
No.of Null Values: 0

'VAR_1730'

No. of unique values: 4531
No.of Null Values: 0

'VAR_1731'

No. of unique values: 2701
No.of Null Values: 0

'VAR_1732'

No. of unique values: 3673
No.of Null Values: 0

'VAR_1733'

No. of unique values: 1082
No.of Null Values: 0

'VAR_1734'

No. of unique values: 8
No.of Null Values: 0

'VAR_1735'

No. of unique values: 10
No.of Null Values: 0

'VAR_1736'

No. of unique values: 85
No.of Null Values: 0

'VAR_1737'

No. of unique values: 275
No.of Null Values: 0

'VAR_1738'

No. of unique values: 36581
No.of Null Values: 0

'VAR_1739'

No. of unique values: 3161
No.of Null Values: 0

'VAR_1740'

No. of unique values: 83
No.of Null Values: 0

'VAR_1741'

No. of unique values: 15
No.of Null Values: 0

'VAR_1742'

No. of unique values: 84
No.of Null Values: 0

'VAR_1743'

No. of unique values: 13
No.of Null Values: 0

'VAR_1744'

No. of unique values: 12
No.of Null Values: 0

'VAR_1745'

No. of unique values: 12
No.of Null Values: 0

'VAR_1746'

No. of unique values: 13
No.of Null Values: 0

'VAR_1747'

No. of unique values: 18822
No.of Null Values: 0

'VAR_1748'

No. of unique values: 20612
No.of Null Values: 0

'VAR_1749'

No. of unique values: 9
No.of Null Values: 0

'VAR_1750'

No. of unique values: 300
No.of Null Values: 0

'VAR_1751'

No. of unique values: 372
No.of Null Values: 0

'VAR_1752'

No. of unique values: 13
No.of Null Values: 0

'VAR_1753'

No. of unique values: 13
No.of Null Values: 0

'VAR_1754'

No. of unique values: 7897
No.of Null Values: 0

'VAR_1755'

No. of unique values: 2213
No.of Null Values: 0

'VAR_1756'

No. of unique values: 869
No.of Null Values: 0

'VAR_1757'

No. of unique values: 930
No.of Null Values: 0

'VAR_1758'

No. of unique values: 493
No.of Null Values: 0

'VAR_1759'

No. of unique values: 570
No.of Null Values: 0

'VAR_1760'

No. of unique values: 83
No.of Null Values: 0

'VAR_1761'

No. of unique values: 52
No.of Null Values: 0

'VAR_1762'

No. of unique values: 46
No.of Null Values: 0

'VAR_1763'

No. of unique values: 21
No.of Null Values: 0

'VAR_1764'

No. of unique values: 26
No.of Null Values: 0

'VAR_1765'

No. of unique values: 29
No.of Null Values: 0

'VAR_1766'

No. of unique values: 80
No.of Null Values: 0

'VAR_1767'

No. of unique values: 50
No.of Null Values: 0

'VAR_1768'

No. of unique values: 54
No.of Null Values: 0

'VAR_1769'

No. of unique values: 55
No.of Null Values: 0

'VAR_1770'

No. of unique values: 14
No.of Null Values: 0

'VAR_1771'

No. of unique values: 13
No.of Null Values: 0

'VAR_1772'

No. of unique values: 19
No.of Null Values: 0

'VAR_1773'

No. of unique values: 22
No.of Null Values: 0

'VAR_1774'

No. of unique values: 39
No.of Null Values: 0

'VAR_1775'

No. of unique values: 26
No.of Null Values: 0

'VAR_1776'

No. of unique values: 30
No.of Null Values: 0

'VAR_1777'

No. of unique values: 36
No.of Null Values: 0

'VAR_1778'

No. of unique values: 37
No.of Null Values: 0

'VAR_1779'

No. of unique values: 25
No.of Null Values: 0

'VAR_1780'

No. of unique values: 29
No.of Null Values: 0

'VAR_1781'

No. of unique values: 37
No.of Null Values: 0

'VAR_1782'

No. of unique values: 35
No.of Null Values: 0

'VAR_1783'

No. of unique values: 25
No.of Null Values: 0

'VAR_1784'

No. of unique values: 28
No.of Null Values: 0

'VAR_1785'

No. of unique values: 35
No.of Null Values: 0

'VAR_1786'

No. of unique values: 37
No.of Null Values: 0

'VAR_1787'

No. of unique values: 22
No.of Null Values: 0

'VAR_1788'

No. of unique values: 22
No.of Null Values: 0

'VAR_1789'

No. of unique values: 37
No.of Null Values: 0

'VAR_1790'

No. of unique values: 33
No.of Null Values: 0

'VAR_1791'

No. of unique values: 22
No.of Null Values: 0

'VAR_1792'

No. of unique values: 45
No.of Null Values: 0

'VAR_1793'

No. of unique values: 18
No.of Null Values: 0

'VAR_1794'

No. of unique values: 21
No.of Null Values: 0

'VAR_1795'

No. of unique values: 45
No.of Null Values: 0

'VAR_1796'

No. of unique values: 58
No.of Null Values: 0

'VAR_1797'

No. of unique values: 33
No.of Null Values: 0

'VAR_1798'

No. of unique values: 45
No.of Null Values: 0

'VAR_1799'

No. of unique values: 45
No.of Null Values: 0

'VAR_1800'

No. of unique values: 60
No.of Null Values: 0

'VAR_1801'

No. of unique values: 23515
No.of Null Values: 0

'VAR_1802'

No. of unique values: 25349
No.of Null Values: 0

'VAR_1803'

No. of unique values: 3505
No.of Null Values: 0

'VAR_1804'

No. of unique values: 2305
No.of Null Values: 0

'VAR_1805'

No. of unique values: 3303
No.of Null Values: 0

'VAR_1806'

No. of unique values: 3005
No.of Null Values: 0

'VAR_1807'

No. of unique values: 18100
No.of Null Values: 0

'VAR_1808'

No. of unique values: 4655
No.of Null Values: 0

'VAR_1809'

No. of unique values: 19287
No.of Null Values: 0

'VAR_1810'

No. of unique values: 19143
No.of Null Values: 0

'VAR_1811'

No. of unique values: 713
No.of Null Values: 0

'VAR_1812'

No. of unique values: 768
No.of Null Values: 0

'VAR_1813'

No. of unique values: 1563
No.of Null Values: 0

'VAR_1814'

No. of unique values: 2198
No.of Null Values: 0

'VAR_1815'

No. of unique values: 2244
No.of Null Values: 0

'VAR_1816'

No. of unique values: 9
No.of Null Values: 0

'VAR_1817'

No. of unique values: 8
No.of Null Values: 0

'VAR_1818'

No. of unique values: 10
No.of Null Values: 0

'VAR_1819'

No. of unique values: 10
No.of Null Values: 0

'VAR_1820'

No. of unique values: 10
No.of Null Values: 0

'VAR_1821'

No. of unique values: 10
No.of Null Values: 0

'VAR_1822'

No. of unique values: 10
No.of Null Values: 0

'VAR_1823'

No. of unique values: 299
No.of Null Values: 0

'VAR_1824'

No. of unique values: 300
No.of Null Values: 0

'VAR_1825'

No. of unique values: 102
No.of Null Values: 0

'VAR_1826'

No. of unique values: 100
No.of Null Values: 0

'VAR_1827'

No. of unique values: 99
No.of Null Values: 0

'VAR_1828'

No. of unique values: 101
No.of Null Values: 0

'VAR_1829'

No. of unique values: 101
No.of Null Values: 0

'VAR_1830'

No. of unique values: 101
No.of Null Values: 0

'VAR_1831'

No. of unique values: 99
No.of Null Values: 0

'VAR_1832'

No. of unique values: 92
No.of Null Values: 0

'VAR_1833'

No. of unique values: 99
No.of Null Values: 0

'VAR_1834'

No. of unique values: 98
No.of Null Values: 0

'VAR_1835'

No. of unique values: 339
No.of Null Values: 0

'VAR_1836'

No. of unique values: 86
No.of Null Values: 0

'VAR_1837'

No. of unique values: 86
No.of Null Values: 0

'VAR_1838'

No. of unique values: 86
No.of Null Values: 0

'VAR_1839'

No. of unique values: 85
No.of Null Values: 0

'VAR_1840'

No. of unique values: 87
No.of Null Values: 0

'VAR_1841'

No. of unique values: 650
No.of Null Values: 0

'VAR_1842'

No. of unique values: 369
No.of Null Values: 0

'VAR_1843'

No. of unique values: 6
No.of Null Values: 0

'VAR_1844'

No. of unique values: 5
No.of Null Values: 0

'VAR_1845'

No. of unique values: 197
No.of Null Values: 0

'VAR_1846'

No. of unique values: 150
No.of Null Values: 0

'VAR_1847'

No. of unique values: 141
No.of Null Values: 0

'VAR_1848'

No. of unique values: 5
No.of Null Values: 0

'VAR_1849'

No. of unique values: 4
No.of Null Values: 0

'VAR_1850'

No. of unique values: 21
No.of Null Values: 0

'VAR_1851'

No. of unique values: 105
No.of Null Values: 0

'VAR_1852'

No. of unique values: 138
No.of Null Values: 0

'VAR_1853'

No. of unique values: 53
No.of Null Values: 0

'VAR_1854'

No. of unique values: 33
No.of Null Values: 0

'VAR_1855'

No. of unique values: 15
No.of Null Values: 0

'VAR_1856'

No. of unique values: 53
No.of Null Values: 0

'VAR_1857'

No. of unique values: 23
No.of Null Values: 0

'VAR_1858'

No. of unique values: 64
No.of Null Values: 0

'VAR_1859'

No. of unique values: 10717
No.of Null Values: 0

'VAR_1860'

No. of unique values: 11319
No.of Null Values: 0

'VAR_1861'

No. of unique values: 899
No.of Null Values: 0

'VAR_1862'

No. of unique values: 9
No.of Null Values: 0

'VAR_1863'

No. of unique values: 10
No.of Null Values: 0

'VAR_1864'

No. of unique values: 86
No.of Null Values: 0

'VAR_1865'

No. of unique values: 478
No.of Null Values: 0

'VAR_1866'

No. of unique values: 34
No.of Null Values: 0

'VAR_1867'

No. of unique values: 7
No.of Null Values: 0

'VAR_1868'

No. of unique values: 35
No.of Null Values: 0

'VAR_1869'

No. of unique values: 3403
No.of Null Values: 0

'VAR_1870'

No. of unique values: 3750
No.of Null Values: 0

'VAR_1871'

No. of unique values: 493
No.of Null Values: 0

'VAR_1872'

No. of unique values: 52
No.of Null Values: 0

'VAR_1873'

No. of unique values: 33
No.of Null Values: 0

'VAR_1874'

No. of unique values: 15
No.of Null Values: 0

'VAR_1875'

No. of unique values: 20
No.of Null Values: 0

'VAR_1876'

No. of unique values: 23
No.of Null Values: 0

'VAR_1877'

No. of unique values: 50
No.of Null Values: 0

'VAR_1878'

No. of unique values: 37
No.of Null Values: 0

'VAR_1879'

No. of unique values: 24
No.of Null Values: 0

'VAR_1880'

No. of unique values: 22
No.of Null Values: 0

'VAR_1881'

No. of unique values: 22
No.of Null Values: 0

'VAR_1882'

No. of unique values: 24
No.of Null Values: 0

'VAR_1883'

No. of unique values: 23
No.of Null Values: 0

'VAR_1884'

No. of unique values: 23
No.of Null Values: 0

'VAR_1885'

No. of unique values: 8
No.of Null Values: 0

'VAR_1886'

No. of unique values: 22
No.of Null Values: 0

'VAR_1887'

No. of unique values: 30
No.of Null Values: 0

'VAR_1888'

No. of unique values: 14
No.of Null Values: 0

'VAR_1889'

No. of unique values: 10334
No.of Null Values: 0

'VAR_1890'

No. of unique values: 9479
No.of Null Values: 0

'VAR_1891'

No. of unique values: 2892
No.of Null Values: 0

'VAR_1892'

No. of unique values: 4856
No.of Null Values: 0

'VAR_1893'

No. of unique values: 12764
No.of Null Values: 0

'VAR_1894'

No. of unique values: 12756
No.of Null Values: 0

'VAR_1895'

No. of unique values: 871
No.of Null Values: 0

'VAR_1896'

No. of unique values: 9
No.of Null Values: 0

'VAR_1897'

No. of unique values: 10
No.of Null Values: 0

'VAR_1898'

No. of unique values: 350
No.of Null Values: 0

'VAR_1899'

No. of unique values: 354
No.of Null Values: 0

'VAR_1900'

No. of unique values: 475
No.of Null Values: 0

'VAR_1901'

No. of unique values: 634
No.of Null Values: 0

'VAR_1902'

No. of unique values: 488
No.of Null Values: 0

'VAR_1903'

No. of unique values: 45
No.of Null Values: 0

'VAR_1904'

No. of unique values: 36
No.of Null Values: 0

'VAR_1905'

No. of unique values: 10
No.of Null Values: 0

'VAR_1906'

No. of unique values: 72
No.of Null Values: 0

'VAR_1907'

No. of unique values: 41
No.of Null Values: 0

'VAR_1908'

No. of unique values: 37
No.of Null Values: 0

'VAR_1909'

No. of unique values: 41
No.of Null Values: 0

'VAR_1910'

No. of unique values: 37
No.of Null Values: 0

'VAR_1911'

No. of unique values: 107
No.of Null Values: 0

'VAR_1912'

No. of unique values: 16370
No.of Null Values: 0

'VAR_1913'

No. of unique values: 25426
No.of Null Values: 0

'VAR_1914'

No. of unique values: 14226
No.of Null Values: 0

'VAR_1915'

No. of unique values: 1148
No.of Null Values: 0

'VAR_1916'

No. of unique values: 8
No.of Null Values: 0

'VAR_1917'

No. of unique values: 10
No.of Null Values: 0

'VAR_1918'

No. of unique values: 86
No.of Null Values: 0

'VAR_1919'

No. of unique values: 383
No.of Null Values: 0

'VAR_1920'

No. of unique values: 22
No.of Null Values: 0

'VAR_1921'

No. of unique values: 18
No.of Null Values: 0

'VAR_1922'

No. of unique values: 6798
No.of Null Values: 0

'VAR_1923'

No. of unique values: 2445
No.of Null Values: 0

'VAR_1924'

No. of unique values: 573
No.of Null Values: 0

'VAR_1925'

No. of unique values: 11
No.of Null Values: 0

'VAR_1926'

No. of unique values: 6
No.of Null Values: 0

'VAR_1927'

No. of unique values: 10
No.of Null Values: 0

'VAR_1928'

No. of unique values: 30
No.of Null Values: 0

'VAR_1929'

No. of unique values: 591
No.of Null Values: 0

'VAR_1930'

No. of unique values: 8
No.of Null Values: 0

'VAR_1931'

No. of unique values: 10
No.of Null Values: 0

'VAR_1932'

No. of unique values: 74
No.of Null Values: 0

'VAR_1933'

No. of unique values: 363
No.of Null Values: 0

'VAR_1934'

No. of unique values: 5
No.of Null Values: 0

'target'

No. of unique values: 2
No.of Null Values: 0

In [15]:
df_traincp.shape
df_traincp.head()
df_traincp

(145231, 1856)

,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,H,224,0,4300,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
1,H,7,53,4448,B,1.0,0.0,1.0,0.0,1.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
2,H,116,3,3464,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
3,H,240,300,3200,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,RCC,0
4,R,72,261,2000,N,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,BRANCH,1

,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,H,224,0,4300,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
1,H,7,53,4448,B,1.0,0.0,1.0,0.0,1.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
2,H,116,3,3464,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
3,H,240,300,3200,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,RCC,0
4,R,72,261,2000,N,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,BRANCH,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,H,276,144,3000,C,2.0,3.0,2.0,3.0,1.0,...,98,98,998,51710,998,998,9998,9998,BRANCH,0
145227,R,39,414,2821,C,3.0,1.0,3.0,1.0,5.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0
145228,R,103,31,2604,B,1.0,1.0,1.0,1.0,1.0,...,98,98,998,51710,998,998,9998,9998,BRANCH,0
145229,H,78,12,4325,C,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,IAPS,1
145230,H,228,120,18500,B,0.0,0.0,0.0,0.0,0.0,...,98,98,998,51710,998,998,9998,9998,IAPS,0

In [16]:
#df1_train.drop(column, axis='columns', inplace=True)
df_train.shape
Target=df_traincp.pop('target')
df_traincp.shape

(145231, 1934)

(145231, 1855)

In [17]:
df_traincp.dtypes.value_counts()

uint16     1402
float16     429
object       24
dtype: int64

In [18]:
cat_cols2 = df_traincp.select_dtypes(include=[np.object]).columns
cat_cols2 = cat_cols2.tolist()
len(cat_cols2)

24

In [19]:
cl1 = (df_traincp.nunique()<=30)
cat_cols3 = cl1[cl1==True].index.tolist()
len(cat_cols3)
cat_cols3.extend(cat_cols2)
len(cat_cols3)

846

870

In [20]:
cat_cols4=[]
for i in cat_cols3:
    if i not in cat_cols4:
        cat_cols4.append(i)
len(cat_cols4)
cat_cols4

855

['VAR_0001',
 'VAR_0005',
 'VAR_0015',
 'VAR_0016',
 'VAR_0017',
 'VAR_0033',
 'VAR_0036',
 'VAR_0037',
 'VAR_0045',
 'VAR_0046',
 'VAR_0047',
 'VAR_0048',
 'VAR_0049',
 'VAR_0052',
 'VAR_0053',
 'VAR_0054',
 'VAR_0055',
 'VAR_0056',
 'VAR_0057',
 'VAR_0058',
 'VAR_0090',
 'VAR_0091',
 'VAR_0092',
 'VAR_0093',
 'VAR_0094',
 'VAR_0095',
 'VAR_0096',
 'VAR_0097',
 'VAR_0098',
 'VAR_0099',
 'VAR_0100',
 'VAR_0101',
 'VAR_0102',
 'VAR_0103',
 'VAR_0104',
 'VAR_0105',
 'VAR_0106',
 'VAR_0107',
 'VAR_0108',
 'VAR_0109',
 'VAR_0110',
 'VAR_0111',
 'VAR_0112',
 'VAR_0113',
 'VAR_0114',
 'VAR_0115',
 'VAR_0116',
 'VAR_0117',
 'VAR_0118',
 'VAR_0119',
 'VAR_0120',
 'VAR_0121',
 'VAR_0122',
 'VAR_0123',
 'VAR_0124',
 'VAR_0125',
 'VAR_0126',
 'VAR_0127',
 'VAR_0128',
 'VAR_0129',
 'VAR_0130',
 'VAR_0131',
 'VAR_0132',
 'VAR_0133',
 'VAR_0134',
 'VAR_0138',
 'VAR_0139',
 'VAR_0140',
 'VAR_0141',
 'VAR_0142',
 'VAR_0143',
 'VAR_0144',
 'VAR_0145',
 'VAR_0146',
 'VAR_0148',
 'VAR_0150',
 'VAR_0151',
 'VAR_0152',
 'VAR_0153',
 'VAR_0160',
 'VAR_0162',
 'VAR_0163',
 'VAR_0170',
 'VAR_0172',
 'VAR_0173',
 'VAR_0180',
 'VAR_0181',
 'VAR_0182',
 'VAR_0183',
 'VAR_0184',
 'VAR_0185',
 'VAR_0186',
 'VAR_0187',
 'VAR_0191',
 'VAR_0192',
 'VAR_0193',
 'VAR_0194',
 'VAR_0195',
 'VAR_0219',
 'VAR_0220',
 'VAR_0226',
 'VAR_0230',
 'VAR_0231',
 'VAR_0232',
 'VAR_0236',
 'VAR_0244',
 'VAR_0245',
 'VAR_0247',
 'VAR_0248',
 'VAR_0249',
 'VAR_0250',
 'VAR_0251',
 'VAR_0252',
 'VAR_0253',
 'VAR_0256',
 'VAR_0258',
 'VAR_0259',
 'VAR_0260',
 'VAR_0261',
 'VAR_0262',
 'VAR_0264',
 'VAR_0265',
 'VAR_0268',
 'VAR_0269',
 'VAR_0271',
 'VAR_0275',
 'VAR_0276',
 'VAR_0277',
 'VAR_0278',
 'VAR_0281',
 'VAR_0283',
 'VAR_0284',
 'VAR_0285',
 'VAR_0286',
 'VAR_0287',
 'VAR_0290',
 'VAR_0291',
 'VAR_0292',
 'VAR_0294',
 'VAR_0305',
 'VAR_0306',
 'VAR_0307',
 'VAR_0308',
 'VAR_0311',
 'VAR_0312',
 'VAR_0314',
 'VAR_0325',
 'VAR_0326',
 'VAR_0327',
 'VAR_0328',
 'VAR_0332',
 'VAR_0339',
 'VAR_0343',
 'VAR_0344',
 'VAR_0345',
 'VAR_0346',
 'VAR_0347',
 'VAR_0348',
 'VAR_0349',
 'VAR_0350',
 'VAR_0351',
 'VAR_0352',
 'VAR_0353',
 'VAR_0354',
 'VAR_0355',
 'VAR_0356',
 'VAR_0357',
 'VAR_0358',
 'VAR_0359',
 'VAR_0360',
 'VAR_0362',
 'VAR_0363',
 'VAR_0365',
 'VAR_0371',
 'VAR_0372',
 'VAR_0373',
 'VAR_0374',
 'VAR_0375',
 'VAR_0376',
 'VAR_0377',
 'VAR_0378',
 'VAR_0379',
 'VAR_0380',
 'VAR_0381',
 'VAR_0382',
 'VAR_0383',
 'VAR_0384',
 'VAR_0385',
 'VAR_0386',
 'VAR_0387',
 'VAR_0388',
 'VAR_0389',
 'VAR_0390',
 'VAR_0391',
 'VAR_0392',
 'VAR_0393',
 'VAR_0395',
 'VAR_0396',
 'VAR_0397',
 'VAR_0398',
 'VAR_0399',
 'VAR_0400',
 'VAR_0401',
 'VAR_0402',
 'VAR_0405',
 'VAR_0409',
 'VAR_0411',
 'VAR_0412',
 'VAR_0413',
 'VAR_0414',
 'VAR_0415',
 'VAR_0416',
 'VAR_0420',
 'VAR_0421',
 'VAR_0422',
 'VAR_0423',
 'VAR_0424',
 'VAR_0426',
 'VAR_0428',
 'VAR_0429',
 'VAR_0430',
 'VAR_0431',
 'VAR_0432',
 'VAR_0433',
 'VAR_0437',
 'VAR_0445',
 'VAR_0449',
 'VAR_0450',
 'VAR_0451',
 'VAR_0452',
 'VAR_0453',
 'VAR_0454',
 'VAR_0455',
 'VAR_0456',
 'VAR_0457',
 'VAR_0458',
 'VAR_0459',
 'VAR_0460',
 'VAR_0461',
 'VAR_0462',
 'VAR_0463',
 'VAR_0464',
 'VAR_0466',
 'VAR_0467',
 'VAR_0468',
 'VAR_0469',
 'VAR_0470',
 'VAR_0471',
 'VAR_0472',
 'VAR_0473',
 'VAR_0476',
 'VAR_0477',
 'VAR_0478',
 'VAR_0479',
 'VAR_0480',
 'VAR_0482',
 'VAR_0483',
 'VAR_0484',
 'VAR_0485',
 'VAR_0486',
 'VAR_0487',
 'VAR_0488',
 'VAR_0489',
 'VAR_0490',
 'VAR_0491',
 'VAR_0494',
 'VAR_0495',
 'VAR_0496',
 'VAR_0497',
 'VAR_0498',
 'VAR_0499',
 'VAR_0500',
 'VAR_0501',
 'VAR_0502',
 'VAR_0503',
 'VAR_0504',
 'VAR_0505',
 'VAR_0506',
 'VAR_0507',
 'VAR_0508',
 'VAR_0509',
 'VAR_0510',
 'VAR_0511',
 'VAR_0512',
 'VAR_0513',
 'VAR_0518',
 'VAR_0519',
 'VAR_0520',
 'VAR_0521',
 'VAR_0522',
 'VAR_0523',
 'VAR_0524',
 'VAR_0525',
 'VAR_0526',
 'VAR_0529',
 'VAR_0532',
 'VAR_0533',
 'VAR_0534',
 'VAR_0537',
 'VAR_0538',
 'VAR_0539',
 'VAR_0545',
 'VAR_0546',
 'VAR_0547',
 'VAR_0548',
 'VAR_0549',
 'VAR_0562',
 'VAR_0563',
 'VAR_0564',
 'VAR_0565',
 'VAR_0566',
 'VAR_0567',
 'VAR_0568',
 'VAR_0569',
 'VAR_0572',
 'VAR_0580',
 'VAR_0581',
 'VAR_0582',
 'VAR_0590',
 'VAR_0603',
 'VAR_0605',
 'VAR_0606',
 'VAR_0619',
 'VAR_0621',
 'VAR_0622',
 'VAR_0624',
 'VAR_0626',
 'VAR_0637',
 'VAR_0638',
 'VAR_0639',
 'VAR_0640',
 'VAR_0647',
 'VAR_0657',
 'VAR_0658',
 'VAR_0662',
 'VAR_0663',
 'VAR_0664',
 'VAR_0665',
 'VAR_0666',
 'VAR_0667',
 'VAR_0668',
 'VAR_0678',
 'VAR_0679',
 'VAR_0686',
 'VAR_0689',
 'VAR_0690',
 'VAR_0703',
 'VAR_0710',
 'VAR_0714',
 'VAR_0718',
 'VAR_0724',
 'VAR_0727',
 'VAR_0729',
 'VAR_0730',
 'VAR_0731',
 'VAR_0732',
 'VAR_0733',
 'VAR_0734',
 'VAR_0735',
 'VAR_0736',
 'VAR_0737',
 'VAR_0738',
 'VAR_0739',
 'VAR_0740',
 'VAR_0741',
 'VAR_0742',
 'VAR_0743',
 'VAR_0744',
 'VAR_0745',
 'VAR_0746',
 'VAR_0747',
 'VAR_0748',
 'VAR_0749',
 'VAR_0750',
 'VAR_0753',
 'VAR_0754',
 'VAR_0755',
 'VAR_0756',
 'VAR_0758',
 'VAR_0759',
 'VAR_0760',
 'VAR_0761',
 'VAR_0762',
 'VAR_0763',
 'VAR_0764',
 'VAR_0765',
 'VAR_0766',
 'VAR_0767',
 'VAR_0769',
 'VAR_0770',
 'VAR_0771',
 'VAR_0772',
 'VAR_0773',
 'VAR_0775',
 'VAR_0776',
 'VAR_0777',
 'VAR_0779',
 'VAR_0780',
 'VAR_0782',
 'VAR_0783',
 'VAR_0784',
 'VAR_0786',
 'VAR_0787',
 'VAR_0788',
 'VAR_0789',
 'VAR_0795',
 'VAR_0797',
 'VAR_0798',
 'VAR_0799',
 'VAR_0800',
 'VAR_0802',
 'VAR_0803',
 'VAR_0804',
 'VAR_0805',
 'VAR_0807',
 'VAR_0808',
 'VAR_0809',
 'VAR_0810',
 'VAR_0816',
 'VAR_0817',
 'VAR_0818',
 'VAR_0819',
 'VAR_0827',
 'VAR_0828',
 'VAR_0832',
 'VAR_0833',
 'VAR_0837',
 'VAR_0838',
 'VAR_0839',
 'VAR_0841',
 'VAR_0842',
 'VAR_0846',
 'VAR_0848',
 'VAR_0849',
 'VAR_0850',
 'VAR_0851',
 'VAR_0852',
 'VAR_0923',
 'VAR_0924',
 'VAR_0927',
 'VAR_0928',
 'VAR_0932',
 'VAR_0933',
 'VAR_0940',
 'VAR_0941',
 'VAR_0947',
 'VAR_0948',
 'VAR_0953',
 'VAR_0960',
 'VAR_0965',
 'VAR_0967',
 'VAR_0971',
 'VAR_0972',
 'VAR_0973',
 'VAR_0974',
 'VAR_0975',
 'VAR_0986',
 'VAR_0987',
 'VAR_0988',
 'VAR_0994',
 'VAR_0995',
 'VAR_0999',
 'VAR_1002',
 'VAR_1003',
 'VAR_1009',
 'VAR_1010',
 'VAR_1012',
 'VAR_1013',
 'VAR_1015',
 'VAR_1017',
 'VAR_1021',
 'VAR_1024',
 'VAR_1025',
 'VAR_1026',
 'VAR_1027',
 'VAR_1033',
 'VAR_1037',
 'VAR_1041',
 'VAR_1042',
 'VAR_1045',
 'VAR_1050',
 'VAR_1051',
 'VAR_1052',
 'VAR_1053',
 'VAR_1055',
 'VAR_1056',
 'VAR_1057',
 'VAR_1058',
 'VAR_1059',
 'VAR_1060',
 'VAR_1061',
 'VAR_1062',
 'VAR_1063',
 'VAR_1064',
 'VAR_1065',
 'VAR_1066',
 'VAR_1067',
 'VAR_1068',
 'VAR_1069',
 'VAR_1070',
 'VAR_1071',
 'VAR_1073',
 'VAR_1080',
 'VAR_1098',
 'VAR_1099',
 'VAR_1100',
 'VAR_1101',
 'VAR_1102',
 'VAR_1103',
 'VAR_1104',
 'VAR_1105',
 'VAR_1106',
 'VAR_1107',
 'VAR_1108',
 'VAR_1109',
 'VAR_1155',
 'VAR_1158',
 'VAR_1161',
 'VAR_1162',
 'VAR_1163',
 'VAR_1164',
 'VAR_1165',
 'VAR_1166',
 'VAR_1167',
 'VAR_1168',
 'VAR_1175',
 'VAR_1176',
 'VAR_1177',
 'VAR_1186',
 'VAR_1187',
 'VAR_1188',
 'VAR_1189',
 'VAR_1190',
 'VAR_1192',
 'VAR_1193',
 'VAR_1194',
 'VAR_1195',
 'VAR_1196',
 'VAR_1197',
 'VAR_1198',
 'VAR_1205',
 'VAR_1206',
 'VAR_1207',
 'VAR_1212',
 'VAR_1213',
 'VAR_1214',
 'VAR_1218',
 'VAR_1225',
 'VAR_1226',
 'VAR_1230',
 'VAR_1232',
 'VAR_1235',
 'VAR_1236',
 'VAR_1237',
 'VAR_1239',
 'VAR_1253',
 'VAR_1254',
 'VAR_1255',
 'VAR_1256',
 'VAR_1257',
 'VAR_1268',
 'VAR_1269',
 'VAR_1270',
 'VAR_1271',
 'VAR_1272',
 'VAR_1273',
 'VAR_1278',
 'VAR_1279',
 'VAR_1280',
 'VAR_1281',
 'VAR_1282',
 'VAR_1283',
 'VAR_1284',
 'VAR_1285',
 'VAR_1286',
 'VAR_1287',
 'VAR_1288',
 'VAR_1289',
 'VAR_1290',
 'VAR_1291',
 'VAR_1292',
 'VAR_1295',
 'VAR_1296',
 'VAR_1298',
 'VAR_1299',
 'VAR_1300',
 'VAR_1301',
 'VAR_1302',
 'VAR_1303',
 'VAR_1305',
 'VAR_1306',
 'VAR_1307',
 'VAR_1324',
 'VAR_1325',
 'VAR_1326',
 'VAR_1338',
 'VAR_1340',
 'VAR_1345',
 'VAR_1346',
 'VAR_1347',
 'VAR_1349',
 'VAR_1350',
 'VAR_1351',
 'VAR_1352',
 'VAR_1362',
 'VAR_1377',
 'VAR_1378',
 'VAR_1379',
 'VAR_1393',
 'VAR_1394',
 'VAR_1396',
 'VAR_1400',
 'VAR_1401',
 'VAR_1405',
 'VAR_1406',
 'VAR_1407',
 'VAR_1408',
 'VAR_1411',
 'VAR_1412',
 'VAR_1413',
 'VAR_1414',
 'VAR_1415',
 'VAR_1416',
 'VAR_1417',
 'VAR_1422',
 'VAR_1423',
 'VAR_1427',
 'VAR_1429',
 'VAR_1430',
 'VAR_1431',
 'VAR_1432',
 'VAR_1433',
 'VAR_1434',
 'VAR_1435',
 'VAR_1443',
 'VAR_1449',
 'VAR_1450',
 'VAR_1458',
 'VAR_1459',
 'VAR_1460',
 'VAR_1461',
 'VAR_1466',
 'VAR_1467',
 'VAR_1468',
 'VAR_1469',
 'VAR_1471',
 'VAR_1475',
 'VAR_1476',
 'VAR_1479',
 'VAR_1480',
 'VAR_1505',
 'VAR_1506',
 'VAR_1507',
 'VAR_1508',
 'VAR_1509',
 'VAR_1510',
 'VAR_1511',
 'VAR_1532',
 'VAR_1533',
 'VAR_1534',
 'VAR_1535',
 'VAR_1536',
 'VAR_1537',
 'VAR_1538',
 'VAR_1539',
 'VAR_1540',
 'VAR_1541',
 'VAR_1542',
 'VAR_1543',
 'VAR_1544',
 'VAR_1545',
 'VAR_1546',
 'VAR_1547',
 'VAR_1548',
 'VAR_1549',
 'VAR_1550',
 'VAR_1551',
 'VAR_1552',
 'VAR_1553',
 'VAR_1554',
 'VAR_1555',
 'VAR_1556',
 'VAR_1557',
 'VAR_1558',
 'VAR_1559',
 'VAR_1560',
 'VAR_1561',
 'VAR_1562',
 'VAR_1563',
 'VAR_1564',
 'VAR_1565',
 'VAR_1566',
 'VAR_1568',
 'VAR_1569',
 'VAR_1570',
 'VAR_1573',
 'VAR_1584',
 'VAR_1585',
 'VAR_1586',
 'VAR_1587',
 'VAR_1588',
 'VAR_1590',
 'VAR_1591',
 'VAR_1592',
 'VAR_1593',
 'VAR_1594',
 'VAR_1595',
 'VAR_1596',
 'VAR_1597',
 'VAR_1598',
 'VAR_1599',
 'VAR_1600',
 'VAR_1601',
 'VAR_1602',
 'VAR_1603',
 'VAR_1604',
 'VAR_1605',
 'VAR_1606',
 'VAR_1607',
 'VAR_1608',
 'VAR_1609',
 'VAR_1610',
 'VAR_1613',
 'VAR_1632',
 'VAR_1633',
 'VAR_1634',
 'VAR_1635',
 'VAR_1636',
 'VAR_1637',
 'VAR_1638',
 'VAR_1656',
 'VAR_1657',
 'VAR_1658',
 'VAR_1659',
 'VAR_1660',
 'VAR_1662',
 'VAR_1663',
 'VAR_1664',
 'VAR_1665',
 'VAR_1666',
 'VAR_1667',
 'VAR_1668',
 'VAR_1669',
 'VAR_1670',
 'VAR_1671',
 'VAR_1672',
 'VAR_1673',
 'VAR_1674',
 'VAR_1675',
 'VAR_1676',
 'VAR_1677',
 'VAR_1678',
 'VAR_1679',
 'VAR_1680',
 'VAR_1681',
 'VAR_1682',
 'VAR_1683',
 'VAR_1702',
 'VAR_1703',
 'VAR_1704',
 'VAR_1705',
 'VAR_1706',
 'VAR_1707',
 'VAR_1708',
 'VAR_1713',
 'VAR_1714',
 'VAR_1721',
 'VAR_1722',
 'VAR_1723',
 'VAR_1724',
 'VAR_1725',
 'VAR_1726',
 'VAR_1727',
 'VAR_1728',
 'VAR_1734',
 'VAR_1735',
 'VAR_1741',
 'VAR_1743',
 'VAR_1744',
 'VAR_1745',
 'VAR_1746',
 'VAR_1749',
 'VAR_1752',
 'VAR_1753',
 'VAR_1763',
 'VAR_1764',
 'VAR_1765',
 'VAR_1770',
 'VAR_1771',
 'VAR_1772',
 'VAR_1773',
 'VAR_1775',
 'VAR_1776',
 'VAR_1779',
 'VAR_1780',
 'VAR_1783',
 'VAR_1784',
 'VAR_1787',
 'VAR_1788',
 'VAR_1791',
 'VAR_1793',
 'VAR_1794',
 'VAR_1816',
 'VAR_1817',
 'VAR_1818',
 'VAR_1819',
 'VAR_1820',
 'VAR_1821',
 'VAR_1822',
 'VAR_1843',
 'VAR_1844',
 'VAR_1848',
 'VAR_1849',
 'VAR_1850',
 'VAR_1855',
 'VAR_1857',
 'VAR_1862',
 'VAR_1863',
 'VAR_1867',
 'VAR_1874',
 'VAR_1875',
 'VAR_1876',
 'VAR_1879',
 'VAR_1880',
 'VAR_1881',
 'VAR_1882',
 'VAR_1883',
 'VAR_1884',
 'VAR_1885',
 'VAR_1886',
 'VAR_1887',
 'VAR_1888',
 'VAR_1896',
 'VAR_1897',
 'VAR_1905',
 'VAR_1916',
 'VAR_1917',
 'VAR_1920',
 'VAR_1921',
 'VAR_1925',
 'VAR_1926',
 'VAR_1927',
 'VAR_1928',
 'VAR_1930',
 'VAR_1931',
 'VAR_1934',
 'VAR_0075',
 'VAR_0200',
 'VAR_0204',
 'VAR_0217',
 'VAR_0237',
 'VAR_0274',
 'VAR_0342',
 'VAR_0404',
 'VAR_0493']

In [21]:
num_cols1 = df_traincp.select_dtypes(include=[np.number]).columns
num_cols1 = num_cols1.tolist()
len(num_cols1)

1831

In [22]:
for element in cat_cols4:
    if element in num_cols1:
        num_cols1.remove(element)

len(num_cols1)
num_cols1

1000

['VAR_0002',
 'VAR_0003',
 'VAR_0004',
 'VAR_0006',
 'VAR_0007',
 'VAR_0013',
 'VAR_0014',
 'VAR_0034',
 'VAR_0035',
 'VAR_0050',
 'VAR_0051',
 'VAR_0059',
 'VAR_0060',
 'VAR_0061',
 'VAR_0062',
 'VAR_0063',
 'VAR_0064',
 'VAR_0065',
 'VAR_0066',
 'VAR_0067',
 'VAR_0068',
 'VAR_0069',
 'VAR_0070',
 'VAR_0071',
 'VAR_0072',
 'VAR_0076',
 'VAR_0077',
 'VAR_0078',
 'VAR_0079',
 'VAR_0080',
 'VAR_0081',
 'VAR_0082',
 'VAR_0083',
 'VAR_0084',
 'VAR_0085',
 'VAR_0086',
 'VAR_0087',
 'VAR_0088',
 'VAR_0089',
 'VAR_0135',
 'VAR_0136',
 'VAR_0137',
 'VAR_0147',
 'VAR_0149',
 'VAR_0154',
 'VAR_0155',
 'VAR_0161',
 'VAR_0164',
 'VAR_0165',
 'VAR_0171',
 'VAR_0174',
 'VAR_0175',
 'VAR_0198',
 'VAR_0201',
 'VAR_0224',
 'VAR_0225',
 'VAR_0227',
 'VAR_0228',
 'VAR_0233',
 'VAR_0234',
 'VAR_0235',
 'VAR_0238',
 'VAR_0241',
 'VAR_0242',
 'VAR_0243',
 'VAR_0254',
 'VAR_0255',
 'VAR_0257',
 'VAR_0263',
 'VAR_0266',
 'VAR_0267',
 'VAR_0270',
 'VAR_0272',
 'VAR_0273',
 'VAR_0279',
 'VAR_0280',
 'VAR_0282',
 'VAR_0288',
 'VAR_0289',
 'VAR_0293',
 'VAR_0295',
 'VAR_0296',
 'VAR_0297',
 'VAR_0298',
 'VAR_0299',
 'VAR_0300',
 'VAR_0301',
 'VAR_0302',
 'VAR_0303',
 'VAR_0304',
 'VAR_0309',
 'VAR_0310',
 'VAR_0313',
 'VAR_0315',
 'VAR_0316',
 'VAR_0317',
 'VAR_0318',
 'VAR_0319',
 'VAR_0320',
 'VAR_0321',
 'VAR_0322',
 'VAR_0323',
 'VAR_0324',
 'VAR_0329',
 'VAR_0330',
 'VAR_0331',
 'VAR_0333',
 'VAR_0334',
 'VAR_0335',
 'VAR_0336',
 'VAR_0337',
 'VAR_0338',
 'VAR_0340',
 'VAR_0341',
 'VAR_0361',
 'VAR_0364',
 'VAR_0366',
 'VAR_0367',
 'VAR_0368',
 'VAR_0369',
 'VAR_0370',
 'VAR_0403',
 'VAR_0406',
 'VAR_0407',
 'VAR_0408',
 'VAR_0410',
 'VAR_0417',
 'VAR_0418',
 'VAR_0419',
 'VAR_0425',
 'VAR_0427',
 'VAR_0434',
 'VAR_0435',
 'VAR_0436',
 'VAR_0439',
 'VAR_0440',
 'VAR_0441',
 'VAR_0442',
 'VAR_0443',
 'VAR_0444',
 'VAR_0447',
 'VAR_0448',
 'VAR_0465',
 'VAR_0474',
 'VAR_0475',
 'VAR_0481',
 'VAR_0492',
 'VAR_0514',
 'VAR_0515',
 'VAR_0516',
 'VAR_0517',
 'VAR_0535',
 'VAR_0536',
 'VAR_0540',
 'VAR_0541',
 'VAR_0542',
 'VAR_0543',
 'VAR_0544',
 'VAR_0550',
 'VAR_0551',
 'VAR_0552',
 'VAR_0553',
 'VAR_0554',
 'VAR_0555',
 'VAR_0556',
 'VAR_0557',
 'VAR_0558',
 'VAR_0559',
 'VAR_0560',
 'VAR_0561',
 'VAR_0570',
 'VAR_0571',
 'VAR_0573',
 'VAR_0574',
 'VAR_0575',
 'VAR_0576',
 'VAR_0577',
 'VAR_0578',
 'VAR_0579',
 'VAR_0583',
 'VAR_0584',
 'VAR_0585',
 'VAR_0586',
 'VAR_0587',
 'VAR_0588',
 'VAR_0589',
 'VAR_0591',
 'VAR_0592',
 'VAR_0593',
 'VAR_0594',
 'VAR_0595',
 'VAR_0596',
 'VAR_0597',
 'VAR_0598',
 'VAR_0599',
 'VAR_0600',
 'VAR_0601',
 'VAR_0602',
 'VAR_0604',
 'VAR_0607',
 'VAR_0608',
 'VAR_0609',
 'VAR_0610',
 'VAR_0611',
 'VAR_0612',
 'VAR_0613',
 'VAR_0614',
 'VAR_0615',
 'VAR_0616',
 'VAR_0617',
 'VAR_0618',
 'VAR_0620',
 'VAR_0623',
 'VAR_0625',
 'VAR_0627',
 'VAR_0628',
 'VAR_0629',
 'VAR_0630',
 'VAR_0631',
 'VAR_0632',
 'VAR_0633',
 'VAR_0634',
 'VAR_0635',
 'VAR_0636',
 'VAR_0641',
 'VAR_0642',
 'VAR_0643',
 'VAR_0644',
 'VAR_0645',
 'VAR_0646',
 'VAR_0648',
 'VAR_0649',
 'VAR_0650',
 'VAR_0651',
 'VAR_0652',
 'VAR_0653',
 'VAR_0654',
 'VAR_0655',
 'VAR_0656',
 'VAR_0659',
 'VAR_0660',
 'VAR_0661',
 'VAR_0669',
 'VAR_0670',
 'VAR_0671',
 'VAR_0672',
 'VAR_0673',
 'VAR_0674',
 'VAR_0675',
 'VAR_0676',
 'VAR_0677',
 'VAR_0680',
 'VAR_0681',
 'VAR_0682',
 'VAR_0683',
 'VAR_0684',
 'VAR_0685',
 'VAR_0687',
 'VAR_0688',
 'VAR_0691',
 'VAR_0692',
 'VAR_0693',
 'VAR_0694',
 'VAR_0695',
 'VAR_0696',
 'VAR_0697',
 'VAR_0698',
 'VAR_0699',
 'VAR_0700',
 'VAR_0701',
 'VAR_0702',
 'VAR_0704',
 'VAR_0705',
 'VAR_0706',
 'VAR_0707',
 'VAR_0708',
 'VAR_0709',
 'VAR_0711',
 'VAR_0712',
 'VAR_0713',
 'VAR_0715',
 'VAR_0716',
 'VAR_0717',
 'VAR_0719',
 'VAR_0720',
 'VAR_0721',
 'VAR_0722',
 'VAR_0723',
 'VAR_0725',
 'VAR_0726',
 'VAR_0728',
 'VAR_0751',
 'VAR_0752',
 'VAR_0757',
 'VAR_0768',
 'VAR_0774',
 'VAR_0778',
 'VAR_0781',
 'VAR_0785',
 'VAR_0790',
 'VAR_0791',
 'VAR_0792',
 'VAR_0793',
 'VAR_0794',
 'VAR_0796',
 'VAR_0801',
 'VAR_0806',
 'VAR_0811',
 'VAR_0812',
 'VAR_0813',
 'VAR_0814',
 'VAR_0815',
 'VAR_0820',
 'VAR_0821',
 'VAR_0822',
 'VAR_0823',
 'VAR_0824',
 'VAR_0825',
 'VAR_0826',
 'VAR_0829',
 'VAR_0830',
 'VAR_0831',
 'VAR_0834',
 'VAR_0835',
 'VAR_0836',
 'VAR_0843',
 'VAR_0844',
 'VAR_0845',
 'VAR_0853',
 'VAR_0854',
 'VAR_0855',
 'VAR_0856',
 'VAR_0857',
 'VAR_0858',
 'VAR_0859',
 'VAR_0860',
 'VAR_0861',
 'VAR_0862',
 'VAR_0863',
 'VAR_0864',
 'VAR_0865',
 'VAR_0866',
 'VAR_0867',
 'VAR_0868',
 'VAR_0869',
 'VAR_0870',
 'VAR_0871',
 'VAR_0872',
 'VAR_0873',
 'VAR_0874',
 'VAR_0875',
 'VAR_0876',
 'VAR_0877',
 'VAR_0878',
 'VAR_0879',
 'VAR_0880',
 'VAR_0881',
 'VAR_0882',
 'VAR_0883',
 'VAR_0884',
 'VAR_0885',
 'VAR_0886',
 'VAR_0887',
 'VAR_0888',
 'VAR_0889',
 'VAR_0890',
 'VAR_0891',
 'VAR_0892',
 'VAR_0893',
 'VAR_0894',
 'VAR_0895',
 'VAR_0896',
 'VAR_0897',
 'VAR_0898',
 'VAR_0899',
 'VAR_0900',
 'VAR_0901',
 'VAR_0902',
 'VAR_0903',
 'VAR_0904',
 'VAR_0905',
 'VAR_0906',
 'VAR_0907',
 'VAR_0908',
 'VAR_0909',
 'VAR_0910',
 'VAR_0911',
 'VAR_0912',
 'VAR_0913',
 'VAR_0914',
 'VAR_0915',
 'VAR_0916',
 'VAR_0917',
 'VAR_0918',
 'VAR_0919',
 'VAR_0920',
 'VAR_0921',
 'VAR_0922',
 'VAR_0925',
 'VAR_0926',
 'VAR_0929',
 'VAR_0930',
 'VAR_0931',
 'VAR_0934',
 'VAR_0935',
 'VAR_0936',
 'VAR_0937',
 'VAR_0938',
 'VAR_0939',
 'VAR_0942',
 'VAR_0943',
 'VAR_0944',
 'VAR_0945',
 'VAR_0946',
 'VAR_0949',
 'VAR_0950',
 'VAR_0951',
 'VAR_0952',
 'VAR_0954',
 'VAR_0955',
 'VAR_0956',
 'VAR_0957',
 'VAR_0958',
 'VAR_0959',
 'VAR_0961',
 'VAR_0962',
 'VAR_0963',
 'VAR_0964',
 'VAR_0966',
 'VAR_0968',
 'VAR_0969',
 'VAR_0970',
 'VAR_0976',
 'VAR_0977',
 'VAR_0978',
 'VAR_0979',
 'VAR_0980',
 'VAR_0981',
 'VAR_0982',
 'VAR_0983',
 'VAR_0984',
 'VAR_0985',
 'VAR_0989',
 'VAR_0990',
 'VAR_0991',
 'VAR_0992',
 'VAR_0993',
 'VAR_0996',
 'VAR_0997',
 'VAR_0998',
 'VAR_1000',
 'VAR_1001',
 'VAR_1004',
 'VAR_1005',
 'VAR_1006',
 'VAR_1007',
 'VAR_1008',
 'VAR_1011',
 'VAR_1014',
 'VAR_1016',
 'VAR_1018',
 'VAR_1019',
 'VAR_1020',
 'VAR_1022',
 'VAR_1023',
 'VAR_1028',
 'VAR_1029',
 'VAR_1030',
 'VAR_1031',
 'VAR_1032',
 'VAR_1034',
 'VAR_1035',
 'VAR_1036',
 'VAR_1038',
 'VAR_1039',
 'VAR_1040',
 'VAR_1043',
 'VAR_1044',
 'VAR_1046',
 'VAR_1047',
 'VAR_1048',
 'VAR_1049',
 'VAR_1054',
 'VAR_1072',
 'VAR_1074',
 'VAR_1075',
 'VAR_1076',
 'VAR_1077',
 'VAR_1078',
 'VAR_1079',
 'VAR_1081',
 'VAR_1082',
 'VAR_1083',
 'VAR_1084',
 'VAR_1085',
 'VAR_1086',
 'VAR_1087',
 'VAR_1088',
 'VAR_1089',
 'VAR_1090',
 'VAR_1091',
 'VAR_1092',
 'VAR_1093',
 'VAR_1094',
 'VAR_1095',
 'VAR_1096',
 'VAR_1097',
 'VAR_1110',
 'VAR_1111',
 'VAR_1112',
 'VAR_1113',
 'VAR_1114',
 'VAR_1115',
 'VAR_1116',
 'VAR_1117',
 'VAR_1118',
 'VAR_1119',
 'VAR_1120',
 'VAR_1121',
 'VAR_1122',
 'VAR_1123',
 'VAR_1124',
 'VAR_1125',
 'VAR_1126',
 'VAR_1127',
 'VAR_1128',
 'VAR_1129',
 'VAR_1130',
 'VAR_1131',
 'VAR_1132',
 'VAR_1133',
 'VAR_1134',
 'VAR_1135',
 'VAR_1136',
 'VAR_1137',
 'VAR_1138',
 'VAR_1139',
 'VAR_1140',
 'VAR_1141',
 'VAR_1142',
 'VAR_1143',
 'VAR_1144',
 'VAR_1145',
 'VAR_1146',
 'VAR_1147',
 'VAR_1148',
 'VAR_1149',
 'VAR_1150',
 'VAR_1151',
 'VAR_1152',
 'VAR_1153',
 'VAR_1154',
 'VAR_1156',
 'VAR_1157',
 'VAR_1159',
 'VAR_1160',
 'VAR_1169',
 'VAR_1170',
 'VAR_1171',
 'VAR_1172',
 'VAR_1173',
 'VAR_1174',
 'VAR_1178',
 'VAR_1179',
 'VAR_1180',
 'VAR_1181',
 'VAR_1182',
 'VAR_1183',
 'VAR_1184',
 'VAR_1185',
 'VAR_1191',
 'VAR_1199',
 'VAR_1200',
 'VAR_1201',
 'VAR_1202',
 'VAR_1203',
 'VAR_1204',
 'VAR_1208',
 'VAR_1209',
 'VAR_1210',
 'VAR_1211',
 'VAR_1215',
 'VAR_1216',
 'VAR_1217',
 'VAR_1219',
 'VAR_1220',
 'VAR_1221',
 'VAR_1222',
 'VAR_1223',
 'VAR_1224',
 'VAR_1227',
 'VAR_1228',
 'VAR_1229',
 'VAR_1231',
 'VAR_1233',
 'VAR_1234',
 'VAR_1238',
 'VAR_1240',
 'VAR_1241',
 'VAR_1242',
 'VAR_1243',
 'VAR_1244',
 'VAR_1245',
 'VAR_1246',
 'VAR_1247',
 'VAR_1248',
 'VAR_1249',
 'VAR_1250',
 'VAR_1251',
 'VAR_1252',
 'VAR_1258',
 'VAR_1259',
 'VAR_1260',
 'VAR_1261',
 'VAR_1262',
 'VAR_1263',
 'VAR_1264',
 'VAR_1265',
 'VAR_1266',
 'VAR_1267',
 'VAR_1274',
 'VAR_1275',
 'VAR_1276',
 'VAR_1277',
 'VAR_1293',
 'VAR_1294',
 'VAR_1297',
 'VAR_1304',
 'VAR_1308',
 'VAR_1309',
 'VAR_1310',
 'VAR_1311',
 'VAR_1312',
 'VAR_1313',
 'VAR_1314',
 'VAR_1315',
 'VAR_1316',
 'VAR_1317',
 'VAR_1318',
 'VAR_1319',
 'VAR_1320',
 'VAR_1321',
 'VAR_1322',
 'VAR_1323',
 'VAR_1327',
 'VAR_1328',
 'VAR_1329',
 'VAR_1330',
 'VAR_1331',
 'VAR_1332',
 'VAR_1333',
 'VAR_1334',
 'VAR_1335',
 'VAR_1336',
 'VAR_1337',
 'VAR_1339',
 'VAR_1341',
 'VAR_1342',
 'VAR_1343',
 'VAR_1344',
 'VAR_1348',
 'VAR_1353',
 'VAR_1354',
 'VAR_1355',
 'VAR_1356',
 'VAR_1357',
 'VAR_1358',
 'VAR_1359',
 'VAR_1360',
 'VAR_1361',
 'VAR_1363',
 'VAR_1364',
 'VAR_1365',
 'VAR_1366',
 'VAR_1367',
 'VAR_1368',
 'VAR_1369',
 'VAR_1370',
 'VAR_1371',
 'VAR_1372',
 'VAR_1373',
 'VAR_1374',
 'VAR_1375',
 'VAR_1376',
 'VAR_1380',
 'VAR_1381',
 'VAR_1382',
 'VAR_1383',
 'VAR_1384',
 'VAR_1385',
 'VAR_1386',
 'VAR_1387',
 'VAR_1388',
 'VAR_1389',
 'VAR_1390',
 'VAR_1391',
 'VAR_1392',
 'VAR_1395',
 'VAR_1397',
 'VAR_1398',
 'VAR_1399',
 'VAR_1402',
 'VAR_1403',
 'VAR_1404',
 'VAR_1409',
 'VAR_1410',
 'VAR_1418',
 'VAR_1419',
 'VAR_1420',
 'VAR_1421',
 'VAR_1424',
 'VAR_1425',
 'VAR_1426',
 'VAR_1436',
 'VAR_1437',
 'VAR_1438',
 'VAR_1439',
 'VAR_1440',
 'VAR_1441',
 'VAR_1442',
 'VAR_1444',
 'VAR_1445',
 'VAR_1446',
 'VAR_1447',
 'VAR_1448',
 'VAR_1451',
 'VAR_1452',
 'VAR_1453',
 'VAR_1454',
 'VAR_1455',
 'VAR_1456',
 'VAR_1457',
 'VAR_1462',
 'VAR_1463',
 'VAR_1464',
 'VAR_1465',
 'VAR_1470',
 'VAR_1472',
 'VAR_1473',
 'VAR_1474',
 'VAR_1477',
 'VAR_1478',
 'VAR_1481',
 'VAR_1482',
 'VAR_1483',
 'VAR_1484',
 'VAR_1485',
 'VAR_1486',
 'VAR_1487',
 'VAR_1488',
 'VAR_1489',
 'VAR_1490',
 'VAR_1491',
 'VAR_1492',
 'VAR_1493',
 'VAR_1494',
 'VAR_1495',
 'VAR_1496',
 'VAR_1497',
 'VAR_1498',
 'VAR_1499',
 'VAR_1500',
 'VAR_1501',
 'VAR_1502',
 'VAR_1503',
 'VAR_1504',
 'VAR_1512',
 'VAR_1513',
 'VAR_1514',
 'VAR_1515',
 'VAR_1516',
 'VAR_1517',
 'VAR_1518',
 'VAR_1519',
 'VAR_1520',
 'VAR_1521',
 'VAR_1522',
 'VAR_1523',
 'VAR_1524',
 'VAR_1525',
 'VAR_1526',
 'VAR_1527',
 'VAR_1528',
 'VAR_1529',
 'VAR_1530',
 'VAR_1531',
 'VAR_1567',
 'VAR_1571',
 'VAR_1572',
 'VAR_1574',
 'VAR_1575',
 'VAR_1576',
 'VAR_1577',
 'VAR_1578',
 'VAR_1579',
 'VAR_1580',
 'VAR_1581',
 'VAR_1582',
 'VAR_1583',
 'VAR_1589',
 'VAR_1611',
 'VAR_1612',
 'VAR_1614',
 'VAR_1615',
 'VAR_1616',
 'VAR_1617',
 'VAR_1618',
 'VAR_1619',
 'VAR_1620',
 'VAR_1621',
 'VAR_1622',
 'VAR_1623',
 'VAR_1624',
 'VAR_1625',
 'VAR_1626',
 'VAR_1627',
 'VAR_1628',
 'VAR_1629',
 'VAR_1630',
 'VAR_1631',
 'VAR_1639',
 'VAR_1640',
 'VAR_1641',
 'VAR_1642',
 'VAR_1643',
 'VAR_1644',
 'VAR_1645',
 'VAR_1646',
 'VAR_1647',
 'VAR_1648',
 'VAR_1649',
 'VAR_1650',
 'VAR_1651',
 'VAR_1652',
 'VAR_1653',
 'VAR_1654',
 'VAR_1655',
 'VAR_1661',
 'VAR_1684',
 'VAR_1685',
 'VAR_1686',
 'VAR_1687',
 'VAR_1688',
 'VAR_1689',
 'VAR_1690',
 'VAR_1691',
 'VAR_1692',
 'VAR_1693',
 'VAR_1694',
 'VAR_1695',
 'VAR_1696',
 'VAR_1697',
 'VAR_1698',
 'VAR_1699',
 'VAR_1700',
 'VAR_1701',
 'VAR_1709',
 'VAR_1710',
 'VAR_1711',
 'VAR_1712',
 'VAR_1715',
 'VAR_1716',
 'VAR_1717',
 'VAR_1718',
 'VAR_1719',
 'VAR_1720',
 'VAR_1729',
 'VAR_1730',
 'VAR_1731',
 'VAR_1732',
 'VAR_1733',
 'VAR_1736',
 'VAR_1737',
 'VAR_1738',
 'VAR_1739',
 'VAR_1740',
 'VAR_1742',
 'VAR_1747',
 'VAR_1748',
 'VAR_1750',
 'VAR_1751',
 'VAR_1754',
 'VAR_1755',
 'VAR_1756',
 'VAR_1757',
 'VAR_1758',
 'VAR_1759',
 'VAR_1760',
 'VAR_1761',
 'VAR_1762',
 'VAR_1766',
 'VAR_1767',
 'VAR_1768',
 'VAR_1769',
 'VAR_1774',
 'VAR_1777',
 'VAR_1778',
 'VAR_1781',
 'VAR_1782',
 'VAR_1785',
 'VAR_1786',
 'VAR_1789',
 'VAR_1790',
 'VAR_1792',
 'VAR_1795',
 'VAR_1796',
 'VAR_1797',
 'VAR_1798',
 'VAR_1799',
 'VAR_1800',
 'VAR_1801',
 'VAR_1802',
 'VAR_1803',
 'VAR_1804',
 'VAR_1805',
 'VAR_1806',
 'VAR_1807',
 'VAR_1808',
 'VAR_1809',
 'VAR_1810',
 'VAR_1811',
 'VAR_1812',
 'VAR_1813',
 'VAR_1814',
 'VAR_1815',
 'VAR_1823',
 'VAR_1824',
 'VAR_1825',
 'VAR_1826',
 'VAR_1827',
 'VAR_1828',
 'VAR_1829',
 'VAR_1830',
 'VAR_1831',
 'VAR_1832',
 'VAR_1833',
 'VAR_1834',
 'VAR_1835',
 'VAR_1836',
 'VAR_1837',
 'VAR_1838',
 'VAR_1839',
 'VAR_1840',
 'VAR_1841',
 'VAR_1842',
 'VAR_1845',
 'VAR_1846',
 'VAR_1847',
 'VAR_1851',
 'VAR_1852',
 'VAR_1853',
 'VAR_1854',
 'VAR_1856',
 'VAR_1858',
 'VAR_1859',
 'VAR_1860',
 'VAR_1861',
 'VAR_1864',
 'VAR_1865',
 'VAR_1866',
 'VAR_1868',
 'VAR_1869',
 'VAR_1870',
 'VAR_1871',
 'VAR_1872',
 'VAR_1873',
 'VAR_1877',
 'VAR_1878',
 'VAR_1889',
 'VAR_1890',
 'VAR_1891',
 'VAR_1892',
 'VAR_1893',
 'VAR_1894',
 'VAR_1895',
 'VAR_1898',
 'VAR_1899',
 'VAR_1900',
 'VAR_1901',
 'VAR_1902',
 'VAR_1903',
 'VAR_1904',
 'VAR_1906',
 'VAR_1907',
 'VAR_1908',
 'VAR_1909',
 'VAR_1910',
 'VAR_1911',
 'VAR_1912',
 'VAR_1913',
 'VAR_1914',
 'VAR_1915',
 'VAR_1918',
 'VAR_1919',
 'VAR_1922',
 'VAR_1923',
 'VAR_1924',
 'VAR_1929',
 'VAR_1932',
 'VAR_1933']

In [23]:
print("No. of Categorical columns: ", len(cat_cols4))
print("No. of Numerical Columns: ", len(num_cols1))

No. of Categorical columns:  855
No. of Numerical Columns:  1000

In [24]:
X_train=df_traincp

In [25]:
X_train.shape

(145231, 1855)

In [26]:
num_cols_mean = num_cols1
cat_cols_mf = cat_cols4
num_cols_mean
cat_cols_mf

['VAR_0002',
 'VAR_0003',
 'VAR_0004',
 'VAR_0006',
 'VAR_0007',
 'VAR_0013',
 'VAR_0014',
 'VAR_0034',
 'VAR_0035',
 'VAR_0050',
 'VAR_0051',
 'VAR_0059',
 'VAR_0060',
 'VAR_0061',
 'VAR_0062',
 'VAR_0063',
 'VAR_0064',
 'VAR_0065',
 'VAR_0066',
 'VAR_0067',
 'VAR_0068',
 'VAR_0069',
 'VAR_0070',
 'VAR_0071',
 'VAR_0072',
 'VAR_0076',
 'VAR_0077',
 'VAR_0078',
 'VAR_0079',
 'VAR_0080',
 'VAR_0081',
 'VAR_0082',
 'VAR_0083',
 'VAR_0084',
 'VAR_0085',
 'VAR_0086',
 'VAR_0087',
 'VAR_0088',
 'VAR_0089',
 'VAR_0135',
 'VAR_0136',
 'VAR_0137',
 'VAR_0147',
 'VAR_0149',
 'VAR_0154',
 'VAR_0155',
 'VAR_0161',
 'VAR_0164',
 'VAR_0165',
 'VAR_0171',
 'VAR_0174',
 'VAR_0175',
 'VAR_0198',
 'VAR_0201',
 'VAR_0224',
 'VAR_0225',
 'VAR_0227',
 'VAR_0228',
 'VAR_0233',
 'VAR_0234',
 'VAR_0235',
 'VAR_0238',
 'VAR_0241',
 'VAR_0242',
 'VAR_0243',
 'VAR_0254',
 'VAR_0255',
 'VAR_0257',
 'VAR_0263',
 'VAR_0266',
 'VAR_0267',
 'VAR_0270',
 'VAR_0272',
 'VAR_0273',
 'VAR_0279',
 'VAR_0280',
 'VAR_0282',
 'VAR_0288',
 'VAR_0289',
 'VAR_0293',
 'VAR_0295',
 'VAR_0296',
 'VAR_0297',
 'VAR_0298',
 'VAR_0299',
 'VAR_0300',
 'VAR_0301',
 'VAR_0302',
 'VAR_0303',
 'VAR_0304',
 'VAR_0309',
 'VAR_0310',
 'VAR_0313',
 'VAR_0315',
 'VAR_0316',
 'VAR_0317',
 'VAR_0318',
 'VAR_0319',
 'VAR_0320',
 'VAR_0321',
 'VAR_0322',
 'VAR_0323',
 'VAR_0324',
 'VAR_0329',
 'VAR_0330',
 'VAR_0331',
 'VAR_0333',
 'VAR_0334',
 'VAR_0335',
 'VAR_0336',
 'VAR_0337',
 'VAR_0338',
 'VAR_0340',
 'VAR_0341',
 'VAR_0361',
 'VAR_0364',
 'VAR_0366',
 'VAR_0367',
 'VAR_0368',
 'VAR_0369',
 'VAR_0370',
 'VAR_0403',
 'VAR_0406',
 'VAR_0407',
 'VAR_0408',
 'VAR_0410',
 'VAR_0417',
 'VAR_0418',
 'VAR_0419',
 'VAR_0425',
 'VAR_0427',
 'VAR_0434',
 'VAR_0435',
 'VAR_0436',
 'VAR_0439',
 'VAR_0440',
 'VAR_0441',
 'VAR_0442',
 'VAR_0443',
 'VAR_0444',
 'VAR_0447',
 'VAR_0448',
 'VAR_0465',
 'VAR_0474',
 'VAR_0475',
 'VAR_0481',
 'VAR_0492',
 'VAR_0514',
 'VAR_0515',
 'VAR_0516',
 'VAR_0517',
 'VAR_0535',
 'VAR_0536',
 'VAR_0540',
 'VAR_0541',
 'VAR_0542',
 'VAR_0543',
 'VAR_0544',
 'VAR_0550',
 'VAR_0551',
 'VAR_0552',
 'VAR_0553',
 'VAR_0554',
 'VAR_0555',
 'VAR_0556',
 'VAR_0557',
 'VAR_0558',
 'VAR_0559',
 'VAR_0560',
 'VAR_0561',
 'VAR_0570',
 'VAR_0571',
 'VAR_0573',
 'VAR_0574',
 'VAR_0575',
 'VAR_0576',
 'VAR_0577',
 'VAR_0578',
 'VAR_0579',
 'VAR_0583',
 'VAR_0584',
 'VAR_0585',
 'VAR_0586',
 'VAR_0587',
 'VAR_0588',
 'VAR_0589',
 'VAR_0591',
 'VAR_0592',
 'VAR_0593',
 'VAR_0594',
 'VAR_0595',
 'VAR_0596',
 'VAR_0597',
 'VAR_0598',
 'VAR_0599',
 'VAR_0600',
 'VAR_0601',
 'VAR_0602',
 'VAR_0604',
 'VAR_0607',
 'VAR_0608',
 'VAR_0609',
 'VAR_0610',
 'VAR_0611',
 'VAR_0612',
 'VAR_0613',
 'VAR_0614',
 'VAR_0615',
 'VAR_0616',
 'VAR_0617',
 'VAR_0618',
 'VAR_0620',
 'VAR_0623',
 'VAR_0625',
 'VAR_0627',
 'VAR_0628',
 'VAR_0629',
 'VAR_0630',
 'VAR_0631',
 'VAR_0632',
 'VAR_0633',
 'VAR_0634',
 'VAR_0635',
 'VAR_0636',
 'VAR_0641',
 'VAR_0642',
 'VAR_0643',
 'VAR_0644',
 'VAR_0645',
 'VAR_0646',
 'VAR_0648',
 'VAR_0649',
 'VAR_0650',
 'VAR_0651',
 'VAR_0652',
 'VAR_0653',
 'VAR_0654',
 'VAR_0655',
 'VAR_0656',
 'VAR_0659',
 'VAR_0660',
 'VAR_0661',
 'VAR_0669',
 'VAR_0670',
 'VAR_0671',
 'VAR_0672',
 'VAR_0673',
 'VAR_0674',
 'VAR_0675',
 'VAR_0676',
 'VAR_0677',
 'VAR_0680',
 'VAR_0681',
 'VAR_0682',
 'VAR_0683',
 'VAR_0684',
 'VAR_0685',
 'VAR_0687',
 'VAR_0688',
 'VAR_0691',
 'VAR_0692',
 'VAR_0693',
 'VAR_0694',
 'VAR_0695',
 'VAR_0696',
 'VAR_0697',
 'VAR_0698',
 'VAR_0699',
 'VAR_0700',
 'VAR_0701',
 'VAR_0702',
 'VAR_0704',
 'VAR_0705',
 'VAR_0706',
 'VAR_0707',
 'VAR_0708',
 'VAR_0709',
 'VAR_0711',
 'VAR_0712',
 'VAR_0713',
 'VAR_0715',
 'VAR_0716',
 'VAR_0717',
 'VAR_0719',
 'VAR_0720',
 'VAR_0721',
 'VAR_0722',
 'VAR_0723',
 'VAR_0725',
 'VAR_0726',
 'VAR_0728',
 'VAR_0751',
 'VAR_0752',
 'VAR_0757',
 'VAR_0768',
 'VAR_0774',
 'VAR_0778',
 'VAR_0781',
 'VAR_0785',
 'VAR_0790',
 'VAR_0791',
 'VAR_0792',
 'VAR_0793',
 'VAR_0794',
 'VAR_0796',
 'VAR_0801',
 'VAR_0806',
 'VAR_0811',
 'VAR_0812',
 'VAR_0813',
 'VAR_0814',
 'VAR_0815',
 'VAR_0820',
 'VAR_0821',
 'VAR_0822',
 'VAR_0823',
 'VAR_0824',
 'VAR_0825',
 'VAR_0826',
 'VAR_0829',
 'VAR_0830',
 'VAR_0831',
 'VAR_0834',
 'VAR_0835',
 'VAR_0836',
 'VAR_0843',
 'VAR_0844',
 'VAR_0845',
 'VAR_0853',
 'VAR_0854',
 'VAR_0855',
 'VAR_0856',
 'VAR_0857',
 'VAR_0858',
 'VAR_0859',
 'VAR_0860',
 'VAR_0861',
 'VAR_0862',
 'VAR_0863',
 'VAR_0864',
 'VAR_0865',
 'VAR_0866',
 'VAR_0867',
 'VAR_0868',
 'VAR_0869',
 'VAR_0870',
 'VAR_0871',
 'VAR_0872',
 'VAR_0873',
 'VAR_0874',
 'VAR_0875',
 'VAR_0876',
 'VAR_0877',
 'VAR_0878',
 'VAR_0879',
 'VAR_0880',
 'VAR_0881',
 'VAR_0882',
 'VAR_0883',
 'VAR_0884',
 'VAR_0885',
 'VAR_0886',
 'VAR_0887',
 'VAR_0888',
 'VAR_0889',
 'VAR_0890',
 'VAR_0891',
 'VAR_0892',
 'VAR_0893',
 'VAR_0894',
 'VAR_0895',
 'VAR_0896',
 'VAR_0897',
 'VAR_0898',
 'VAR_0899',
 'VAR_0900',
 'VAR_0901',
 'VAR_0902',
 'VAR_0903',
 'VAR_0904',
 'VAR_0905',
 'VAR_0906',
 'VAR_0907',
 'VAR_0908',
 'VAR_0909',
 'VAR_0910',
 'VAR_0911',
 'VAR_0912',
 'VAR_0913',
 'VAR_0914',
 'VAR_0915',
 'VAR_0916',
 'VAR_0917',
 'VAR_0918',
 'VAR_0919',
 'VAR_0920',
 'VAR_0921',
 'VAR_0922',
 'VAR_0925',
 'VAR_0926',
 'VAR_0929',
 'VAR_0930',
 'VAR_0931',
 'VAR_0934',
 'VAR_0935',
 'VAR_0936',
 'VAR_0937',
 'VAR_0938',
 'VAR_0939',
 'VAR_0942',
 'VAR_0943',
 'VAR_0944',
 'VAR_0945',
 'VAR_0946',
 'VAR_0949',
 'VAR_0950',
 'VAR_0951',
 'VAR_0952',
 'VAR_0954',
 'VAR_0955',
 'VAR_0956',
 'VAR_0957',
 'VAR_0958',
 'VAR_0959',
 'VAR_0961',
 'VAR_0962',
 'VAR_0963',
 'VAR_0964',
 'VAR_0966',
 'VAR_0968',
 'VAR_0969',
 'VAR_0970',
 'VAR_0976',
 'VAR_0977',
 'VAR_0978',
 'VAR_0979',
 'VAR_0980',
 'VAR_0981',
 'VAR_0982',
 'VAR_0983',
 'VAR_0984',
 'VAR_0985',
 'VAR_0989',
 'VAR_0990',
 'VAR_0991',
 'VAR_0992',
 'VAR_0993',
 'VAR_0996',
 'VAR_0997',
 'VAR_0998',
 'VAR_1000',
 'VAR_1001',
 'VAR_1004',
 'VAR_1005',
 'VAR_1006',
 'VAR_1007',
 'VAR_1008',
 'VAR_1011',
 'VAR_1014',
 'VAR_1016',
 'VAR_1018',
 'VAR_1019',
 'VAR_1020',
 'VAR_1022',
 'VAR_1023',
 'VAR_1028',
 'VAR_1029',
 'VAR_1030',
 'VAR_1031',
 'VAR_1032',
 'VAR_1034',
 'VAR_1035',
 'VAR_1036',
 'VAR_1038',
 'VAR_1039',
 'VAR_1040',
 'VAR_1043',
 'VAR_1044',
 'VAR_1046',
 'VAR_1047',
 'VAR_1048',
 'VAR_1049',
 'VAR_1054',
 'VAR_1072',
 'VAR_1074',
 'VAR_1075',
 'VAR_1076',
 'VAR_1077',
 'VAR_1078',
 'VAR_1079',
 'VAR_1081',
 'VAR_1082',
 'VAR_1083',
 'VAR_1084',
 'VAR_1085',
 'VAR_1086',
 'VAR_1087',
 'VAR_1088',
 'VAR_1089',
 'VAR_1090',
 'VAR_1091',
 'VAR_1092',
 'VAR_1093',
 'VAR_1094',
 'VAR_1095',
 'VAR_1096',
 'VAR_1097',
 'VAR_1110',
 'VAR_1111',
 'VAR_1112',
 'VAR_1113',
 'VAR_1114',
 'VAR_1115',
 'VAR_1116',
 'VAR_1117',
 'VAR_1118',
 'VAR_1119',
 'VAR_1120',
 'VAR_1121',
 'VAR_1122',
 'VAR_1123',
 'VAR_1124',
 'VAR_1125',
 'VAR_1126',
 'VAR_1127',
 'VAR_1128',
 'VAR_1129',
 'VAR_1130',
 'VAR_1131',
 'VAR_1132',
 'VAR_1133',
 'VAR_1134',
 'VAR_1135',
 'VAR_1136',
 'VAR_1137',
 'VAR_1138',
 'VAR_1139',
 'VAR_1140',
 'VAR_1141',
 'VAR_1142',
 'VAR_1143',
 'VAR_1144',
 'VAR_1145',
 'VAR_1146',
 'VAR_1147',
 'VAR_1148',
 'VAR_1149',
 'VAR_1150',
 'VAR_1151',
 'VAR_1152',
 'VAR_1153',
 'VAR_1154',
 'VAR_1156',
 'VAR_1157',
 'VAR_1159',
 'VAR_1160',
 'VAR_1169',
 'VAR_1170',
 'VAR_1171',
 'VAR_1172',
 'VAR_1173',
 'VAR_1174',
 'VAR_1178',
 'VAR_1179',
 'VAR_1180',
 'VAR_1181',
 'VAR_1182',
 'VAR_1183',
 'VAR_1184',
 'VAR_1185',
 'VAR_1191',
 'VAR_1199',
 'VAR_1200',
 'VAR_1201',
 'VAR_1202',
 'VAR_1203',
 'VAR_1204',
 'VAR_1208',
 'VAR_1209',
 'VAR_1210',
 'VAR_1211',
 'VAR_1215',
 'VAR_1216',
 'VAR_1217',
 'VAR_1219',
 'VAR_1220',
 'VAR_1221',
 'VAR_1222',
 'VAR_1223',
 'VAR_1224',
 'VAR_1227',
 'VAR_1228',
 'VAR_1229',
 'VAR_1231',
 'VAR_1233',
 'VAR_1234',
 'VAR_1238',
 'VAR_1240',
 'VAR_1241',
 'VAR_1242',
 'VAR_1243',
 'VAR_1244',
 'VAR_1245',
 'VAR_1246',
 'VAR_1247',
 'VAR_1248',
 'VAR_1249',
 'VAR_1250',
 'VAR_1251',
 'VAR_1252',
 'VAR_1258',
 'VAR_1259',
 'VAR_1260',
 'VAR_1261',
 'VAR_1262',
 'VAR_1263',
 'VAR_1264',
 'VAR_1265',
 'VAR_1266',
 'VAR_1267',
 'VAR_1274',
 'VAR_1275',
 'VAR_1276',
 'VAR_1277',
 'VAR_1293',
 'VAR_1294',
 'VAR_1297',
 'VAR_1304',
 'VAR_1308',
 'VAR_1309',
 'VAR_1310',
 'VAR_1311',
 'VAR_1312',
 'VAR_1313',
 'VAR_1314',
 'VAR_1315',
 'VAR_1316',
 'VAR_1317',
 'VAR_1318',
 'VAR_1319',
 'VAR_1320',
 'VAR_1321',
 'VAR_1322',
 'VAR_1323',
 'VAR_1327',
 'VAR_1328',
 'VAR_1329',
 'VAR_1330',
 'VAR_1331',
 'VAR_1332',
 'VAR_1333',
 'VAR_1334',
 'VAR_1335',
 'VAR_1336',
 'VAR_1337',
 'VAR_1339',
 'VAR_1341',
 'VAR_1342',
 'VAR_1343',
 'VAR_1344',
 'VAR_1348',
 'VAR_1353',
 'VAR_1354',
 'VAR_1355',
 'VAR_1356',
 'VAR_1357',
 'VAR_1358',
 'VAR_1359',
 'VAR_1360',
 'VAR_1361',
 'VAR_1363',
 'VAR_1364',
 'VAR_1365',
 'VAR_1366',
 'VAR_1367',
 'VAR_1368',
 'VAR_1369',
 'VAR_1370',
 'VAR_1371',
 'VAR_1372',
 'VAR_1373',
 'VAR_1374',
 'VAR_1375',
 'VAR_1376',
 'VAR_1380',
 'VAR_1381',
 'VAR_1382',
 'VAR_1383',
 'VAR_1384',
 'VAR_1385',
 'VAR_1386',
 'VAR_1387',
 'VAR_1388',
 'VAR_1389',
 'VAR_1390',
 'VAR_1391',
 'VAR_1392',
 'VAR_1395',
 'VAR_1397',
 'VAR_1398',
 'VAR_1399',
 'VAR_1402',
 'VAR_1403',
 'VAR_1404',
 'VAR_1409',
 'VAR_1410',
 'VAR_1418',
 'VAR_1419',
 'VAR_1420',
 'VAR_1421',
 'VAR_1424',
 'VAR_1425',
 'VAR_1426',
 'VAR_1436',
 'VAR_1437',
 'VAR_1438',
 'VAR_1439',
 'VAR_1440',
 'VAR_1441',
 'VAR_1442',
 'VAR_1444',
 'VAR_1445',
 'VAR_1446',
 'VAR_1447',
 'VAR_1448',
 'VAR_1451',
 'VAR_1452',
 'VAR_1453',
 'VAR_1454',
 'VAR_1455',
 'VAR_1456',
 'VAR_1457',
 'VAR_1462',
 'VAR_1463',
 'VAR_1464',
 'VAR_1465',
 'VAR_1470',
 'VAR_1472',
 'VAR_1473',
 'VAR_1474',
 'VAR_1477',
 'VAR_1478',
 'VAR_1481',
 'VAR_1482',
 'VAR_1483',
 'VAR_1484',
 'VAR_1485',
 'VAR_1486',
 'VAR_1487',
 'VAR_1488',
 'VAR_1489',
 'VAR_1490',
 'VAR_1491',
 'VAR_1492',
 'VAR_1493',
 'VAR_1494',
 'VAR_1495',
 'VAR_1496',
 'VAR_1497',
 'VAR_1498',
 'VAR_1499',
 'VAR_1500',
 'VAR_1501',
 'VAR_1502',
 'VAR_1503',
 'VAR_1504',
 'VAR_1512',
 'VAR_1513',
 'VAR_1514',
 'VAR_1515',
 'VAR_1516',
 'VAR_1517',
 'VAR_1518',
 'VAR_1519',
 'VAR_1520',
 'VAR_1521',
 'VAR_1522',
 'VAR_1523',
 'VAR_1524',
 'VAR_1525',
 'VAR_1526',
 'VAR_1527',
 'VAR_1528',
 'VAR_1529',
 'VAR_1530',
 'VAR_1531',
 'VAR_1567',
 'VAR_1571',
 'VAR_1572',
 'VAR_1574',
 'VAR_1575',
 'VAR_1576',
 'VAR_1577',
 'VAR_1578',
 'VAR_1579',
 'VAR_1580',
 'VAR_1581',
 'VAR_1582',
 'VAR_1583',
 'VAR_1589',
 'VAR_1611',
 'VAR_1612',
 'VAR_1614',
 'VAR_1615',
 'VAR_1616',
 'VAR_1617',
 'VAR_1618',
 'VAR_1619',
 'VAR_1620',
 'VAR_1621',
 'VAR_1622',
 'VAR_1623',
 'VAR_1624',
 'VAR_1625',
 'VAR_1626',
 'VAR_1627',
 'VAR_1628',
 'VAR_1629',
 'VAR_1630',
 'VAR_1631',
 'VAR_1639',
 'VAR_1640',
 'VAR_1641',
 'VAR_1642',
 'VAR_1643',
 'VAR_1644',
 'VAR_1645',
 'VAR_1646',
 'VAR_1647',
 'VAR_1648',
 'VAR_1649',
 'VAR_1650',
 'VAR_1651',
 'VAR_1652',
 'VAR_1653',
 'VAR_1654',
 'VAR_1655',
 'VAR_1661',
 'VAR_1684',
 'VAR_1685',
 'VAR_1686',
 'VAR_1687',
 'VAR_1688',
 'VAR_1689',
 'VAR_1690',
 'VAR_1691',
 'VAR_1692',
 'VAR_1693',
 'VAR_1694',
 'VAR_1695',
 'VAR_1696',
 'VAR_1697',
 'VAR_1698',
 'VAR_1699',
 'VAR_1700',
 'VAR_1701',
 'VAR_1709',
 'VAR_1710',
 'VAR_1711',
 'VAR_1712',
 'VAR_1715',
 'VAR_1716',
 'VAR_1717',
 'VAR_1718',
 'VAR_1719',
 'VAR_1720',
 'VAR_1729',
 'VAR_1730',
 'VAR_1731',
 'VAR_1732',
 'VAR_1733',
 'VAR_1736',
 'VAR_1737',
 'VAR_1738',
 'VAR_1739',
 'VAR_1740',
 'VAR_1742',
 'VAR_1747',
 'VAR_1748',
 'VAR_1750',
 'VAR_1751',
 'VAR_1754',
 'VAR_1755',
 'VAR_1756',
 'VAR_1757',
 'VAR_1758',
 'VAR_1759',
 'VAR_1760',
 'VAR_1761',
 'VAR_1762',
 'VAR_1766',
 'VAR_1767',
 'VAR_1768',
 'VAR_1769',
 'VAR_1774',
 'VAR_1777',
 'VAR_1778',
 'VAR_1781',
 'VAR_1782',
 'VAR_1785',
 'VAR_1786',
 'VAR_1789',
 'VAR_1790',
 'VAR_1792',
 'VAR_1795',
 'VAR_1796',
 'VAR_1797',
 'VAR_1798',
 'VAR_1799',
 'VAR_1800',
 'VAR_1801',
 'VAR_1802',
 'VAR_1803',
 'VAR_1804',
 'VAR_1805',
 'VAR_1806',
 'VAR_1807',
 'VAR_1808',
 'VAR_1809',
 'VAR_1810',
 'VAR_1811',
 'VAR_1812',
 'VAR_1813',
 'VAR_1814',
 'VAR_1815',
 'VAR_1823',
 'VAR_1824',
 'VAR_1825',
 'VAR_1826',
 'VAR_1827',
 'VAR_1828',
 'VAR_1829',
 'VAR_1830',
 'VAR_1831',
 'VAR_1832',
 'VAR_1833',
 'VAR_1834',
 'VAR_1835',
 'VAR_1836',
 'VAR_1837',
 'VAR_1838',
 'VAR_1839',
 'VAR_1840',
 'VAR_1841',
 'VAR_1842',
 'VAR_1845',
 'VAR_1846',
 'VAR_1847',
 'VAR_1851',
 'VAR_1852',
 'VAR_1853',
 'VAR_1854',
 'VAR_1856',
 'VAR_1858',
 'VAR_1859',
 'VAR_1860',
 'VAR_1861',
 'VAR_1864',
 'VAR_1865',
 'VAR_1866',
 'VAR_1868',
 'VAR_1869',
 'VAR_1870',
 'VAR_1871',
 'VAR_1872',
 'VAR_1873',
 'VAR_1877',
 'VAR_1878',
 'VAR_1889',
 'VAR_1890',
 'VAR_1891',
 'VAR_1892',
 'VAR_1893',
 'VAR_1894',
 'VAR_1895',
 'VAR_1898',
 'VAR_1899',
 'VAR_1900',
 'VAR_1901',
 'VAR_1902',
 'VAR_1903',
 'VAR_1904',
 'VAR_1906',
 'VAR_1907',
 'VAR_1908',
 'VAR_1909',
 'VAR_1910',
 'VAR_1911',
 'VAR_1912',
 'VAR_1913',
 'VAR_1914',
 'VAR_1915',
 'VAR_1918',
 'VAR_1919',
 'VAR_1922',
 'VAR_1923',
 'VAR_1924',
 'VAR_1929',
 'VAR_1932',
 'VAR_1933']

['VAR_0001',
 'VAR_0005',
 'VAR_0015',
 'VAR_0016',
 'VAR_0017',
 'VAR_0033',
 'VAR_0036',
 'VAR_0037',
 'VAR_0045',
 'VAR_0046',
 'VAR_0047',
 'VAR_0048',
 'VAR_0049',
 'VAR_0052',
 'VAR_0053',
 'VAR_0054',
 'VAR_0055',
 'VAR_0056',
 'VAR_0057',
 'VAR_0058',
 'VAR_0090',
 'VAR_0091',
 'VAR_0092',
 'VAR_0093',
 'VAR_0094',
 'VAR_0095',
 'VAR_0096',
 'VAR_0097',
 'VAR_0098',
 'VAR_0099',
 'VAR_0100',
 'VAR_0101',
 'VAR_0102',
 'VAR_0103',
 'VAR_0104',
 'VAR_0105',
 'VAR_0106',
 'VAR_0107',
 'VAR_0108',
 'VAR_0109',
 'VAR_0110',
 'VAR_0111',
 'VAR_0112',
 'VAR_0113',
 'VAR_0114',
 'VAR_0115',
 'VAR_0116',
 'VAR_0117',
 'VAR_0118',
 'VAR_0119',
 'VAR_0120',
 'VAR_0121',
 'VAR_0122',
 'VAR_0123',
 'VAR_0124',
 'VAR_0125',
 'VAR_0126',
 'VAR_0127',
 'VAR_0128',
 'VAR_0129',
 'VAR_0130',
 'VAR_0131',
 'VAR_0132',
 'VAR_0133',
 'VAR_0134',
 'VAR_0138',
 'VAR_0139',
 'VAR_0140',
 'VAR_0141',
 'VAR_0142',
 'VAR_0143',
 'VAR_0144',
 'VAR_0145',
 'VAR_0146',
 'VAR_0148',
 'VAR_0150',
 'VAR_0151',
 'VAR_0152',
 'VAR_0153',
 'VAR_0160',
 'VAR_0162',
 'VAR_0163',
 'VAR_0170',
 'VAR_0172',
 'VAR_0173',
 'VAR_0180',
 'VAR_0181',
 'VAR_0182',
 'VAR_0183',
 'VAR_0184',
 'VAR_0185',
 'VAR_0186',
 'VAR_0187',
 'VAR_0191',
 'VAR_0192',
 'VAR_0193',
 'VAR_0194',
 'VAR_0195',
 'VAR_0219',
 'VAR_0220',
 'VAR_0226',
 'VAR_0230',
 'VAR_0231',
 'VAR_0232',
 'VAR_0236',
 'VAR_0244',
 'VAR_0245',
 'VAR_0247',
 'VAR_0248',
 'VAR_0249',
 'VAR_0250',
 'VAR_0251',
 'VAR_0252',
 'VAR_0253',
 'VAR_0256',
 'VAR_0258',
 'VAR_0259',
 'VAR_0260',
 'VAR_0261',
 'VAR_0262',
 'VAR_0264',
 'VAR_0265',
 'VAR_0268',
 'VAR_0269',
 'VAR_0271',
 'VAR_0275',
 'VAR_0276',
 'VAR_0277',
 'VAR_0278',
 'VAR_0281',
 'VAR_0283',
 'VAR_0284',
 'VAR_0285',
 'VAR_0286',
 'VAR_0287',
 'VAR_0290',
 'VAR_0291',
 'VAR_0292',
 'VAR_0294',
 'VAR_0305',
 'VAR_0306',
 'VAR_0307',
 'VAR_0308',
 'VAR_0311',
 'VAR_0312',
 'VAR_0314',
 'VAR_0325',
 'VAR_0326',
 'VAR_0327',
 'VAR_0328',
 'VAR_0332',
 'VAR_0339',
 'VAR_0343',
 'VAR_0344',
 'VAR_0345',
 'VAR_0346',
 'VAR_0347',
 'VAR_0348',
 'VAR_0349',
 'VAR_0350',
 'VAR_0351',
 'VAR_0352',
 'VAR_0353',
 'VAR_0354',
 'VAR_0355',
 'VAR_0356',
 'VAR_0357',
 'VAR_0358',
 'VAR_0359',
 'VAR_0360',
 'VAR_0362',
 'VAR_0363',
 'VAR_0365',
 'VAR_0371',
 'VAR_0372',
 'VAR_0373',
 'VAR_0374',
 'VAR_0375',
 'VAR_0376',
 'VAR_0377',
 'VAR_0378',
 'VAR_0379',
 'VAR_0380',
 'VAR_0381',
 'VAR_0382',
 'VAR_0383',
 'VAR_0384',
 'VAR_0385',
 'VAR_0386',
 'VAR_0387',
 'VAR_0388',
 'VAR_0389',
 'VAR_0390',
 'VAR_0391',
 'VAR_0392',
 'VAR_0393',
 'VAR_0395',
 'VAR_0396',
 'VAR_0397',
 'VAR_0398',
 'VAR_0399',
 'VAR_0400',
 'VAR_0401',
 'VAR_0402',
 'VAR_0405',
 'VAR_0409',
 'VAR_0411',
 'VAR_0412',
 'VAR_0413',
 'VAR_0414',
 'VAR_0415',
 'VAR_0416',
 'VAR_0420',
 'VAR_0421',
 'VAR_0422',
 'VAR_0423',
 'VAR_0424',
 'VAR_0426',
 'VAR_0428',
 'VAR_0429',
 'VAR_0430',
 'VAR_0431',
 'VAR_0432',
 'VAR_0433',
 'VAR_0437',
 'VAR_0445',
 'VAR_0449',
 'VAR_0450',
 'VAR_0451',
 'VAR_0452',
 'VAR_0453',
 'VAR_0454',
 'VAR_0455',
 'VAR_0456',
 'VAR_0457',
 'VAR_0458',
 'VAR_0459',
 'VAR_0460',
 'VAR_0461',
 'VAR_0462',
 'VAR_0463',
 'VAR_0464',
 'VAR_0466',
 'VAR_0467',
 'VAR_0468',
 'VAR_0469',
 'VAR_0470',
 'VAR_0471',
 'VAR_0472',
 'VAR_0473',
 'VAR_0476',
 'VAR_0477',
 'VAR_0478',
 'VAR_0479',
 'VAR_0480',
 'VAR_0482',
 'VAR_0483',
 'VAR_0484',
 'VAR_0485',
 'VAR_0486',
 'VAR_0487',
 'VAR_0488',
 'VAR_0489',
 'VAR_0490',
 'VAR_0491',
 'VAR_0494',
 'VAR_0495',
 'VAR_0496',
 'VAR_0497',
 'VAR_0498',
 'VAR_0499',
 'VAR_0500',
 'VAR_0501',
 'VAR_0502',
 'VAR_0503',
 'VAR_0504',
 'VAR_0505',
 'VAR_0506',
 'VAR_0507',
 'VAR_0508',
 'VAR_0509',
 'VAR_0510',
 'VAR_0511',
 'VAR_0512',
 'VAR_0513',
 'VAR_0518',
 'VAR_0519',
 'VAR_0520',
 'VAR_0521',
 'VAR_0522',
 'VAR_0523',
 'VAR_0524',
 'VAR_0525',
 'VAR_0526',
 'VAR_0529',
 'VAR_0532',
 'VAR_0533',
 'VAR_0534',
 'VAR_0537',
 'VAR_0538',
 'VAR_0539',
 'VAR_0545',
 'VAR_0546',
 'VAR_0547',
 'VAR_0548',
 'VAR_0549',
 'VAR_0562',
 'VAR_0563',
 'VAR_0564',
 'VAR_0565',
 'VAR_0566',
 'VAR_0567',
 'VAR_0568',
 'VAR_0569',
 'VAR_0572',
 'VAR_0580',
 'VAR_0581',
 'VAR_0582',
 'VAR_0590',
 'VAR_0603',
 'VAR_0605',
 'VAR_0606',
 'VAR_0619',
 'VAR_0621',
 'VAR_0622',
 'VAR_0624',
 'VAR_0626',
 'VAR_0637',
 'VAR_0638',
 'VAR_0639',
 'VAR_0640',
 'VAR_0647',
 'VAR_0657',
 'VAR_0658',
 'VAR_0662',
 'VAR_0663',
 'VAR_0664',
 'VAR_0665',
 'VAR_0666',
 'VAR_0667',
 'VAR_0668',
 'VAR_0678',
 'VAR_0679',
 'VAR_0686',
 'VAR_0689',
 'VAR_0690',
 'VAR_0703',
 'VAR_0710',
 'VAR_0714',
 'VAR_0718',
 'VAR_0724',
 'VAR_0727',
 'VAR_0729',
 'VAR_0730',
 'VAR_0731',
 'VAR_0732',
 'VAR_0733',
 'VAR_0734',
 'VAR_0735',
 'VAR_0736',
 'VAR_0737',
 'VAR_0738',
 'VAR_0739',
 'VAR_0740',
 'VAR_0741',
 'VAR_0742',
 'VAR_0743',
 'VAR_0744',
 'VAR_0745',
 'VAR_0746',
 'VAR_0747',
 'VAR_0748',
 'VAR_0749',
 'VAR_0750',
 'VAR_0753',
 'VAR_0754',
 'VAR_0755',
 'VAR_0756',
 'VAR_0758',
 'VAR_0759',
 'VAR_0760',
 'VAR_0761',
 'VAR_0762',
 'VAR_0763',
 'VAR_0764',
 'VAR_0765',
 'VAR_0766',
 'VAR_0767',
 'VAR_0769',
 'VAR_0770',
 'VAR_0771',
 'VAR_0772',
 'VAR_0773',
 'VAR_0775',
 'VAR_0776',
 'VAR_0777',
 'VAR_0779',
 'VAR_0780',
 'VAR_0782',
 'VAR_0783',
 'VAR_0784',
 'VAR_0786',
 'VAR_0787',
 'VAR_0788',
 'VAR_0789',
 'VAR_0795',
 'VAR_0797',
 'VAR_0798',
 'VAR_0799',
 'VAR_0800',
 'VAR_0802',
 'VAR_0803',
 'VAR_0804',
 'VAR_0805',
 'VAR_0807',
 'VAR_0808',
 'VAR_0809',
 'VAR_0810',
 'VAR_0816',
 'VAR_0817',
 'VAR_0818',
 'VAR_0819',
 'VAR_0827',
 'VAR_0828',
 'VAR_0832',
 'VAR_0833',
 'VAR_0837',
 'VAR_0838',
 'VAR_0839',
 'VAR_0841',
 'VAR_0842',
 'VAR_0846',
 'VAR_0848',
 'VAR_0849',
 'VAR_0850',
 'VAR_0851',
 'VAR_0852',
 'VAR_0923',
 'VAR_0924',
 'VAR_0927',
 'VAR_0928',
 'VAR_0932',
 'VAR_0933',
 'VAR_0940',
 'VAR_0941',
 'VAR_0947',
 'VAR_0948',
 'VAR_0953',
 'VAR_0960',
 'VAR_0965',
 'VAR_0967',
 'VAR_0971',
 'VAR_0972',
 'VAR_0973',
 'VAR_0974',
 'VAR_0975',
 'VAR_0986',
 'VAR_0987',
 'VAR_0988',
 'VAR_0994',
 'VAR_0995',
 'VAR_0999',
 'VAR_1002',
 'VAR_1003',
 'VAR_1009',
 'VAR_1010',
 'VAR_1012',
 'VAR_1013',
 'VAR_1015',
 'VAR_1017',
 'VAR_1021',
 'VAR_1024',
 'VAR_1025',
 'VAR_1026',
 'VAR_1027',
 'VAR_1033',
 'VAR_1037',
 'VAR_1041',
 'VAR_1042',
 'VAR_1045',
 'VAR_1050',
 'VAR_1051',
 'VAR_1052',
 'VAR_1053',
 'VAR_1055',
 'VAR_1056',
 'VAR_1057',
 'VAR_1058',
 'VAR_1059',
 'VAR_1060',
 'VAR_1061',
 'VAR_1062',
 'VAR_1063',
 'VAR_1064',
 'VAR_1065',
 'VAR_1066',
 'VAR_1067',
 'VAR_1068',
 'VAR_1069',
 'VAR_1070',
 'VAR_1071',
 'VAR_1073',
 'VAR_1080',
 'VAR_1098',
 'VAR_1099',
 'VAR_1100',
 'VAR_1101',
 'VAR_1102',
 'VAR_1103',
 'VAR_1104',
 'VAR_1105',
 'VAR_1106',
 'VAR_1107',
 'VAR_1108',
 'VAR_1109',
 'VAR_1155',
 'VAR_1158',
 'VAR_1161',
 'VAR_1162',
 'VAR_1163',
 'VAR_1164',
 'VAR_1165',
 'VAR_1166',
 'VAR_1167',
 'VAR_1168',
 'VAR_1175',
 'VAR_1176',
 'VAR_1177',
 'VAR_1186',
 'VAR_1187',
 'VAR_1188',
 'VAR_1189',
 'VAR_1190',
 'VAR_1192',
 'VAR_1193',
 'VAR_1194',
 'VAR_1195',
 'VAR_1196',
 'VAR_1197',
 'VAR_1198',
 'VAR_1205',
 'VAR_1206',
 'VAR_1207',
 'VAR_1212',
 'VAR_1213',
 'VAR_1214',
 'VAR_1218',
 'VAR_1225',
 'VAR_1226',
 'VAR_1230',
 'VAR_1232',
 'VAR_1235',
 'VAR_1236',
 'VAR_1237',
 'VAR_1239',
 'VAR_1253',
 'VAR_1254',
 'VAR_1255',
 'VAR_1256',
 'VAR_1257',
 'VAR_1268',
 'VAR_1269',
 'VAR_1270',
 'VAR_1271',
 'VAR_1272',
 'VAR_1273',
 'VAR_1278',
 'VAR_1279',
 'VAR_1280',
 'VAR_1281',
 'VAR_1282',
 'VAR_1283',
 'VAR_1284',
 'VAR_1285',
 'VAR_1286',
 'VAR_1287',
 'VAR_1288',
 'VAR_1289',
 'VAR_1290',
 'VAR_1291',
 'VAR_1292',
 'VAR_1295',
 'VAR_1296',
 'VAR_1298',
 'VAR_1299',
 'VAR_1300',
 'VAR_1301',
 'VAR_1302',
 'VAR_1303',
 'VAR_1305',
 'VAR_1306',
 'VAR_1307',
 'VAR_1324',
 'VAR_1325',
 'VAR_1326',
 'VAR_1338',
 'VAR_1340',
 'VAR_1345',
 'VAR_1346',
 'VAR_1347',
 'VAR_1349',
 'VAR_1350',
 'VAR_1351',
 'VAR_1352',
 'VAR_1362',
 'VAR_1377',
 'VAR_1378',
 'VAR_1379',
 'VAR_1393',
 'VAR_1394',
 'VAR_1396',
 'VAR_1400',
 'VAR_1401',
 'VAR_1405',
 'VAR_1406',
 'VAR_1407',
 'VAR_1408',
 'VAR_1411',
 'VAR_1412',
 'VAR_1413',
 'VAR_1414',
 'VAR_1415',
 'VAR_1416',
 'VAR_1417',
 'VAR_1422',
 'VAR_1423',
 'VAR_1427',
 'VAR_1429',
 'VAR_1430',
 'VAR_1431',
 'VAR_1432',
 'VAR_1433',
 'VAR_1434',
 'VAR_1435',
 'VAR_1443',
 'VAR_1449',
 'VAR_1450',
 'VAR_1458',
 'VAR_1459',
 'VAR_1460',
 'VAR_1461',
 'VAR_1466',
 'VAR_1467',
 'VAR_1468',
 'VAR_1469',
 'VAR_1471',
 'VAR_1475',
 'VAR_1476',
 'VAR_1479',
 'VAR_1480',
 'VAR_1505',
 'VAR_1506',
 'VAR_1507',
 'VAR_1508',
 'VAR_1509',
 'VAR_1510',
 'VAR_1511',
 'VAR_1532',
 'VAR_1533',
 'VAR_1534',
 'VAR_1535',
 'VAR_1536',
 'VAR_1537',
 'VAR_1538',
 'VAR_1539',
 'VAR_1540',
 'VAR_1541',
 'VAR_1542',
 'VAR_1543',
 'VAR_1544',
 'VAR_1545',
 'VAR_1546',
 'VAR_1547',
 'VAR_1548',
 'VAR_1549',
 'VAR_1550',
 'VAR_1551',
 'VAR_1552',
 'VAR_1553',
 'VAR_1554',
 'VAR_1555',
 'VAR_1556',
 'VAR_1557',
 'VAR_1558',
 'VAR_1559',
 'VAR_1560',
 'VAR_1561',
 'VAR_1562',
 'VAR_1563',
 'VAR_1564',
 'VAR_1565',
 'VAR_1566',
 'VAR_1568',
 'VAR_1569',
 'VAR_1570',
 'VAR_1573',
 'VAR_1584',
 'VAR_1585',
 'VAR_1586',
 'VAR_1587',
 'VAR_1588',
 'VAR_1590',
 'VAR_1591',
 'VAR_1592',
 'VAR_1593',
 'VAR_1594',
 'VAR_1595',
 'VAR_1596',
 'VAR_1597',
 'VAR_1598',
 'VAR_1599',
 'VAR_1600',
 'VAR_1601',
 'VAR_1602',
 'VAR_1603',
 'VAR_1604',
 'VAR_1605',
 'VAR_1606',
 'VAR_1607',
 'VAR_1608',
 'VAR_1609',
 'VAR_1610',
 'VAR_1613',
 'VAR_1632',
 'VAR_1633',
 'VAR_1634',
 'VAR_1635',
 'VAR_1636',
 'VAR_1637',
 'VAR_1638',
 'VAR_1656',
 'VAR_1657',
 'VAR_1658',
 'VAR_1659',
 'VAR_1660',
 'VAR_1662',
 'VAR_1663',
 'VAR_1664',
 'VAR_1665',
 'VAR_1666',
 'VAR_1667',
 'VAR_1668',
 'VAR_1669',
 'VAR_1670',
 'VAR_1671',
 'VAR_1672',
 'VAR_1673',
 'VAR_1674',
 'VAR_1675',
 'VAR_1676',
 'VAR_1677',
 'VAR_1678',
 'VAR_1679',
 'VAR_1680',
 'VAR_1681',
 'VAR_1682',
 'VAR_1683',
 'VAR_1702',
 'VAR_1703',
 'VAR_1704',
 'VAR_1705',
 'VAR_1706',
 'VAR_1707',
 'VAR_1708',
 'VAR_1713',
 'VAR_1714',
 'VAR_1721',
 'VAR_1722',
 'VAR_1723',
 'VAR_1724',
 'VAR_1725',
 'VAR_1726',
 'VAR_1727',
 'VAR_1728',
 'VAR_1734',
 'VAR_1735',
 'VAR_1741',
 'VAR_1743',
 'VAR_1744',
 'VAR_1745',
 'VAR_1746',
 'VAR_1749',
 'VAR_1752',
 'VAR_1753',
 'VAR_1763',
 'VAR_1764',
 'VAR_1765',
 'VAR_1770',
 'VAR_1771',
 'VAR_1772',
 'VAR_1773',
 'VAR_1775',
 'VAR_1776',
 'VAR_1779',
 'VAR_1780',
 'VAR_1783',
 'VAR_1784',
 'VAR_1787',
 'VAR_1788',
 'VAR_1791',
 'VAR_1793',
 'VAR_1794',
 'VAR_1816',
 'VAR_1817',
 'VAR_1818',
 'VAR_1819',
 'VAR_1820',
 'VAR_1821',
 'VAR_1822',
 'VAR_1843',
 'VAR_1844',
 'VAR_1848',
 'VAR_1849',
 'VAR_1850',
 'VAR_1855',
 'VAR_1857',
 'VAR_1862',
 'VAR_1863',
 'VAR_1867',
 'VAR_1874',
 'VAR_1875',
 'VAR_1876',
 'VAR_1879',
 'VAR_1880',
 'VAR_1881',
 'VAR_1882',
 'VAR_1883',
 'VAR_1884',
 'VAR_1885',
 'VAR_1886',
 'VAR_1887',
 'VAR_1888',
 'VAR_1896',
 'VAR_1897',
 'VAR_1905',
 'VAR_1916',
 'VAR_1917',
 'VAR_1920',
 'VAR_1921',
 'VAR_1925',
 'VAR_1926',
 'VAR_1927',
 'VAR_1928',
 'VAR_1930',
 'VAR_1931',
 'VAR_1934',
 'VAR_0075',
 'VAR_0200',
 'VAR_0204',
 'VAR_0217',
 'VAR_0237',
 'VAR_0274',
 'VAR_0342',
 'VAR_0404',
 'VAR_0493']

In [27]:
X_train[num_cols_mean] # Num dataset, impute by 'mean' strategy
print()
X_train[num_cols_mean].dtypes.value_counts()
print('No. of null values in numerical coulmns: ', X_train[num_cols_mean].isnull().sum().sum())
len(X_train[num_cols_mean])
X_train[num_cols_mean].shape


X_train[cat_cols_mf] # Cat dataset, impute by 'most_frequent' strategy
print()
X_train[cat_cols_mf].dtypes.value_counts()
print('No. of null values in categorical coulmns: ', X_train[cat_cols_mf].isnull().sum().sum())
len(X_train[cat_cols_mf])
X_train[cat_cols_mf].shape

,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0034,VAR_0035,VAR_0050,...,VAR_1914,VAR_1915,VAR_1918,VAR_1919,VAR_1922,VAR_1923,VAR_1924,VAR_1929,VAR_1932,VAR_1933
0,224,0,4300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51710,51710,9998,9998,51710,51710,9998,51710,9998,9998
1,7,53,4448,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,6125,76,9996,111,51710,51710,9998,51710,9998,9998
2,116,3,3464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51709,51709,9996,113,51710,51710,9998,51710,9998,9998
3,240,300,3200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51710,51710,9998,9998,51710,51710,9998,51710,9998,9998
4,72,261,2000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51710,51710,9998,9998,51710,51710,9998,51710,9998,9998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,276,144,3000,2.0,3.0,2.0,3.0,2.0,2.0,1.0,...,51710,51710,9998,9998,51710,51710,9998,51710,9998,9998
145227,39,414,2821,3.0,1.0,3.0,1.0,0.0,0.0,2.0,...,30425,342,9996,39,51710,51710,9998,51710,9998,9998
145228,103,31,2604,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,51708,51708,55,76,51710,51710,9998,51710,9998,9998
145229,78,12,4325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51710,51710,9998,9998,51710,51710,9998,51710,9998,9998
145230,228,120,18500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51710,51710,9998,9998,51710,51710,9998,51710,9998,9998

uint16     852
float16    148
dtype: int64

No. of null values in numerical coulmns:  84579

145231

(145231, 1000)

,VAR_0001,VAR_0005,VAR_0015,VAR_0016,VAR_0017,VAR_0033,VAR_0036,VAR_0037,VAR_0045,VAR_0046,...,VAR_1934,VAR_0075,VAR_0200,VAR_0204,VAR_0217,VAR_0237,VAR_0274,VAR_0342,VAR_0404,VAR_0493
0,H,C,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,08NOV11:00:00:00,FT LAUDERDALE,29JAN14:21:16:00,08NOV11:02:00:00,FL,FL,CF,CHIEF EXECUTIVE OFFICER,COMMUNITY ASSOCIATION MANAGER
1,H,B,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,10NOV11:00:00:00,SANTEE,01FEB14:00:11:00,02OCT12:02:00:00,CA,MI,EC,-1,-1
2,H,C,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,13DEC11:00:00:00,REEDSVILLE,30JAN14:15:11:00,13DEC11:02:00:00,WV,WV,UU,-1,-1
3,H,C,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,RCC,23SEP10:00:00:00,LIBERTY,01FEB14:00:07:00,01NOV12:02:00:00,TX,TX,-1,-1,-1
4,R,N,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,BRANCH,15OCT11:00:00:00,FRANKFORT,29JAN14:19:31:00,15OCT11:02:00:00,IL,IL,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145226,H,C,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,...,BRANCH,27APR10:00:00:00,LAFAYETTE,31JAN14:16:36:00,07JUL12:02:00:00,LA,LA,-1,-1,-1
145227,R,C,5.0,4.0,4.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,22DEC08:00:00:00,GARDENA,30JAN14:23:23:00,24MAY12:02:00:00,CA,CA,BE,-1,-1
145228,R,B,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,BRANCH,29NOV11:00:00:00,COVINA,31JAN14:21:10:00,21AUG12:02:00:00,CA,CA,CC,-1,-1
145229,H,C,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,09MAY12:00:00:00,BATAVIA,30JAN14:22:34:00,09MAY12:02:00:00,OH,NaN,NaN,NaN,NaN
145230,H,B,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,19SEP12:00:00:00,SHERMAN OAKS,31JAN14:23:11:00,19SEP12:02:00:00,CA,CA,-1,-1,-1

uint16     550
float16    281
object      24
dtype: int64

No. of null values in categorical coulmns:  186831

145231

(145231, 855)

In [28]:
X_train.dtypes.value_counts()

uint16     1402
float16     429
object       24
dtype: int64

In [29]:
X_train_c = X_train.copy()

In [30]:
for col in X_train[num_cols_mean]:
    X_train[col].fillna(X_train[col].mean(), inplace=True)

for col in X_train[cat_cols_mf]:
    X_train[col].fillna(X_train[col].mode(), inplace=True)

X_train.shape

(145231, 1855)

In [32]:
X_train.dropna(axis=0, inplace=True)
X_train.shape
for cols in X_train[num_cols_mean]:
    if X_train[cols].dtypes=='float16':
        X_train[cols].astype(int)

(144262, 1855)

0         0
1         1
2         0
3         0
4         0
         ..
145225    1
145226    2
145227    3
145228    1
145230    0
Name: VAR_0006, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    3
145227    1
145228    1
145230    0
Name: VAR_0007, Length: 144262, dtype: int32

0         0
1         1
2         0
3         0
4         0
         ..
145225    1
145226    2
145227    3
145228    1
145230    0
Name: VAR_0013, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    3
145227    1
145228    1
145230    0
Name: VAR_0014, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    2
145227    0
145228    1
145230    0
Name: VAR_0034, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    2
145227    0
145228    1
145230    0
Name: VAR_0035, Length: 144262, dtype: int32

0         0
1         1
2         0
3         0
4         0
         ..
145225    0
145226    1
145227    2
145228    1
145230    0
Name: VAR_0050, Length: 144262, dtype: int32

0         0
1         1
2         0
3         1
4         0
         ..
145225    0
145226    1
145227    2
145228    1
145230    0
Name: VAR_0051, Length: 144262, dtype: int32

0         1
1         1
2         1
3         1
4         1
         ..
145225    1
145226    1
145227    1
145228    1
145230    1
Name: VAR_0059, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    1
145227    1
145228    1
145230    1
Name: VAR_0060, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    2
145227    1
145228    1
145230    1
Name: VAR_0061, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    3
145227    1
145228    1
145230    1
Name: VAR_0062, Length: 144262, dtype: int32

0         1
1         3
2         1
3         1
4         1
         ..
145225    2
145226    4
145227    6
145228    4
145230    1
Name: VAR_0063, Length: 144262, dtype: int32

0          1
1          3
2          1
3          1
4          1
          ..
145225     2
145226    11
145227    11
145228     4
145230     1
Name: VAR_0064, Length: 144262, dtype: int32

0          1
1          3
2          1
3          1
4          1
          ..
145225     2
145226    14
145227    20
145228     4
145230     1
Name: VAR_0065, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    0
145226    0
145227    2
145228    0
145230    0
Name: VAR_0066, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    0
145227    2
145228    0
145230    0
Name: VAR_0067, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    1
145227    2
145228    0
145230    0
Name: VAR_0068, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    2
145227    2
145228    0
145230    0
Name: VAR_0069, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    3
145227    6
145228    5
145230    0
Name: VAR_0070, Length: 144262, dtype: int32

0          0
1          0
2          0
3          0
4          0
          ..
145225     1
145226    16
145227    14
145228     5
145230     0
Name: VAR_0071, Length: 144262, dtype: int32

0          0
1          0
2          0
3          0
4          0
          ..
145225     1
145226    19
145227    22
145228     5
145230     0
Name: VAR_0072, Length: 144262, dtype: int32

0         1
1         1
2         1
3         1
4         1
         ..
145225    1
145226    1
145227    3
145228    1
145230    1
Name: VAR_0076, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    1
145227    3
145228    1
145230    1
Name: VAR_0077, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    2
145227    3
145228    1
145230    1
Name: VAR_0078, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    3
145227    3
145228    1
145230    1
Name: VAR_0079, Length: 144262, dtype: int32

0         1
1         3
2         1
3         1
4         1
         ..
145225    2
145226    4
145227    8
145228    7
145230    1
Name: VAR_0080, Length: 144262, dtype: int32

0          1
1          3
2          1
3          1
4          1
          ..
145225     2
145226    20
145227    16
145228     7
145230     1
Name: VAR_0081, Length: 144262, dtype: int32

0          1
1          3
2          1
3          1
4          1
          ..
145225     2
145226    23
145227    25
145228     7
145230     1
Name: VAR_0082, Length: 144262, dtype: int32

0         1
1         1
2         1
3         1
4         1
         ..
145225    1
145226    1
145227    3
145228    1
145230    1
Name: VAR_0083, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    1
145227    3
145228    1
145230    1
Name: VAR_0084, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    2
145227    3
145228    1
145230    1
Name: VAR_0085, Length: 144262, dtype: int32

0         1
1         2
2         1
3         1
4         1
         ..
145225    2
145226    3
145227    3
145228    1
145230    1
Name: VAR_0086, Length: 144262, dtype: int32

0         1
1         4
2         1
3         1
4         1
         ..
145225    2
145226    5
145227    8
145228    8
145230    1
Name: VAR_0087, Length: 144262, dtype: int32

0          1
1          4
2          1
3          1
4          1
          ..
145225     2
145226    21
145227    18
145228     8
145230     1
Name: VAR_0088, Length: 144262, dtype: int32

0          1
1          4
2          1
3          2
4          1
          ..
145225     2
145226    24
145227    27
145228     8
145230     1
Name: VAR_0089, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    1
145226    0
145227    1
145228    0
145230    0
Name: VAR_0135, Length: 144262, dtype: int32

0         0
1         1
2         0
3         0
4         0
         ..
145225    1
145226    0
145227    1
145228    0
145230    0
Name: VAR_0136, Length: 144262, dtype: int32

0         0
1         1
2         0
3         0
4         0
         ..
145225    1
145226    1
145227    1
145228    0
145230    0
Name: VAR_0137, Length: 144262, dtype: int32

0           0
1           0
2           0
3           0
4           0
         ...
145225      0
145226    645
145227      0
145228      0
145230      0
Name: VAR_0147, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    0
145226    0
145227    0
145228    0
145230    0
Name: VAR_0149, Length: 144262, dtype: int32

0            0
1            0
2            0
3            0
4            0
          ...
145225       0
145226       0
145227    1096
145228     850
145230       0
Name: VAR_0154, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    0
145226    0
145227    0
145228    0
145230    0
Name: VAR_0155, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    0
145226    5
145227    1
145228    1
145230    0
Name: VAR_0161, Length: 144262, dtype: int32

0           0
1           0
2           0
3           0
4           0
         ...
145225      0
145226    645
145227      0
145228      0
145230      0
Name: VAR_0164, Length: 144262, dtype: int32

0           0
1           0
2           0
3           0
4           0
         ...
145225      0
145226    645
145227      0
145228      0
145230      0
Name: VAR_0165, Length: 144262, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
145225    0
145226    5
145227    1
145228    2
145230    0
Name: VAR_0171, Length: 144262, dtype: int32

0            0
1            0
2            0
3            0
4            0
          ...
145225       0
145226     645
145227    1096
145228     850
145230       0
Name: VAR_0174, Length: 144262, dtype: int32

0           0
1           0
2           0
3           0
4           0
         ...
145225      0
145226    645
145227      0
145228      0
145230      0
Name: VAR_0175, Length: 144262, dtype: int32

0         64
1         40
2         28
3         47
4         57
          ..
145225    26
145226    47
145227    58
145228    30
145230    51
Name: VAR_0198, Length: 144262, dtype: int32

0         0
1         1
2         0
3         1
4         0
         ..
145225    0
145226    1
145227    2
145228    1
145230    0
Name: VAR_0201, Length: 144262, dtype: int32

0          1
1          1
2          1
3          1
4          1
          ..
145225     1
145226     1
145227     1
145228    11
145230     1
Name: VAR_0224, Length: 144262, dtype: int32

0         1
1         1
2         1
3         1
4         1
         ..
145225    1
145226    1
145227    1
145228    1
145230    1
Name: VAR_0225, Length: 144262, dtype: int32

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [33]:
# for col in X_test:
#    if X_test[col].dtypes=='uint16':
#        X_test[col].fillna(X_test[col].mean(), inplace=True)
#
#for col in X_test:        
#    if X_test[col].dtypes=='float16':
 #       X_test[col].fillna(X_test[col].mean(), inplace=True)
#
#for col in X_train[cat_cols_mf]:
#    if X_test[col].dtypes=='object':
#        X_train[col].fillna(X_train[col].mode(), inplace=True)
#
#X_test.shape
#
#X_test.dropna(axis=0, inplace=True)
#X_test.shape

In [34]:
X_train[cat_cols_mf]

,VAR_0001,VAR_0005,VAR_0015,VAR_0016,VAR_0017,VAR_0033,VAR_0036,VAR_0037,VAR_0045,VAR_0046,...,VAR_1934,VAR_0075,VAR_0200,VAR_0204,VAR_0217,VAR_0237,VAR_0274,VAR_0342,VAR_0404,VAR_0493
0,H,C,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,08NOV11:00:00:00,FT LAUDERDALE,29JAN14:21:16:00,08NOV11:02:00:00,FL,FL,CF,CHIEF EXECUTIVE OFFICER,COMMUNITY ASSOCIATION MANAGER
1,H,B,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,10NOV11:00:00:00,SANTEE,01FEB14:00:11:00,02OCT12:02:00:00,CA,MI,EC,-1,-1
2,H,C,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,13DEC11:00:00:00,REEDSVILLE,30JAN14:15:11:00,13DEC11:02:00:00,WV,WV,UU,-1,-1
3,H,C,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,RCC,23SEP10:00:00:00,LIBERTY,01FEB14:00:07:00,01NOV12:02:00:00,TX,TX,-1,-1,-1
4,R,N,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,BRANCH,15OCT11:00:00:00,FRANKFORT,29JAN14:19:31:00,15OCT11:02:00:00,IL,IL,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145225,R,N,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,09OCT12:00:00:00,KATY,01FEB14:00:55:00,21OCT12:02:00:00,TX,TX,DD,-1,-1
145226,H,C,1.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,...,BRANCH,27APR10:00:00:00,LAFAYETTE,31JAN14:16:36:00,07JUL12:02:00:00,LA,LA,-1,-1,-1
145227,R,C,5.0,4.0,4.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,22DEC08:00:00:00,GARDENA,30JAN14:23:23:00,24MAY12:02:00:00,CA,CA,BE,-1,-1
145228,R,B,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,BRANCH,29NOV11:00:00:00,COVINA,31JAN14:21:10:00,21AUG12:02:00:00,CA,CA,CC,-1,-1
145230,H,B,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,IAPS,19SEP12:00:00:00,SHERMAN OAKS,31JAN14:23:11:00,19SEP12:02:00:00,CA,CA,-1,-1,-1

In [35]:
X_train[cat_cols_mf].describe()

,VAR_0015,VAR_0016,VAR_0017,VAR_0033,VAR_0036,VAR_0037,VAR_0045,VAR_0046,VAR_0047,VAR_0048,...,VAR_1916,VAR_1917,VAR_1920,VAR_1921,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1930,VAR_1931
count,144262.0,144262.0,144262.0,144262.0,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,...,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000,144262.000000
mean,NaN,NaN,NaN,NaN,0.339844,0.296875,0.004124,0.014694,0.026596,0.037079,...,699.752922,721.728841,0.774015,77.356047,0.550048,86.662926,89.832631,914.457640,922.915043,936.505469
std,0.0,0.0,0.0,0.0,0.000000,0.000000,0.074585,0.194214,0.263428,0.304688,...,434.428867,433.719048,6.401342,39.784171,6.361383,31.349420,26.922343,276.300735,212.146613,210.366422
min,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.0,1.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,120.000000,120.000000,0.000000,98.000000,0.000000,98.000000,98.000000,998.000000,998.000000,998.000000
50%,0.0,1.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,998.000000,998.000000,0.000000,98.000000,0.000000,98.000000,98.000000,998.000000,998.000000,998.000000
75%,1.0,1.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,998.000000,998.000000,0.000000,98.000000,0.000000,98.000000,98.000000,998.000000,998.000000,998.000000
max,35.0,39.0,26.0,71.0,70.000000,24.000000,12.000000,52.000000,65.000000,65.000000,...,999.000000,999.000000,99.000000,99.000000,99.000000,99.000000,99.000000,999.000000,999.000000,999.000000

In [36]:
X_train[['VAR_0404', 'VAR_0466', 'VAR_0467', 'VAR_0493']].nunique(dropna=False)

VAR_0404    1821
VAR_0466       2
VAR_0467       4
VAR_0493     608
dtype: int64

In [37]:
X_train['VAR_0466'].value_counts() / X_train.shape[0]
X_train['VAR_0467'].value_counts() / X_train.shape[0]

-1    0.841705
I     0.158295
Name: VAR_0466, dtype: float64

-1              0.843188
Discharged      0.145153
Dismissed       0.010925
Discharge NA    0.000735
Name: VAR_0467, dtype: float64

In [38]:
dates = ['VAR_0075', 'VAR_0204', 'VAR_0217']
locations = ['VAR_200', 'VAR_0237', 'VAR_274']

date1 = pd.to_datetime(X_train["VAR_0075"],format = '%d%b%y:%H:%M:%S')
date2 = pd.to_datetime(X_train["VAR_0217"],format = '%d%b%y:%H:%M:%S')
np.all(date2 > date1)

True

In [39]:
from datetime import datetime
year_func = lambda x: datetime.strptime(x, "%d%b%y:%H:%M:%S" ).year
month_func = lambda x: datetime.strptime(x, "%d%b%y:%H:%M:%S" ).month
day_func = lambda x: datetime.strptime(x, "%d%b%y:%H:%M:%S" ).day
hour_func = lambda x: datetime.strptime(x, "%d%b%y:%H:%M:%S" ).hour
minute_func = lambda x: datetime.strptime(x, "%d%b%y:%H:%M:%S" ).minute

enc_data =  pd.DataFrame(index=X_train.index)
for col in X_train[cat_cols_mf]:
    enc_data[col] = X_train[col].factorize()[0]
    if col in dates:
        enc_data[col + '_year'] = X_train[col].map(year_func)
        enc_data[col + '_month'] = X_train[col].map(month_func)
        enc_data[col + '_day'] = X_train[col].map(day_func)
        enc_data[col + '_hour'] = X_train[col].map(hour_func)
        enc_data[col + '_minute'] = X_train[col].map(minute_func)
expanded_categoricals = list(enc_data.columns) # saving which variables are categorical for possible one hot encoding 
enc_data["target"] = Target
# finding correlation and looking at it
corrmat = enc_data.corr()
corrmat["target"].sort_values(ascending=False)

target             1.000000
VAR_0105           0.206957
VAR_0505           0.203600
VAR_0121           0.202591
VAR_0145           0.197977
                     ...
VAR_0075_hour           NaN
VAR_0075_minute         NaN
VAR_0204_year           NaN
VAR_0217_hour           NaN
VAR_0217_minute         NaN
Name: target, Length: 871, dtype: float64

In [40]:
print(round(df_train.target.value_counts() *100/ df_train.target.count(),2))

0    76.75
1    23.25
Name: target, dtype: float64

In [41]:
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA

In [42]:
num_samples = 500 # number of samples to use from each class of target for dimensionality reduction, reduce this if you are impatient!
numerical_feats = X_train[num_cols_mean]
new_data = pd.concat([numerical_feats, enc_data], axis=1)
positive_samples = new_data[new_data['target'] == 1].sample(num_samples)
negative_samples = new_data[new_data['target'] == 0].sample(num_samples)
to_transform = pd.concat([positive_samples, negative_samples]).sample(frac=1).reset_index(drop=True)
to_transform.head(20)

,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0034,VAR_0035,VAR_0050,...,VAR_0217_month,VAR_0217_day,VAR_0217_hour,VAR_0217_minute,VAR_0237,VAR_0274,VAR_0342,VAR_0404,VAR_0493,target
0,120,216,4936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,10,2,0,1,6,12,1,1,0
1,127,62,1300,10.0,4.0,10.0,4.0,12.0,7.0,3.0,...,2,2,2,0,7,8,6,1,1,1
2,50,0,2008,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,10,31,2,0,19,30,10,1,1,1
3,70,0,1398,2.0,1.0,2.0,1.0,0.0,0.0,2.0,...,10,20,2,0,12,15,6,1,1,1
4,79,0,1661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5,24,2,0,14,13,6,1,1,0
5,45,42,1800,5.0,3.0,5.0,3.0,1.0,1.0,4.0,...,10,24,2,0,9,28,7,1,1,1
6,54,42,2712,3.0,1.0,3.0,1.0,2.0,1.0,0.0,...,12,8,2,0,15,20,4,1,2,0
7,115,43,3411,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8,25,2,0,11,12,2,1,1,0
8,7,164,1480,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4,4,2,0,4,37,9,1,1,0
9,26,13,1400,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,4,21,2,0,3,3,3,1,18,1
10,13,36,4500,3.0,3.0,3.0,2.0,3.0,2.0,3.0,...,1,12,2,0,1,28,16,6,1,0
11,613,65,5000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,10,4,2,0,17,19,9,1,1,0
12,181,205,5425,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9,12,2,0,4,4,3,1,1,0
13,132,11,4528,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,6,21,2,0,19,0,11,1,1,1
14,6,144,4800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9,16,2,0,0,19,7,1,1,1
15,12,6,1600,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,10,30,2,0,13,16,6,1,1,1
16,24,48,1171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11,29,2,0,14,13,6,1,1,1
17,84,18,4368,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,12,2,2,0,6,10,4,1,1,1
18,60,137,1800,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,11,28,2,0,21,18,11,1,1,1
19,41,27,4978,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11,4,2,0,1,6,20,1,1,1

In [43]:
features = to_transform.drop(['target'], axis=1, inplace=False)
labels = to_transform['target']

In [44]:
pca_embedding =  PCA(n_components=2) 
pca_emb_data = pca_embedding.fit_transform(features.values)
plt.figure(figsize=(15,15))
plt.scatter(pca_emb_data[labels == 1, 0], pca_emb_data[labels == 1, 1], color='red', label='positive samples')
plt.scatter(pca_emb_data[labels == 0, 0], pca_emb_data[labels == 0, 1], color='blue', label='negative samples')
plt.legend()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
tsne_embedding =  TSNE(n_components=2) 
tsne_emb_data = tsne_embedding.fit_transform(features.values)
plt.figure(figsize=(15,15))
plt.title('Reduced data with tSNE')
plt.scatter(tsne_emb_data[labels == 1, 0], tsne_emb_data[labels == 1, 1], color='red', label='positive samples')
plt.scatter(tsne_emb_data[labels == 0, 0], tsne_emb_data[labels == 0, 1], color='blue', label='negative samples')
plt.legend()

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit_transform(X_train[num_cols_mean])
a= ss.transform(X_train[num_cols_mean])

In [ ]:
from sklearn.preprocessing import OneHotEncoder as onehot

ohe = onehot(sparse = False)
b=ohe.fit_transform(X_train[cat_cols_mf])

In [ ]:
X = np.hstack([a,b]) #Let X be the new dataframe

In [ ]:
X_train,X_test, y_train, y_test = train_test_split(
                                                    X,                   # Data features
                                                    Target,                   # Target column
                                                    test_size = 0.2, random_state = 100     # split-ratio
                                                    )

In [ ]:
# For imbalanced dataset:
sm = SMOTE(random_state = 3)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)
  
print('X_train shape after oversampling: {}'.format(X_train_res.shape))
print('Y_train shape after oversampling: {} \n'.format(y_train_res.shape))
  
print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0)))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn import tree
dt = DecisionTreeClassifier(criterion = 'entropy',random_state = 0,max_depth=5)
dt.fit(X_train_res,y_train_res)
y_prediction = dt.predict(X_test)
print(classification_report(y_test, y_prediction))

In [ ]:
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier()
model_rf.fit(X_train_res, y_train_res)
y_predicted = model_rf.predict(X_test)
print(classification_report(y_test, y_predicted))

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train_res, y_train_res)
y_pred = classifier.predict(X_test)

print(classification_report(y_test, y_pred))